@import url(pretendard.css); 
h1,h2,h3,h4,h5,h6,p,a{
    font-weight: inherit;  
    font-size: inherit;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}

body{
    font-family: 'pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
}
.wrapper{
    width: 1260px;
    margin: 0 auto;
}

.global h2{
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 114px 0 16px 0;
}
.global .world{
    color: #00b900;
    margin: 0 0 7px 0;
}
.global a{
    display: inline-block;
    border: 1px solid #00b900;
    color: #00b900;
    margin: 30px 0 41px 0;
    padding: 5px 30px;
}

.stickers{
    background: url(../images/bg1.jpg);
    color: #fff;
    margin: 89px 0 200px 0;
    text-align: center;
}
.stickers h2{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    padding: 115px 0 13px 0;
}
.stickers a{
    display: inline-block;
    border: 1px solid #fff;
    margin: 33px 0 41px 0;
    padding: 5px 24px;
}
.stickers img{
    margin: 0 0 97px 0;
}