@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-height);
    color: var(--color-white); /* 글자색 */
    fill: var(--color-white);  /* 아이콘색 */
    padding: 0 var(--wrapper-margin); /* 디자인의 좌우여백 */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex; /* h1-nav-util 좌우배치 */
    justify-content: space-between;
    align-items: center;
    /* transition: background-color 0.3s; 얘를 안주면 그냥 확 바뀜 - 그게 깔끔해보임*/
}
.header .logo a{
    display: block;

    width: calc(var(--header-height) * 1.78);  /* 계산식으로 해야 브라우저 사이즈가 줄어들 때 같이 줄어듬 */
    min-width: 121px;
    /* width: max(121px, calc(var(--header-height) * 1.78)); --> 위에 두 값을 한 번에 주는 값 */

    height: calc(var(--header-height) * 0.28); /* 로고의 넓이와 높이를 헤더의 높이의 몇 배인지 계산해서 넣기 */
    min-height: 19px;
    /* height: max(19px, calc(var(--header-height) * 0.28)); --> 위에 두 값을 한 번에 주는 값 */

    background: url(../images/logo_w.svg) no-repeat center center / contain; /* logo처럼 짤리면 안되는 애들은 contain으로 주면 브라우저 사이즈 줄어들어도 안짤림 */
}
.header.fixed{
    background-color: var(--color-white);
    color: var(--font-color-txt);
    fill: var(--font-color-txt);
    border-bottom: 1px solid #ccc;
}
.header.fixed .logo a{
    background-image: url(../images/logo_black.svg);
}

@media screen and (min-width:1025px){ /* 1025px 이상 */
/* header는 pc와 모바일이 로고 빼고 브라우저 사이즈마다 스타일이 달라서 pc 버전/ 모바일 스타일을
   media로 구분함 min-width:1025px -> 1025px 이상에만 적용 - pc용 
                 max-width:1024px -> 1024px 이하에만 적용  - 모바일용 */

            .header .gnb .gnb_open,
            .header .gnb .gnb_wrap .gnb_logo,
            .header .gnb .gnb_wrap .gnb_close{
                display: none; /* 모바일에서만 보임 */
            }
            .header .gnb .gnb_wrap ul.depth1{
                display: flex; /* 1차메뉴 좌우 배치 */
            }
            .header .gnb .gnb_wrap ul.depth1 > li{
                position: relative; /* ul.depth2 정렬의 기준 */
                min-width: 0; /* 최소넓이 0 -> 180px로 부드럽게 넓어지게 하기 위함 */
                transition: 0.3s;
            }
            .header .gnb .gnb_wrap ul.depth1 > li > a{
                display: block;
                font-family: var(--font-family-Eulyoo);
                font-size: 22px;
                /* 행간을 header 높이만큼 주면 a의 높이가 header 높이가 되고, 글자도 위아래 가운데 들어감 */
                line-height: var(--header-height); /* 위아래로 헤더의 높이만큼 눌려야 하기 때문에 */
                padding: 0 25px; /* 좌우로도 여백의 반만큼 눌려야 함 / 마우스 오버 전에는 메뉴 사이의 여백이 동일 */
                text-align: center;
                position: relative; /* after 정렬의 기준 */
            }
            .header .gnb .gnb_wrap ul.depth1 > li > a::after{  /* 1차메뉴 제목의 선 */
                content: "";
                position: absolute; /* a를 기준으로 정렬 */
                left: 50%;
                transform: translateX(-50%);
                bottom: -2px;
                z-index: 2; /* header 아래선에 깔려서 주는 값 */
                width: 0;
                height: 3px;
                background-color: var(--color-main);
                /* transition: 0.3s; */ /* 얘를 안주면 선이 그냥 바로 뽝 생김 */
            }
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
                /* 2차메뉴 - 무조건 absolute */
                display: block !important; /* 선택자의 우선순위와 상관없이 무조건 이 속성을 우선 적용하겠다는 뜻(- js때문) */
                position: absolute; /* ul.depth1 li를 기준으로 정렬 */
                left: 0;
                top: var(--header-height);  /* 1차메뉴 바로 아래여야 하기 때문에 header의 높이만큼 아래로 떨어트리는거임 */
                width: 100%;
                height: 0;
                text-align: center;
                padding: 0;
                border-right: 1px solid #ccc;
                opacity: 0;
                transition: 0.3s;
                overflow: hidden;
                /* 
                    display: none;으로 숨겼다가 display: block;으로 보이게 하는 요소는
                    transition이 안들어감
                */
            }
            .header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
                padding: 24px 0 0 0; /* header의 아래 선으로부터 떨어지는 여백 */
                height: 260px;
                opacity: 1;
            }
            .header .gnb .gnb_wrap ul.depth1 > li:first-child > ul.depth2{
                /* 첫 번쨰 1차메뉴의 depth2 */
                border-left: 1px solid #ccc;
            }
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a{
                display: block;
                padding: 8px 0;
            }
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover{
                color: var(--color-main);
            }
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span{
                position: relative; /* after 정렬의 기준 */
            }
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: -1px;
                width: 0;
                height: 1px;
                background-color: var(--color-main);
                transition: 0.3s;
            }
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover > span::after{ /* 2차메뉴는 header나 li에 클래스를 주지 않고 a에 오버했을 때 나오는거임 */
                width: 100%;
            }
            .header .util{
                display: flex;
            }
            .header .util .search .search_open,
            .header .util .mypage{
                /* 아이콘을 가운데 정렬하기 위함 */
                display: flex;
                justify-content: center;
                align-items: center;
                
                width: 50px;
                height: 50px;
            }

            /************** 메뉴에 마우스를 올렸을 때 **************/
            .header.menu_over{
                color: var(--font-color-txt); /* 글자색 */
                fill: var(--font-color-txt);  /* 아이콘색 */
            }
            .header::before{ /* header 2차메뉴 의 흰색 배경 */
                content: "";
                position: absolute;  /* header(fixed)를 기준으로 정렬 */
                left: 0;
                top: 0;
                z-index: -1; /* 얘를 줘야 흰색배경이 메뉴아래로 깔림 */
                /* 지하 1층 - 기본적으로 position 없으면 1층, 있으면 2층부터 시작  */
                width: 100%;
                height: 360px; /* 흰색 배경의 전체 높이 */
                background-color: var(--color-white);
                transform: translateY(-110%);  /* 02.24 12시 강의)자기 높이보다 조금 더 많은 값을 줘서 위로 이동 - 그럼 안보임 */
                transition: 0.3s;
            }
            .header.menu_over::before{
                transform: translateY(0); /* 흰색 배경이 자연스럽게 내려옴 */
            }
            .header.menu_over::after{  /* header 아래 선 */
                content: "";
                position: absolute;  /* header(fixed)를 기준으로 정렬 */
                left: 0;
                top: var(--header-height); /* header의 높이만큼 내려와서 아래 선을 그어야 하기 때문에 */
                width: 100%;
                height: 1px;
                background-color: #ccc;
            }
            .header.menu_over .logo a{
                background-image: url(../images/logo_black.svg);
            }
            .header.menu_over .gnb .gnb_wrap ul.depth1 > li{
                min-width: 180px; /* 1차메뉴의 글자의 길이가 달라서 넓이를 지정해주는 거임 */
            }
            .header.menu_over .gnb .gnb_wrap ul.depth1 > li:hover > a{
                color: var(--color-main);
                height: var(--font-weight-bold);
            }
            .header.menu_over .gnb .gnb_wrap ul.depth1 > li:hover > a::after{
                width: 100%;  /* header랑 li에 클래스가 붙기 전에 스타일을 다 줘서 효과가 부드럽게 나타나게 해줌 */
            }
            
            .header .gnb .gnb_bg{ /* 검은블러 배경 */
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100vh; 
                z-index: -2; /* header::before -->2차메뉴 흰색배경이 z-index -1이라서 여기서는 -2를 줘야 2차메뉴 아래로 깔림) */
                background-color: rgba(0, 0, 0, 0);
                backdrop-filter: blur(0);
                transform: translateY(-110%); /* 02.24 12시 강의 */
                transition: background-color 0.3s, background-filter 0.3s;
                /* 
                    클래스 추가 전후에 변화는 transform, background-color, background-filter만 존재
                    이떄 trasition을 background-color, background-filter만 줌
                    그럼 남은 하나 transform은 빨리 적용되고 나머지는 transition 시간만큼 천천히 들어감
                */
            }
            .header.menu_over .gnb .gnb_bg{
                background-color: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(4px);
                transform: translateY(0);
            }
}/*@media*/
@media screen and (min-width:1025px) and (max-width:1100px){ /* 1100부터 1025 사이일때만 */
            .header.menu_over .gnb .gnb_wrap ul.depth1 > li{
                min-width: 140px;  /* util이 안따라올때까지 브라우저에서 li 넓이 조정하기 */
            }
}/*@media*/
@media screen and (max-width:1024px){ /* 1024이하일 때 */
            .header{
                padding-right: 0;
            }
            .header .gnb .gnb_open{
                width: var(--header-height);
                height: var(--header-height);
                
                /* 아이콘을 가운데 정렬하기 위해 주는 값 */
                display: flex;
                justify-content: center;
                align-items: center;
            }
            /* .header .gnb .gnb_open svg{
                width: calc(var(--header-height) * 0.43);
                height: calc(var(--header-height) * 0.33);  768이 되기 전에는 아이콘의 사이즈가 너무 커서 부담스럽기 때문에 아예 안줄거임
            } */
            .header .gnb .gnb_wrap{
                position: fixed;
                right: 0;
                top: 0;
                z-index: 10; /* 검정블러 배경 위로 원래 있던 로고가 올라와서 얘를 그냥 위로 올려버림 -> 그럼 검정블러 배경도 아래로 내려가고, 로고도 안보임 */
                width: 100%;
                max-width: 500px; /* 모바일에서의 메뉴의 최소 넓이 */
                height: 100vh; /* = 다 똑같음 100%, 100dvh = 브라우저에 꽉 차게 */
                background-color: var(--color-white);
                color: var(--font-color-txt);
                fill: var(--font-color-txt);
                transform: translateX(110%); /* % -> 나의 넓이를 기준으로 들어감 */
                transition: 0.3s;
            }
            .header.menu_open .gnb .gnb_wrap{
                transform: translateX(0);  /* 메뉴가 오른쪽에서 들어옴 */
            }
            .header .gnb .gnb_wrap .gnb_logo{
                position: absolute;  /* 02.24 2시 25분)  gnb_wrap을 기준으로 정렬 */
                /* ul.depth1을 제외한 나머지는 absolute */
                left: var(--wrapper-margin);
                top: 0;
                height: var(--header-height);
                width: max(121px, calc(var(--header-height) * 1.78));
                background: url(../images/logo_black.svg) no-repeat left center / contain;
            }
            .header .gnb .gnb_wrap ul.depth1{
                margin: var(--header-height) 0 0 0;  /* header로부터 떨어지는 여백 + 스크롤 될때 메뉴만 스크롤하기 위해(로고까지 같이 스크롤되는것을 방지하기 위함) */
                height: calc(100% - var(--header-height)); 
                /* 브라우저 높이가 줄어들었을 때, 스크롤 생성을 위해 높이를 주는거고, 100%에서 헤더높이를 뺀 이유는 헤더영역을 제외하고 메뉴를 아래로 스크롤하기 위함 */
                padding: 15px 0 0 0;  /* 1차메뉴의 글자가 위로부터 떨어지는 여백 */
                overflow-y: auto; /* 얘가 들어갈땐, 높이값이 필수로 들어가야 함. 안의 내용이 길어지면 스크롤 생성 */
                /* height: 100%; 이렇게 주면 마지막 메뉴가 안보이기 때문에 calc 계산법으로 주는거임 */
            }
            .header .gnb .gnb_wrap ul.depth1 > li > a{
                display: block;
                font-family: var(--font-family-Eulyoo);
                font-size: 22px;
                padding: 14px var(--header-height) 14px var(--wrapper-margin); /* 글자끼리 떨어지는 여백 */
                            /* 오른쪽 여백은 아이콘이 들어갈 공간 마련 */
                position: relative; /* after 정렬의 기준 */
            }
            .header .gnb .gnb_wrap ul.depth1 > li.open > a{
                color: var(--color-main);
                font-weight: var(--font-weight-bold);
            }
            .header .gnb .gnb_wrap ul.depth1 > li > a::after{
                content: "";
                position: absolute;  /* a를 기준으로 정렬 */
                right: 0;
                top: 0;
                width: var(--header-height);  /* 메뉴닫기 버튼이랑 넓이를 같게 줘서 닫기 아이콘이랑 일렬로 쭉 내려오고 좌우 가운데 정렬을 주기 위함 */
                height: 100%;  /* a랑 사이즈를 동일하게 줘서 글자의 위아래 가운데 위치시키기 위함 */
                background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1.28172L8.5 10L0 1.28172L1.24963 5.94744e-07L8.5 7.43678L15.7504 -3.9103e-08L17 1.28172Z' fill='%23555555'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
                transition: 0.3s;
            }
            .header .gnb .gnb_wrap ul.depth1 > li.open > a::after{
                transform: rotate(180deg);
                background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1.28172L8.5 10L0 1.28172L1.24963 5.94744e-07L8.5 7.43678L15.7504 -3.9103e-08L17 1.28172Z' fill='%236C4B43'/%3E%3C/svg%3E%0A");
            }
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
                background-color: var(--color-bg);
                padding: 16px var(--wrapper-margin) 16px var(--wrapper-margin);
                display: none;
            }
            /* .header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2{
                display: block;
            } */
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a{
                display: block;
                padding: 8px 0 8px var(--wrapper-margin);
            }
            .header .gnb .gnb_wrap .gnb_close{
                position: absolute; /* gnb_wrap을 기준으로 정렬 */
                right: 0;
                top: 0;
                width: var(--header-height);
                height: var(--header-height);
                
                /* 아이콘을 가운데 정렬하기 위해 주는 값 */
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .header .gnb .gnb_bg{
                position: fixed;
                left: 0;
                top: 0;
                width: 100vw;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0);
                backdrop-filter: blur(0);
                transform: translateX(110%);
                transition: background-color 0.3s, backdrop-filter 0.3s;
            }
            .header.menu_open .gnb .gnb_bg{
                background-color: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(4px);
                transform: translateX(0);
            }
            .header .util{
                display: none;
            }

            
}/*@media*/


.visual{
    position: relative; /* ctrl_left / ctrl_right 정렬의 기준 */
}
.visual .swiper-slide{
    /* height: 100vh;
    min-height: 500px;  최소높이를 줌으로써 브라우저의 높이를 제한하여, 글자의 아래 여백이 500px부터는 따라오지 않음  */
    height: max(500px, 100vh); /* <- 위에 두줄 요약한거 */
    background: url(../images/visual_bg01.jpg) no-repeat center center / cover;
    color: var(--color-white);
    padding: 0 var(--wrapper-margin) 175px var(--wrapper-margin);  /* 디자인의 좌우 여백을 주기 위해 준 padding */

    display: flex;  /* h3-p 아래로 정렬하기 위해 준 조건 3개 */
    flex-direction: column;
    justify-content: flex-end;
}
.visual .swiper-slide.bg2{
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.bg3{
    background-image: url(../images/visual_bg03.jpg);
}
.visual .swiper-slide h3{
    font-family: var(--font-family-Eulyoo);
    font-size: clamp(40px, 7vw, 80px);  /* 모바일 제일 작은 사이즈, 평소값=vw, pc버전 제일 큰 사이즈 */
    /* clamp(최소값,평소값,최대값)
       clamp(모바일크기, 대충 pc크기 px기준 1/10 정도의 vw , pc크기) */
    line-height: var(--line-height-tit);
    margin: 0 0 4px 0;
}
.visual .ctrl_left{
    position: absolute; /* visual을 기준으로 정렬 */
    left: var(--wrapper-margin);
    bottom: 99px;
    z-index: 1;  /* 화면에 안보여서 준 값 */
    color: var(--color-white);
    fill: var(--color-white);  /* svg 아이콘 흰색 */
    display: flex; /* bar-button 좌우 정렬 */
    align-items: center;  /* bar를 위아래 가운데 하기 위해 준 값 */
    gap: 0 19px;  /* bar-button 사이 여백 */
}
.visual .ctrl_left .bar{
    width: 200px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative; /* bar span 정렬의 기준 */
}
.visual .ctrl_left .bar span{ 
    position: absolute; /* bar를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: var(--color-white);
}
.visual .ctrl_left .play{
    display: none; /* 재생을 눌렀을 때만 나옴 */
}
.visual .ctrl_right{
    position: absolute; /* visual을 기준으로 정렬 */
    right: var(--wrapper-margin);
    bottom: 77px;
    z-index: 1;  /* 화면에 안보여서 준 값 */
    color: var(--color-white);
    fill: var(--color-white);  /* svg 아이콘 흰색 */
    display: flex; /* button 좌우 정렬 */
    gap: 0 6px;  /* button 사이 여백 */
}
.visual .ctrl_right button{
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    
    /* 아이콘을 원의 가운데 정렬하기 위해서 주는 조건 */
    display: flex;  /* 안의 요소가 하나만 들어가도 flex로 가운데 정렬해주면 됨 */
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:768px){
            .visual .swiper-slide{
                height: 500px;  /* pc에선 브라우저에 꽉 채우다가 모바일에선 높이 제한 */
                padding-bottom: 45px;
            }
            .visual .ctrl_left,
            .visual .ctrl_right{
                display: none;
            }
}/*@media*/



.book{
    background-color: var(--color-bg);
    color: var(--font-color-txt);
    padding: clamp(127px, 18vw, 206px) 0 clamp(102px, 12vw, 129px) 0;

    /* inner를 오른쪽으로 배치하기 위함 */
    /* display: flex;
    justify-content: flex-end; */
}
.book .inner{
    /* width: calc(50% + calc(var(--wrapper-width)  / 2));  --> 이렇게 주고 위에 book에서 display랑 justify 값 줘야 함.
       book 넓이의 50% (넓이는 항상 나를 감싸는 바로 위에 있는 애를 기준으로 들어감 / 높이는 누구한테 감싸여있든 자기 맘대로) */
    margin-left: calc(calc(100% - var(--wrapper-width)) / 2); /* 02.25 9:30 강의 */
    /* 전체넓이 100% - wrapper의 넓이 --> 그럼 양사이드 여백이 남음
       그럼 그 여백을 반띵하면 왼쪽 여백이 됨 */

       display: flex; /* tit - list 좌우 정렬 */
       justify-content: space-between;
       position: relative; /* btn_wrap 정렬의 기준 */
       align-items: flex-start;
}
.book .tit h2{
    font-family: var(--font-family-Eulyoo);
    font-size: var(--font-size-tit);
    line-height: var(--line-height-tit);
    margin: 0 0 21px 0; /* p 태그와의 여백 */
}
.book .list{
    width: calc(100% - 327px);
    /* inner의 넓이 100%에서 왼쪽 tit의 넓이 327px 빼고 전부 다 */
}
.book .list .swiper-wrapper{
    align-items: flex-end;
}
.book .list .swiper{
    padding-right: var(--wrapper-margin);  /* list의 마지막 li가 화면에 너무 딱 붙어서 마지막 li의 오른쪽 공간 마련을 위해 주는 여백  */
}
.book .list .swiper-slide{
    width: 250px;  /* js에서 auto면 250px이 적용되고, js에서 팝업개수를 지정하면 250px이 무시되고, 브라우저 사이즈에 맞춰서 개수를 유지하며 넓이가 계속 바뀜 */
}
.book .list .swiper-slide a{
    display: block;
}
.book .list .swiper-slide a .photo{
    overflow: hidden;
    border: 1px solid #ededed;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
}
.book .list .swiper-slide a .photo img{
    width: 100%;
    height: 100%;
    object-fit: contain;  /* 책이 안짤리고 다 나옴 */
    vertical-align: top;  /* img에 행간같이 아래 여백이 사라지는 값 */
}
.book .list .swiper-slide a .txt{
    font-size: var(--font-size-subTit2); /* 24px */
    line-height: var(--line-height-tit); /* 1.3 */
    height: calc(var(--line-height-tit) * 3em + 1em + 0.5417em);
    /* 높이를 지정해줘야 h3가 1줄이든, 2줄이든 시작 부분이 동일하게 일렬로 들어감
       -- 계산법 => 3em은 h3와 span의 줄수를 더한 값,, 1em + 0.5417em은 h3의 margin값임  */

}
.book .list .swiper-slide a .txt h3{
    font-family: var(--font-family-Eulyoo);
    margin: 1em 0 0.5417em 0; 
    /* 2줄 제한 */
    max-height: calc(var(--line-height-tit) * 2em); /* max로 줘야 제목이 1줄인 애들의 저자가 바로 아래로 따라옴 */
    overflow: hidden;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    word-break: normal;  /* common.css에서 준 단어 단위로 줄바꿈 해제 - 글자를 책의 넓이와 동일하게 하기 위함 */
    
    /* 
     1줄 제한
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
    */
}
.book .list .swiper-slide a .txt h3 strong{  /* inline 태그여야 2줄 밑줄 애니메이션이 자연스럽게 나와서 strong 태그를 불러옴 */
  background-image: linear-gradient(transparent calc(100% - 1px), #231815 10px); /* 30px <- 이 값을 수정하여 밑줄 두께 조절 */
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: left bottom;
  transition: background-size 0.6s ease;
}
.book .list .swiper-slide a:hover .txt h3 strong{
    background-size: 100% 100%;
}
.book .list .swiper-slide a .txt span{
    display: block;
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
    color: var(--font-color-gray);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .btn_wrap{
    position: absolute;  /* inner를 기준으로 정렬 */
    left: 0;
    top: 268px;
    display: flex; /* 버튼 - a 좌우 정렬 */ /* .book .btn_wrap .more는 a 태그라서 display: block;을 줘야 아래 정의한 것들이 들어가는데 여기서 flex를 줘서 밑에서 block을 안줘도 적용됨 */
    gap: 0 6px;
}
.book .btn_wrap button,
.book .btn_wrap .more{
    width: 50px;  /* 원의 넓이 */
    height: 50px; /* 원의 높이 */
    border: 1px solid var(--font-color-gray);
    border-radius: 50%;
    fill: var(--font-color-gray);  /* 아이콘 색상 */
    /* 아이콘 가운데 정렬을 위한 조건값 3가지 */
    display: flex;
    justify-content: center;
    align-items: center;
}
.book .btn_wrap button.swiper-button-disabled{
    opacity: 0.5;
    cursor: default;
}
.book .btn_wrap button:not(.swiper-button-disabled):hover,  /* disabled 일 때 빼고 다 */
.book .btn_wrap .more:hover{
    border-color: var(--color-main);
    background-color: var(--color-main);
    fill: var(--color-white);
}


@media screen and (max-width:1384px){  /* wrapper의 width를 auto로 푸는 미디어쿼리 */
        .book .inner{
            margin-left: var(--wrapper-margin);
            /* width: calc(100% - var(--wrapper-margin)); */
        }
}/*@media*/
@media screen and (max-width:1024px){
        .book .inner{
            flex-direction: column; /* list 아래로 정렬 */
            gap: 50px 0; /* tit - list 여백 */
        }
        .book .tit h2{
            margin: 0;
        }
        .book .tit h2 br,
        .book .tit p{
            display: none;
        }
        .book .list{
            width: 100%;
        }
        .book .btn_wrap{
            left: auto;
            right: var(--wrapper-margin);  /* wrapper가 없어서 여백이 없기에 주는 값 */
            top: auto;
        }
}/*@media*/
@media screen and (max-width:768px){
        .book .list .swiper-wrapper{
            align-items: flex-start;
        }
        .book .list .swiper-slide{
            width: 220px;
        }
        .book .btn_wrap button{
            display: none;
        }
        .book .btn_wrap .more{
            width: 36px;
            height: 36px;
        }
        .book .btn_wrap .more svg{
            width: 11px;
            height: 11px;
        }
}/*@media*/



.interview{
    margin: clamp(127px, 20vw, 200px)  0 clamp(108px, 13vw, 134px) 0;  /* 반응형 대비해서 주는 값 */
}
.interview .wrapper{
    position: relative; /* more 정렬의 기준 */
}
.interview .tit{
    text-align: center;
}
.interview .tit h2{
    font-family: var(--font-family-Eulyoo);
    font-size: var(--font-size-tit);
    line-height: var(--line-height-tit);
    margin: 0 0 21px 0;
}
.interview .list{
    margin-top: clamp(42px, 4.8vw, 48px);  /* 더보기 무시하고 위에 있는 li와의 여백 */
}
.interview .list ul{
    display: flex;
    justify-content: space-between;
}
.interview .list ul li{
    width: calc(33.33% - 16px);  /* 반응형을 위해 calc계산법으로 줘야 함 */
    /* 
        (100 / 한 줄의 li 개수) - (한 줄의 여백의 합 / 한 줄의 li 개수)
        (100% / 3) - (48 / 3)
        => 33.33% - 16px
    */
}
.interview .list ul li:nth-child(2){
    /* transform: translateY(61px); --> 이렇게 주면 list의 영역에서 벗어남 -> 리스트의 하단여백을 2번째거 기준으로 주면 여백이 틀려짐 그래서 margin-top으로 주기 */
    margin-top: 61px;
}
.interview .list ul li a{
    display: block;
    position: relative;  /* txt, over 정렬의 기준 */
}
.interview .list ul li a .photo{
    overflow: hidden;
    height: 410px;
    border-radius: 50px 0 50px 0;
    position: relative; /* before 정렬의 기준 */
}
.interview .list ul li a .photo::before{  /* 사진 위에 들어가는 리니어 그라데이션을 주기 위함 */
    content: "";
    position: absolute; /* photo를 기준으로 정렬 */
    left: 0;
    bottom: 0;
    z-index: 1;  /* 브라우저에서 안보여서 준 값 */
    width: 100%;
    height: 50%;  /* 그라데이션이 들어가는 높이값?영역값? */
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));  /* 02.25 오후5:40 */
    opacity: 1;
    transition: opacity 0.3s;
}
.interview .list ul li:hover a .photo::before{
    opacity: 0;
}
.interview .list ul li:nth-child(2) a .photo{
    border-radius: 0 50px 0 50px;
}
.interview .list ul li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top; /* 사진 아래 여백 삭제 */
    filter: grayscale(100%); /* 사진 흑백 처리 */
    transition: 0.3s;
}
.interview .list ul li:hover a .photo img{
    filter: grayscale(0);
}
.interview .list ul li a .txt{
    position: absolute; /* a를 기준으로 정렬 */
    
    /* txt를 위치시키는 3가지 방법이 있음 */
    /* 1번 방법 */
    left: 40px; /* 디자인의 왼쪽 여백 */
    bottom: 39px; /* 디자인은 40px이 맞지만, 브라우저에서 조절한 값 */
    width: 80.58%; /* 정렬인 a 넓이의 100%에서 좌우의 여백을 뺀 계산법 --> 좌우여백의 합인 80px이 a의 사이즈의 19.42%라서 100% - 19.42%를 그대로 써주면 됨 */

    /* 2번 방법 */
    /* left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 40px 40px 40px; --> 반응형으로 변경  padding: 0 9.71% 40px 9.71%; --> 위아래는 안줌 높이가 변하지 않으니까
    */

    /* 3번 방법 */
    /* left: 40px;
    right: 40px;
    bottom: 40px;  (left,right -> 0을 주면 넓이 100%가 됨) */

    z-index: 2; /* photo::before에서 준 z-index: 1; -> 이거 때문에 글자가 before아래로 깔려서 준 값  */
    color: var(--color-white);
    fill: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center; /* 디자인할 때, 아이콘이랑 글자랑 서로 가운데 배치 */
    opacity: 1;
    transition: opacity 0.3s;
}
.interview .list ul li:hover a .txt {
    opacity: 0;
}
.interview .list ul li a .txt h3{
    font-family: var(--font-family-Eulyoo);
    font-size: var(--font-size-subTit1);
    line-height: var(--line-height-tit);
}
.interview .list ul li a .over{
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    bottom: -49px;
    z-index: 3; /* txt보다 위에 있어야 하니까 */
    width: 91.99%;  /* 갈색상자의 넓이를 a의 넓이의 몇 % 로 바꾼 값 */
    background-color: var(--color-main);
    border-radius: 50px 0 50px 0;
    color: var(--color-white);
    fill: var(--color-white);
    padding: 45px 10.55%;  /* --> 갈색 상자 넓이의 몇 % (글자의 상자로부터의 내부 여백) */
    opacity: 0;
    transform: translateY(20px);  /* 갈색 상자가 마우스 오버했을 때, 위에서 올라오게 하려고 주는 값 */
    transition: opacity 0.3s, transform 0.3s ;  /* display:none -> block은 transition이 적용 안됨. 그래서 opacity를 줘야 함 */
}
.interview .list ul li:hover a .over{
    opacity: 1;
    transform: translateY(0);
}
.interview .list ul li:nth-child(2) a .over{
    border-radius: 0 50px 0 50px;
}
.interview .list ul li a .over h3{
    font-family: var(--font-family-Eulyoo);
    font-size: var(--font-size-subTit2);
    line-height: var(--line-height-tit);
    display: flex; /* svg랑 좌우 정렬 */
    justify-content: space-between;
    align-items: center;
    margin: 0 0 15px 0; /* p와의 여백 */
}
.interview .list ul li a .over p{
    word-break: normal; 
    /* 글자의 오른쪽이 아이콘이랑 같이 떨어지는 디자인이기 때문에, 단어단위 줄바꿈을 해제하여 글자를 좌우로 꽉꽉 차게 보이게 함 */
    height: calc(var(--line-height-default) * 2em);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.interview .more{
    position: absolute; /* wrapper를 기준으로 정렬, after 정렬의 기준도 됨 */
    left: 50%;
    transform: translateX(-50%);
    top: 131px;
    display: flex; /* 글자랑 아이콘 좌우 배치 */
    align-items: center;
    justify-content: center;
    gap: 0 8px;
    color: var(--font-color-gray);
    fill: var(--font-color-gray);
}
.interview .more span::after{
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    left: 0;
    bottom: 1px;
    width: 0;
    height: 1px;
    background-color: var(--color-main);
    transition: width 0.3s;
}
.interview .more:hover{
    color: var(--color-main);
    fill: var(--color-main);
}
.interview .more:hover span::after{
    width: 100%;
}
@media screen and (max-width:768px){ /* 768 이하부터 적용 */
            .interview .tit{
                text-align: left;
            }
            .interview .tit h2{
                margin: 0;
            }
            .interview .tit p{
                display: none;
            }
            .interview .list ul li{
                width: calc(50% - 8px); /* 2개만 나올거이기 때문에 */
            }
            .interview .list ul li:nth-child(2){
                margin-top: 0;
            }
            .interview .list ul li:nth-child(3){
                display: none;
            }
            .interview .list ul li a .photo{
                border-radius: 30px 0 30px 0;
            }
            .interview .list ul li:nth-child(2) a .photo {
                border-radius: 30px 0 30px 0;
            }
            .interview .list ul li a .photo::before{  /* 사진 위에 들어가는 리니어 그라데이션을 주기 위함 */
                display: none;
            }
            .interview .list ul li a .photo img{
                filter: grayscale(0); /* 사진 흑백 처리 */
            }
            .interview .list ul li a .txt{
                display: none;
            }
            .interview .list ul li a .over{
                bottom: -23px;
                border-radius: 30px 0 30px 0;
                padding: 30px 8.09%;  /* --> 갈색 상자 넓이의 몇 % (글자의 상자로부터의 내부 여백) */
                opacity: 1;
                transform: translateY(0);  /* 갈색 상자가 마우스 오버했을 때, 위에서 올라오게 하려고 주는 값 */
            }
            .interview .list ul li:nth-child(2) a .over {
                border-radius: 30px 0 30px 0;
            }
            .interview .list ul li a .over h3{
                margin: 0 0 11px 0; /* p와의 여백 */
            }
            .interview .list ul li a .over h3 svg{
                width: 18px;
                height: 18px;
            }
            .interview .more{
                left: auto;
                right: 0;
                transform: translateX(0);
                top: 0;
                width: 36px;
                height: 36px;
                border: 1px solid var(--font-color-gray);
                border-radius: 50%;
                justify-content: center;
            }
            .interview .more::after{
                display: none;
            }
            .interview .more:hover{
                border-color: var(--color-main);
            }
            .interview .more span{
                display: none;
            }
            .interview .more svg{
                width: 11px;
                height: 11px;
            }
}/*@media*/
@media screen and (max-width:520px){ /* 425이하부터 적용 */
            .interview .list ul li{
                width: 100%; /* 1개만 나올거이기 때문에 */
            }
            .interview .list ul li:nth-child(2){
                display: none;
            }
}/*@media*/



.story{
    background-color: var(--color-bg);
    padding: clamp(127px, 18vw, 190px) 0 clamp(92px, 13vw, 139px) 0;  /* 반응형 대비해서 주는 clamp */
}
.story .wrapper{
    position: relative; /* more 정렬의 기준 */
}
.story .tit h2{
    font-family: var(--font-family-Eulyoo);
    font-size: var(--font-size-tit);
    line-height: var(--line-height-tit);
}
.story .list{
    margin: clamp(43px, 6.5vw, 74px) 0 0 0; /* tit과의 여백 */
}
.story .list .swiper-slide{
    width: 303px;  /* js에서 팝업개수를 정해놔서 여기서의 넓이로 준 값이 아예 적용이 안됨 */
}
.story .list .swiper-slide a{
    display: block;
}
.story .list .swiper-slide a .photo{
    overflow: hidden;
    height: 283px;
}
.story .list .swiper-slide.long a .photo{
    height: 396px;
}
.story .list .swiper-slide a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top; /* 사진 아래 행간같은 여백 삭제 */
    transition: transform 0.3s;
}
.story .list .swiper-slide a:hover .photo img{
    transform: scale3d(1.125, 1.125, 1);
}
.story .list .swiper-slide a h3{
    font-family: var(--font-family-Eulyoo);
    font-size: var(--font-size-subTit2);
    line-height: var(--line-height-tit);
    margin: 0.9167em 0 0 0 ; /* p가 없는 애도 있어서 p와의 여백은 p가 줌 */
    /* 2줄 제한 */
    height: calc(var(--line-height-tit) * 2em);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: normal;  /* 단어 단위 줄바꿈 해제 -> 뚝뚝 떨어지는게 이상해서 */
}
.story .list .swiper-slide a h3 span{
    background-image: linear-gradient(transparent calc(100% - 1px), var(--color-main) 10px); /* 30px <- 이 값을 수정하여 밑줄 두께 조절 */
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position: left bottom;
    transition: background-size 0.6s ease;
}
.story .list .swiper-slide a:hover h3 span{
    background-size: 100% 100%;
}
.story .list .swiper-slide a p{
    margin-top: 0.529em;
    color: var(--font-color-gray);
    /* 4줄 제한 */
    height: calc(var(--line-height-default) * 4em);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    word-break: normal;  /* 단어 단위 줄바꿈 해제 -> 뚝뚝 떨어지는게 이상해서 */
}
.story .list .swiper-slide.long a p{
    display: none;
}
.story .btn_wrap{
    position: absolute;  /* inner를 기준으로 정렬 */
    right: 0;
    top: 7px;
    display: flex; /* 버튼 - a 좌우 정렬 */ /* .book .btn_wrap .more는 a 태그라서 display: block;을 줘야 아래 정의한 것들이 들어가는데 여기서 flex를 줘서 밑에서 block을 안줘도 적용됨 */
    gap: 0 6px;
}
.story .btn_wrap button,
.story .btn_wrap .more{
    width: 50px;  /* 원의 넓이 */
    height: 50px; /* 원의 높이 */
    border: 1px solid var(--font-color-gray);
    border-radius: 50%;
    fill: var(--font-color-gray);  /* 아이콘 색상 */
    /* 아이콘 가운데 정렬을 위한 조건값 3가지 */
    display: flex;
    justify-content: center;
    align-items: center;
}
.story .btn_wrap button.swiper-button-disabled{
    opacity: 0.5;
    cursor: default;
}
.story .btn_wrap button:not(.swiper-button-disabled):hover,  /* disabled 일 때 빼고 다 */
.story .btn_wrap .more:hover{
    border-color: var(--color-main);
    background-color: var(--color-main);
    fill: var(--color-white);
}
@media screen and (max-width:768px){
        .story .tit{
            margin-right: 50px;
            /* width: calc(100% - 50px); */
        }
        .story .list .swiper-slide{
            width: 220px;  /* js에서 768px 이하로는 팝업개수를 지정하지 않았기 때문에 220px을 유지함 */
        }
        .story .list .swiper-slide a .photo{
            height: 288px;
        }
        .story .list .swiper-slide.long a .photo{
            height: 288px;
        }
        .story .list .swiper-slide a p{
            display: none;
        }
        .story .btn_wrap button{
            display: none;
        }
        .story .btn_wrap .more{
            width: 36px;
            height: 36px;
        }
        .story .btn_wrap .more svg{
            width: 11px;
            height: 11px;
        }
}/*@media*/



.footer{
    background-color: var(--font-color-txt);
    color: rgba(255, 255, 255, 0.8);
    padding: clamp(97px, 12vw, 123px) 0 clamp(97px, 13vw, 135px) 0;
}
.footer .wrapper{
    position: relative; /* copyright 정렬의 기준 */
    display: flex; /* slogan - f_info를 좌우 배치 */
    justify-content: space-between;
}
.footer .slogan{
    font-family: var(--font-family-Eulyoo);
    font-size: var(--font-size-subTit1);
    line-height: var(--line-height-tit);
}
.footer .f_info{
    width: 303px;  /* 디자인할 때 준 고정넓이값 */
}
.footer .f_info h3{
    font-family: var(--font-family-Eulyoo);
    font-size: var(--font-size-subTit2);
    line-height: var(--line-height-tit);
    margin: 0 0 0.625em 0;
}
.footer .f_info * + h3{  /* f_info에 있는 어떤 태그이든 상관없이 태그 이후에 나타나는 모든 h3 */
    margin-top: 2.417em;
}
.footer .f_info .sns{
    display: flex;
    flex-wrap: wrap;  /* 모바일을 위해 미리 주는 줄바꿈 */
    gap: 0 2.471em;
}
.footer .f_info .sns li a{
    position: relative; /* after 정렬의 기준 */
}
.footer .f_info .sns li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 1px;
    background-color: var(--color-white);
    transition: width 0.3s;
}
.footer .f_info .sns li a:hover::after {
    width: 100%;
}
.footer .copyright{
    position: absolute; /* wrapper를 기준으로 정렬 */
    left: 0;
    bottom: 0;
    width: calc(100% - 350px);  /* 오른쪽의 f_info의 넓이에서 조금 더 널널한 값을 빼주면, 부딪히지 않고 copyright가 내려갈거임 */
}
.footer .copyright p{
    margin-top: 14px;  /* 이미지에 존재하는 하단행간때문에 디자인의 여백과 다름 */
    color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width:768px){
            .footer .wrapper{
                flex-direction: column;
                gap: 74px 0;  /* flex 유지하고 위아래 여백을 gap으로 주면 됨 */
            }
            .footer .f_info{
                width: auto; 
            }
            .footer .copyright{
                position: relative; /* absolute 해제 */
                left: auto;
                bottom: auto;
                width: auto;  /* 오른쪽의 f_info의 넓이에서 조금 더 널널한 값을 빼주면, 부딪히지 않고 copyright가 내려갈거임 */
                text-align: center;
            }
            .footer .copyright p{
                margin-top: 10px;  /* 이미지에 존재하는 하단행간때문에 디자인의 여백과 다름 */
            }
            .footer .copyright img{
                width: 154px;
            }
}/*@media*/