@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-height);
    color: var(--color-white); /* 글자색 */
    fill: var(--color-white);  /* 아이콘색 */
    padding: 0 var(--wrapper-margin); /* 디자인의 좌우여백 */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex; /* h1-nav-util 좌우배치 */
    justify-content: space-between;
    align-items: center;
    /* transition: background-color 0.3s; 얘를 안주면 그냥 확 바뀜 - 그게 깔끔해보임*/
}
.header .logo a{
    display: block;

    width: calc(var(--header-height) * 1.78);  /* 계산식으로 해야 브라우저 사이즈가 줄어들 때 같이 줄어듬 */
    min-width: 121px;
    /* width: max(121px, calc(var(--header-height) * 1.78)); --> 위에 두 값을 한 번에 주는 값 */

    height: calc(var(--header-height) * 0.28); /* 로고의 넓이와 높이를 헤더의 높이의 몇 배인지 계산해서 넣기 */
    min-height: 19px;
    /* height: max(19px, calc(var(--header-height) * 0.28)); --> 위에 두 값을 한 번에 주는 값 */

    background: url(../images/logo_w.svg) no-repeat center center / contain; /* logo처럼 짤리면 안되는 애들은 contain으로 주면 브라우저 사이즈 줄어들어도 안짤림 */
}
.header.fixed{
    background-color: var(--color-white);
    color: var(--font-color-txt);
    fill: var(--font-color-txt);
    border-bottom: 1px solid #ccc;
}
.header.fixed .logo a{
    background-image: url(../images/logo_black.svg);
}

@media screen and (min-width:1025px){ /* 1025px 이상 */
/* header는 pc와 모바일이 로고 빼고 브라우저 사이즈마다 스타일이 달라서 pc 버전/ 모바일 스타일을
   media로 구분함 min-width:1025px -> 1025px 이상에만 적용 - pc용 
                 max-width:1024px -> 1024px 이하에만 적용  - 모바일용 */

            .header .gnb .gnb_open,
            .header .gnb .gnb_wrap .gnb_logo,
            .header .gnb .gnb_wrap .gnb_close{
                display: none; /* 모바일에서만 보임 */
            }
            .header .gnb .gnb_wrap ul.depth1{
                display: flex; /* 1차메뉴 좌우 배치 */
            }
            .header .gnb .gnb_wrap ul.depth1 > li{
                position: relative; /* ul.depth2 정렬의 기준 */
                min-width: 0; /* 최소넓이 0 -> 180px로 부드럽게 넓어지게 하기 위함 */
                transition: 0.3s;
            }
            .header .gnb .gnb_wrap ul.depth1 > li > a{
                display: block;
                font-family: var(--font-family-Eulyoo);
                font-size: 22px;
                /* 행간을 header 높이만큼 주면 a의 높이가 header 높이가 되고, 글자도 위아래 가운데 들어감 */
                line-height: var(--header-height); /* 위아래로 헤더의 높이만큼 눌려야 하기 때문에 */
                padding: 0 25px; /* 좌우로도 여백의 반만큼 눌려야 함 / 마우스 오버 전에는 메뉴 사이의 여백이 동일 */
                text-align: center;
                position: relative; /* after 정렬의 기준 */
            }
            .header .gnb .gnb_wrap ul.depth1 > li > a::after{  /* 1차메뉴 제목의 선 */
                content: "";
                position: absolute; /* a를 기준으로 정렬 */
                left: 50%;
                transform: translateX(-50%);
                bottom: -2px;
                z-index: 2; /* header 아래선에 깔려서 주는 값 */
                width: 0;
                height: 3px;
                background-color: var(--color-main);
                /* transition: 0.3s; */ /* 얘를 안주면 선이 그냥 바로 뽝 생김 */
            }
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
                /* 2차메뉴 - 무조건 absolute */
                display: block !important; /* 선택자의 우선순위와 상관없이 무조건 이 속성을 우선 적용하겠다는 뜻(- js때문) */
                position: absolute; /* ul.depth1 li를 기준으로 정렬 */
                left: 0;
                top: var(--header-height);  /* 1차메뉴 바로 아래여야 하기 때문에 header의 높이만큼 아래로 떨어트리는거임 */
                width: 100%;
                height: 0;
                text-align: center;
                padding: 0;
                border-right: 1px solid #ccc;
                opacity: 0;
                transition: 0.3s;
                overflow: hidden;
                /* 
                    display: none;으로 숨겼다가 display: block;으로 보이게 하는 요소는
                    transition이 안들어감
                */
            }
            .header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
                padding: 24px 0 0 0; /* header의 아래 선으로부터 떨어지는 여백 */
                height: 260px;
                opacity: 1;
            }
            .header .gnb .gnb_wrap ul.depth1 > li:first-child > ul.depth2{
                /* 첫 번쨰 1차메뉴의 depth2 */
                border-left: 1px solid #ccc;
            }
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a{
                display: block;
                padding: 8px 0;
            }
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover{
                color: var(--color-main);
            }
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span{
                position: relative; /* after 정렬의 기준 */
            }
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: -1px;
                width: 0;
                height: 1px;
                background-color: var(--color-main);
                transition: 0.3s;
            }
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover > span::after{ /* 2차메뉴는 header나 li에 클래스를 주지 않고 a에 오버했을 때 나오는거임 */
                width: 100%;
            }
            .header .util{
                display: flex;
            }
            .header .util .search .search_open,
            .header .util .mypage{
                /* 아이콘을 가운데 정렬하기 위함 */
                display: flex;
                justify-content: center;
                align-items: center;
                
                width: 50px;
                height: 50px;
            }

            /************** 메뉴에 마우스를 올렸을 때 **************/
            .header.menu_over{
                color: var(--font-color-txt); /* 글자색 */
                fill: var(--font-color-txt);  /* 아이콘색 */
            }
            .header::before{ /* header 2차메뉴 의 흰색 배경 */
                content: "";
                position: absolute;  /* header(fixed)를 기준으로 정렬 */
                left: 0;
                top: 0;
                z-index: -1; /* 얘를 줘야 흰색배경이 메뉴아래로 깔림 */
                /* 지하 1층 - 기본적으로 position 없으면 1층, 있으면 2층부터 시작  */
                width: 100%;
                height: 360px; /* 흰색 배경의 전체 높이 */
                background-color: var(--color-white);
                transform: translateY(-110%);  /* 02.24 12시 강의)자기 높이보다 조금 더 많은 값을 줘서 위로 이동 - 그럼 안보임 */
                transition: 0.3s;
            }
            .header.menu_over::before{
                transform: translateY(0); /* 흰색 배경이 자연스럽게 내려옴 */
            }
            .header.menu_over::after{  /* header 아래 선 */
                content: "";
                position: absolute;  /* header(fixed)를 기준으로 정렬 */
                left: 0;
                top: var(--header-height); /* header의 높이만큼 내려와서 아래 선을 그어야 하기 때문에 */
                width: 100%;
                height: 1px;
                background-color: #ccc;
            }
            .header.menu_over .logo a{
                background-image: url(../images/logo_black.svg);
            }
            .header.menu_over .gnb .gnb_wrap ul.depth1 > li{
                min-width: 180px; /* 1차메뉴의 글자의 길이가 달라서 넓이를 지정해주는 거임 */
            }
            .header.menu_over .gnb .gnb_wrap ul.depth1 > li.over > a{
                color: var(--color-main);
                height: var(--font-weight-bold);
            }
            .header.menu_over .gnb .gnb_wrap ul.depth1 > li.over > a::after{
                width: 100%;  /* header랑 li에 클래스가 붙기 전에 스타일을 다 줘서 효과가 부드럽게 나타나게 해줌 */
            }
            
            .header .gnb .gnb_bg{ /* 검은블러 배경 */
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100vh; 
                z-index: -2; /* header::before -->2차메뉴 흰색배경이 z-index -1이라서 여기서는 -2를 줘야 2차메뉴 아래로 깔림) */
                background-color: rgba(0, 0, 0, 0);
                backdrop-filter: blur(0);
                transform: translateY(-110%); /* 02.24 12시 강의 */
                transition: background-color 0.3s, background-filter 0.3s;
                /* 
                    클래스 추가 전후에 변화는 transform, background-color, background-filter만 존재
                    이떄 trasition을 background-color, background-filter만 줌
                    그럼 남은 하나 transform은 빨리 적용되고 나머지는 transition 시간만큼 천천히 들어감
                */
            }
            .header.menu_over .gnb .gnb_bg{
                background-color: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(4px);
                transform: translateY(0);
            }
}/*@media*/
@media screen and (min-width:1025px) and (max-width:1100px){ /* 1200부터 1025 사이일때만 */
            .header.menu_over .gnb .gnb_wrap ul.depth1 > li{
                min-width: 140px;  /* util이 안따라올때까지 브라우저에서 li 넓이 조정하기 */
            }
}/*@media*/
@media screen and (max-width:1024px){ /* 1024이하일 때 */
            .header{
                padding-right: 0;
            }
            .header .gnb .gnb_open{
                width: var(--header-height);
                height: var(--header-height);
                
                /* 아이콘을 가운데 정렬하기 위해 주는 값 */
                display: flex;
                justify-content: center;
                align-items: center;
            }
            /* .header .gnb .gnb_open svg{
                width: calc(var(--header-height) * 0.43);
                height: calc(var(--header-height) * 0.33);  768이 되기 전에는 아이콘의 사이즈가 너무 커서 부담스럽기 때문에 아예 안줄거임
            } */
            .header .gnb .gnb_wrap{
                position: fixed;
                right: 0;
                top: 0;
                z-index: 10; /* 검정블러 배경 위로 원래 있던 로고가 올라와서 얘를 그냥 위로 올려버림 -> 그럼 검정블러 배경도 아래로 내려가고, 로고도 안보임 */
                width: 100%;
                max-width: 500px; /* 모바일에서의 메뉴의 최소 넓이 */
                height: 100vh; /* = 다 똑같음 100%, 100dvh = 브라우저에 꽉 차게 */
                background-color: var(--color-white);
                color: var(--font-color-txt);
                fill: var(--font-color-txt);
                transform: translateX(110%); /* % -> 나의 넓이를 기준으로 들어감 */
                transition: 0.3s;
            }
            .header.menu_open .gnb .gnb_wrap{
                transform: translateX(0);  /* 메뉴가 오른쪽에서 들어옴 */
            }
            .header .gnb .gnb_wrap .gnb_logo{
                position: absolute;  /* 02.24 2시 25분)  gnb_wrap을 기준으로 정렬 */
                /* ul.depth1을 제외한 나머지는 absolute */
                left: var(--wrapper-margin);
                top: 0;
                height: var(--header-height);
                width: max(121px, calc(var(--header-height) * 1.78));
                background: url(../images/logo_black.svg) no-repeat left center / contain;
            }
            .header .gnb .gnb_wrap ul.depth1{
                margin: var(--header-height) 0 0 0;  /* header로부터 떨어지는 여백 + 스크롤 될때 메뉴만 스크롤하기 위해(로고까지 같이 스크롤되는것을 방지하기 위함) */
                height: calc(100% - var(--header-height)); 
                /* 브라우저 높이가 줄어들었을 때, 스크롤 생성을 위해 높이를 주는거고, 100%에서 헤더높이를 뺀 이유는 헤더영역을 제외하고 메뉴를 아래로 스크롤하기 위함 */
                padding: 15px 0 0 0;  /* 1차메뉴의 글자가 위로부터 떨어지는 여백 */
                overflow-y: auto; /* 얘가 들어갈땐, 높이값이 필수로 들어가야 함. 안의 내용이 길어지면 스크롤 생성 */
                /* height: 100%; 이렇게 주면 마지막 메뉴가 안보이기 때문에 calc 계산법으로 주는거임 */
            }
            .header .gnb .gnb_wrap ul.depth1 > li > a{
                display: block;
                font-family: var(--font-family-Eulyoo);
                font-size: 22px;
                padding: 14px var(--header-height) 14px var(--wrapper-margin); /* 글자끼리 떨어지는 여백 */
                            /* 오른쪽 여백은 아이콘이 들어갈 공간 마련 */
                position: relative; /* after 정렬의 기준 */
            }
            .header .gnb .gnb_wrap ul.depth1 > li.open > a{
                color: var(--color-main);
                font-weight: var(--font-weight-bold);
            }
            .header .gnb .gnb_wrap ul.depth1 > li > a::after{
                content: "";
                position: absolute;  /* a를 기준으로 정렬 */
                right: 0;
                top: 0;
                width: var(--header-height);  /* 메뉴닫기 버튼이랑 넓이를 같게 줘서 닫기 아이콘이랑 일렬로 쭉 내려오고 좌우 가운데 정렬을 주기 위함 */
                height: 100%;  /* a랑 사이즈를 동일하게 줘서 글자의 위아래 가운데 위치시키기 위함 */
                background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1.28172L8.5 10L0 1.28172L1.24963 5.94744e-07L8.5 7.43678L15.7504 -3.9103e-08L17 1.28172Z' fill='%23555555'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
                transition: 0.3s;
            }
            .header .gnb .gnb_wrap ul.depth1 > li.open > a::after{
                transform: rotate(180deg);
                background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1.28172L8.5 10L0 1.28172L1.24963 5.94744e-07L8.5 7.43678L15.7504 -3.9103e-08L17 1.28172Z' fill='%236C4B43'/%3E%3C/svg%3E%0A");
            }
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
                background-color: var(--color-bg);
                padding: 16px var(--wrapper-margin) 16px var(--wrapper-margin);
                display: none;
            }
            /* .header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2{
                display: block;
            } */
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a{
                display: block;
                padding: 8px 0 8px var(--wrapper-margin);
            }
            .header .gnb .gnb_wrap .gnb_close{
                position: absolute; /* gnb_wrap을 기준으로 정렬 */
                right: 0;
                top: 0;
                width: var(--header-height);
                height: var(--header-height);
                
                /* 아이콘을 가운데 정렬하기 위해 주는 값 */
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .header .gnb .gnb_bg{
                position: fixed;
                left: 0;
                top: 0;
                width: 100vw;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0);
                backdrop-filter: blur(0);
                transform: translateX(110%);
                transition: background-color 0.3s, backdrop-filter 0.3s;
            }
            .header.menu_open .gnb .gnb_bg{
                background-color: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(4px);
                transform: translateX(0);
            }
            .header .util{
                display: none;
            }

            
}/*@media*/


.visual{
    position: relative; /* ctrl_left / ctrl_right 정렬의 기준 */
}
.visual .swiper-slide{
    /* height: 100vh;
    min-height: 500px;  최소높이를 줌으로써 브라우저의 높이를 제한하여, 글자의 아래 여백이 500px부터는 따라오지 않음  */
    height: max(500px, 100vh); /* <- 위에 두줄 요약한거 */
    background: url(../images/visual_bg01.jpg) no-repeat center center / cover;
    color: var(--color-white);
    padding: 0 var(--wrapper-margin) 175px var(--wrapper-margin);  /* 디자인의 좌우 여백을 주기 위해 준 padding */

    display: flex;  /* h3-p 아래로 정렬하기 위해 준 조건 3개 */
    flex-direction: column;
    justify-content: flex-end;
}
.visual .swiper-slide.bg2{
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.bg3{
    background-image: url(../images/visual_bg03.jpg);
}
.visual .swiper-slide h3{
    font-family: var(--font-family-Eulyoo);
    font-size: clamp(40px, 7vw, 80px);  /* 모바일 제일 작은 사이즈, 평소값=vw, pc버전 제일 큰 사이즈 */
    /* clamp(최소값,평소값,최대값)
       clamp(모바일크기, 대충 pc크기 px기준 1/10 정도의 vw , pc크기) */
    line-height: var(--line-height-tit);
    margin: 0 0 4px 0;
}
.visual .ctrl_left{
    position: absolute; /* visual을 기준으로 정렬 */
    left: var(--wrapper-margin);
    bottom: 99px;
    z-index: 1;  /* 화면에 안보여서 준 값 */
    color: var(--color-white);
    fill: var(--color-white);  /* svg 아이콘 흰색 */
    display: flex; /* bar-button 좌우 정렬 */
    align-items: center;  /* bar를 위아래 가운데 하기 위해 준 값 */
    gap: 0 19px;  /* bar-button 사이 여백 */
}
.visual .ctrl_left .bar{
    width: 200px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative; /* bar span 정렬의 기준 */
}
.visual .ctrl_left .bar span{ 
    position: absolute; /* bar를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: var(--color-white);
}
.visual .ctrl_left .play{
    display: none; /* 재생을 눌렀을 때만 나옴 */
}
.visual .ctrl_right{
    position: absolute; /* visual을 기준으로 정렬 */
    right: var(--wrapper-margin);
    bottom: 77px;
    z-index: 1;  /* 화면에 안보여서 준 값 */
    color: var(--color-white);
    fill: var(--color-white);  /* svg 아이콘 흰색 */
    display: flex; /* button 좌우 정렬 */
    gap: 0 6px;  /* button 사이 여백 */
}
.visual .ctrl_right button{
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    
    /* 아이콘을 원의 가운데 정렬하기 위해서 주는 조건 */
    display: flex;  /* 안의 요소가 하나만 들어가도 flex로 가운데 정렬해주면 됨 */
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:768px){
            .visual .swiper-slide{
                height: 500px;  /* pc에선 브라우저에 꽉 채우다가 모바일에선 높이 제한 */
                padding-bottom: 45px;
            }
            .visual .ctrl_left,
            .visual .ctrl_right{
                display: none;
            }
}/*@media*/



.book{
    background-color: var(--color-bg);
    color: var(--font-color-txt);
    padding: 206px 0 129px 0;
    /* inner를 오른쪽으로 배치하기 위함 */
    /* display: flex;
    justify-content: flex-end; */
}
.book .inner{
    /* width: calc(50% + calc(var(--wrapper-width)  / 2));  book 넓이의 50% (넓이는 항상 나를 감싸는 애를 기준으로 들어감/높이는 누구한테 감싸여있든 자기 맘대로) */
    margin-left: calc(calc(100% - var(--wrapper-width)) / 2); /* 02.25 9:30 강의 */
    /* 전체넓이 100% - wrapper의 넓이 --> 그럼 양사이드 여백이 남음
       그럼 그 여백을 반띵하면 왼쪽 여백이 됨 */

       display: flex; /* tit - list 좌우 정렬 */
       justify-content: space-between;
       position: relative; /* btn_wrap 정렬의 기준 */
       align-items: flex-start;
}
.book .tit h2{
    font-family: var(--font-family-Eulyoo);
    font-size: var(--font-size-tit);
    line-height: var(--line-height-tit);
    margin: 0 0 21px 0; /* p 태그와의 여백 */
}
.book .list{
    width: calc(100% - 327px);
    /* inner의 넓이 100%에서 왼쪽 tit의 넓이 327px 빼고 전부 다 */
}
.book .list .swiper-wrapper{
    align-items: flex-end;
}
.book .list .swiper-slide{
    width: 250px;
}
.book .list .swiper-slide a{
    display: block;
}
.book .list .swiper-slide a .photo{
    overflow: hidden;
    border: 1px solid #ededed;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
}
.book .list .swiper-slide a .photo img{
    width: 100%;
    height: 100%;
    object-fit: contain;  /* 책이 안짤리고 다 나옴 */
    vertical-align: top;  /* img에 행간같이 아래 여백이 사라지는 값 */
}
.book .list .swiper-slide a .txt h3{
    font-family: var(--font-family-Eulyoo);
    font-size: var(--font-size-subTit2);
    line-height: var(--line-height-tit);
    margin: 24px 0 13px 0; /* span 태그와의 여백 */
    /* 2줄 제한 */
    max-height: calc(var(--line-height-tit) * 2em); /* max로 줘야 제목이 1줄인 애들의 저자가 바로 아래로 따라옴 */
    overflow: hidden;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    word-break: normal;  /* common.css에서 준 단어 단위로 줄바꿈 해제 - 글자를 책의 넓이와 동일하게 하기 위함 */
    
    /* 
     1줄 제한
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
    */
}
.book .list .swiper-slide a .txt span{
    display: block;
    color: var(--font-color-gray);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .btn_wrap{
    position: absolute;  /* inner를 기준으로 정렬 */
    left: 0;
    top: 268px;
}


@media screen and (max-width:1384px){  /* wrapper의 width를 auto로 푸는 미디어쿼리 */
        .book .inner{
            margin-left: var(--wrapper-margin);
            /* width: calc(100% - var(--wrapper-margin)); */
        }
}/*@media*/




.footer{
    margin-top: 1000px;
}