@import url(common.css);
@import url(fonts.css);
@import url(default.css);



.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 0 var(--wrapper-margin);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .tit h1 a{
    display: block;
    font-family: var(--font-family-pretendard);
    font-size: 26px;
    font-weight: var(--font-weight-B);
    line-height: var(--line-height-tit);
}
.header .nav ul{
    display: flex;
}
.header .nav ul li{
    position: relative;
}
.header .nav ul li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 16px;
    background-color: rgba(29, 29, 29, 0.4);
}
.header .nav ul li:first-child::before{
    display: none;
}
.header .nav ul li a{
    display: block;
    font-family: var(--font-family-pretendard);
    font-size: 26px;
    font-weight: var(--font-weight-R);
    line-height: 80px;
    padding: 0 27px;
    transition: 0.3s;
}
.header .nav ul li a.active,
.header .nav ul li a:hover{
    color: #F5ECE6;
}
.header .nav ul li a span{
    position: relative;
}
.header .nav ul li a span::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
    height: 35px;
    padding: 5px 11px;
    background-color: #A38676;
    border-radius: 5px;
    opacity: 0;
    transition: 0.3s;
}
.header .nav ul li a.active span::after,
.header .nav ul li a:hover span::after{
    opacity: 1;
}



.visual{
    width: 100vw;
    height: 100vh;
}
.visual .photo{
    overflow: hidden;
}
.visual .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}



.about_me .list_wrap{
    padding: 141px 118px;
    display: flex;
}
.about_me .list_wrap .list_left .box{
    position: relative;
    width: 485px;
    height: 613px;
}
.about_me .list_wrap .list_left .photo{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.about_me .list_wrap .list_left .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    -webkit-mask-image: url(../images/main/about_webkit.svg);
    -webkit-mask-size: 485px;
    mask-image: url(../images/main/about_webkit.svg);
    mask-size: 485px;
}
.about_me .list_wrap .list_right{
    width: calc(100% - 775px);
}