@import url(pretendard.css);
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;  /* 글자의 스타일만 상속받음 */
    font-size: inherit;
}
*{
    margin: 0;
    padding: 0;
}
a{
        color: inherit;
        text-decoration: none;
    }


body{
    font-family: 'pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
}
.wrapper{
    width: 1260px;
    margin: 0 auto;
}