@import url(common_full.css);

section{
    margin: 10rem 0;
}
section h2{
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-tit);
    line-height: var(--line-height-tit);
    color: var(--color-tit);
}

.btn_wrap button{
    font-size: clamp(1.6rem, 2.5vw, 3rem);  /* 최소값, 기본값, 최대값 *//* button에서는 3rem = 1em */
    font-weight: var(--font-weight-tit);
    border: 1px solid var(--color-default);
    border-radius: 1.3em;  /* 40px */
    padding: 0.4em 2.8em 0.3667em 1.6333em;
    position: relative; /* after 정렬의 기준 */
}
.btn_wrap button::after{
    content: "";
    position: absolute;
    right: 1.3em;
    top: 0.7333em;
    width: 0.7667em;
    height: 0.7667em;
    background: url(../images/more.svg) no-repeat center center / contain;
}
