@import url(default.css);
@import url(pretendard.css);
@import url(common_res.css);
/* svg는 높이를 안주고 넓이만 줘도 비율에 맞게 알아서 잘 들어가짐--> html에 svg코드에 viewBox에 넓이 기재되어 있음 */

section h2{
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-tit);
    color: var(--color-tit);
    line-height: var(--line-height-tit);
    margin: 3em 0 0.3em 0;
    /* em은 지금 요소의 글자크기를 1em으로 보고 계산 -- 현재의 글자크기 = 1em */
}
/* <h2></h2>
   <p></p>  이렇게 코딩된 경우 (p태그 있는 경우)*/
section h2 + p{
    margin: 0 0 var(--font-size-tit) 0;
}
/* <h2></h2>
   <list></list>  이렇게 코딩된 경우 (p태그 없는 경우) */
section h2 + .list{
    margin: var(--font-size-tit) 0 0 0;
}


.svg_bg .list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 3.4rem;
}
.svg_bg .list .more{
    display: block;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    font-size: clamp(1.6rem, 2.5vw, 3rem);  /* 글자크기만 rem 단위 사용 */
    font-weight: var(--font-weight-tit);
    /* 글자크기는 rem으로 주고, 여백등의 다른 단위는 em으로 줌
       em = 현재 감싸는 요소의 글자크기를 1em으로 보는 단위 */
    border-radius: 1.6667em;
    padding: 0.7667em 3.3667em 0.7333em 2.1em; /* 위아래 -4px , 좌우 -2px */
    position: relative;  /* after 정렬 기준 */
}
.svg_bg .list .more:hover{
    color: var(--color-sub);
    border-color: var(--color-sub);
}
.svg_bg .list .more::after{
    content: "";
    position: absolute;
    right: 2em;
    top: 1.1em;
    width: 0.8em;  /* 아이콘 사이즈 */
    height: 0.8em;
    background: url(../images/icon_more.svg) no-repeat center center / contain;
}
.svg_bg .list .more:hover::after{
    background-image: url(../images/icon_more_over.svg);
}
.svg_bg .list .lang{
    color: var(--color-main);
    font-size: clamp(1.6rem, 2.5vw, 3rem);  /* 글자크기만 rem 단위 사용 */
    font-weight: var(--font-weight-tit);
    padding: 0 0 0 1.0333em;  /* 아이콘이 들어갈 자리를 만들어주기 위해 준 내부 여백 */
    position: relative; /* before 정렬 기준 */
}
.svg_bg .list .lang:hover{
    color: var(--color-sub);
}
.svg_bg .list .lang::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;  /* 글자의 위아래 가운데 위치 */
    transform: translateY(-50%); /* 글자의 위아래 가운데 위치 */
    width: 0.7em;
    height: 0.7em;
    background: url(../images/icon_lang.svg) no-repeat center center / contain;
}
.svg_bg .list .lang:hover::before{
    background-image: url(../images/icon_lang_over.svg);
}
.svg_bg .list .mypage{
    color: var(--color-main);
    font-size: clamp(1.6rem, 2vw, 2rem);
    font-weight: var(--font-weight-tit);
    padding: 2.4em 0 0 0;  /* 아이콘이 들어갈 여백 */
    position: relative; /* before 정렬 기준 */
}
.svg_bg .list .mypage:hover{
    color: var(--color-sub);
}
.svg_bg .list .mypage::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: 0;
    width: 2.2em;  /* 아이콘 사이즈 */
    height: 2.15em;
    background: url(../images/icon_my.svg) no-repeat center center / contain;
}
.svg_bg .list .mypage:hover::before{
    background-image: url(../images/icon_my_over.svg);
}
.svg_bg .list .gnb_open{
    width: clamp(56px, 6.8vw, 78px);  /* 상자의 넓이 */
    height: clamp(56px, 6.8vw, 78px); /* 상자의 높이 */
    background: url(../images/icon_menu.svg) no-repeat center center / 62.5%;  /* 아이콘의 넓이와 높이가 다르면 넓이를 입력해줘야 함 */
    /* 넓이 높이의 몇 % - 아이콘 사이즈가 */
}
.svg_bg .list .gnb_open:hover{
    background-image: url(../images/icon_menu_over.svg);
}
.svg_bg .list .gnb_open span{
    display: none;
}



.png_bg .list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 3.4rem;
}
.png_bg .list .more{
    display: block;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    font-size: clamp(1.6rem, 2.5vw, 3rem);  /* 글자크기만 rem 단위 사용 */
    font-weight: var(--font-weight-tit);
    /* 글자크기는 rem으로 주고, 여백등의 다른 단위는 em으로 줌
       em = 현재 감싸는 요소의 글자크기를 1em으로 보는 단위 */
    border-radius: 1.6667em;
    padding: 0.7667em 3.3667em 0.7333em 2.1em; /* 위아래 -4px , 좌우 -2px */
    position: relative;  /* after 정렬 기준 */
}
.png_bg .list .more:hover{
    color: var(--color-sub);
    border-color: var(--color-sub);
}
.png_bg .list .more::after{
    content: "";
    position: absolute;
    right: 2em;
    top: 1.1em;
    width: 0.8em;  /* 아이콘 사이즈 */
    height: 0.8em;
    background: url(../images/icon_more.png) no-repeat center center / contain;
}
.png_bg .list .more:hover::after{
    background-image: url(../images/icon_more_over.png);
}
.png_bg .list .lang{
    color: var(--color-main);
    font-size: clamp(1.6rem, 2.5vw, 3rem);  /* 글자크기만 rem 단위 사용 */
    font-weight: var(--font-weight-tit);
    padding: 0 0 0 1.0333em;  /* 아이콘이 들어갈 자리를 만들어주기 위해 준 내부 여백 */
    position: relative; /* before 정렬 기준 */
}
.png_bg .list .lang:hover{
    color: var(--color-sub);
}
.png_bg .list .lang::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;  /* 글자의 위아래 가운데 위치 */
    transform: translateY(-50%); /* 글자의 위아래 가운데 위치 */
    width: 0.7em;
    height: 0.7em;
    background: url(../images/icon_lang.png) no-repeat center center / contain;
}
.png_bg .list .lang:hover::before{
    background-image: url(../images/icon_lang_over.png);
}
.png_bg .list .mypage{
    color: var(--color-main);
    font-size: clamp(1.6rem, 2vw, 2rem);
    font-weight: var(--font-weight-tit);
    padding: 2.4em 0 0 0;  /* 아이콘이 들어갈 여백 */
    position: relative; /* before 정렬 기준 */
}
.png_bg .list .mypage:hover{
    color: var(--color-sub);
}
.png_bg .list .mypage::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: 0;
    width: 2.2em;  /* 아이콘 사이즈 */
    height: 2.15em;
    background: url(../images/icon_my.png) no-repeat center center / contain;
}
.png_bg .list .mypage:hover::before{
    background-image: url(../images/icon_my_over.png);
}
.png_bg .list .gnb_open{
    width: clamp(56px, 6.8vw, 78px);  /* 상자의 넓이 */
    height: clamp(56px, 6.8vw, 78px); /* 상자의 높이 */
    background: url(../images/icon_menu.png) no-repeat center center / 62.5%;  /* 아이콘의 넓이와 높이가 다르면 넓이를 입력해줘야 함 */
    /* 넓이 높이의 몇 % - 아이콘 사이즈가 */
}
.png_bg .list .gnb_open:hover{
    background-image: url(../images/icon_menu_over.png);
}
.png_bg .list .gnb_open span{
    display: none;
}



.svg_path .list{
    display: flex;
    align-items: center;
    gap: 0 50px;
    flex-wrap: wrap;
}
.svg_path .list .more{
    display: flex; /* 글자,아이콘 좌우 배치 */
    gap: 0 0.5em;
    align-items: center;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    fill: var(--color-main);  /* svg의 색상-- 단 html에 있는 svg,path fill이 없어야 함 */
    font-size: clamp(1.6rem, 2.5vw, 3rem);  /* 글자크기만 rem 단위 사용 */
    font-weight: var(--font-weight-tit);
    /* 글자크기는 rem으로 주고, 여백등의 다른 단위는 em으로 줌
       em = 현재 감싸는 요소의 글자크기를 1em으로 보는 단위 */
    border-radius: 1.6667em;
    padding: 0.7667em 2.1em 0.7333em 2.1em; /* 위아래 -4px , 좌우 -2px */
}
.svg_path .list .more:hover{
    color: var(--color-sub);
    fill: var(--color-sub);
    border-color: var(--color-sub);
}
.svg_path .list .more svg{
    width: 0.8em;
    height: 0.8em;
}
.svg_path .list .lang{
    display: flex;  /* svg-글자 좌우배치 */
    gap: 0 0.3333em;
    align-items: center;  /* 위아래 가운데 */
    font-size: clamp(1.6rem, 2.5vw, 3rem);
    font-weight: var(--font-weight-tit);
    color: var(--color-main);
    fill: var(--color-main);
}
.svg_path .list .lang svg{
    width: 0.7em;
    height: 0.7em;
}
.svg_path .list .lang:hover{
    color: var(--color-sub);
    fill: var(--color-sub);
}
.svg_path .list .mypage{
    display: flex;
    flex-direction: column;  /* 세로로 정렬 */
    align-items: center; /* 좌우에 가운데 */
    gap: 0.25em 0;
    color: var(--color-main);
    fill: var(--color-main);
    font-size: clamp(1.6rem, 2.3vw, 2rem);
    font-weight: var(--font-weight-tit);
}
.svg_path .list .mypage svg{
    width: 2.2em;
    height: 2.15em;
}
.svg_path .list .mypage:hover{
    color: var(--color-sub);
    fill: var(--color-sub);
}
.svg_path .list .gnb_open{
    width: clamp(56px, 7.3vw ,80px);
    height: clamp(56px, 7.3vw ,80px);
    fill: var(--color-main);
    display: flex;
    align-items: center; /* 위아래 가운데 */
    justify-content: center;  /* 좌우에 가운데 */
    fill: var(--color-main);
}
.svg_path .list .gnb_open span{
    display: none;
}
.svg_path .list .gnb_open svg{
    width: 62.5%;  /* gnb_open의 넓이의 몇 % */
}
.svg_path .list .gnb_open:hover{
    color: var(--color-sub);
    fill: var(--color-sub);
}



.path_bg .list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 50px;
}
.path_bg .list .more{
    display: block;
    font-size: clamp(1.6rem, 3.2vw, 3rem);
    font-weight: var(--font-weight-tit);
    color: var(--color-main);
    border: 1px solid var(--color-main);
    border-radius: 1.667em;
    padding: 0.767em 3.367em 0.733em 2.1em;
    position: relative;  /* after 정렬 기준 */
}
.path_bg .list .more::after{
    content: "";
    position: absolute;  /* more를 기준으로 정렬 */
    right: 2.1em;
    top: 1.067em;
    width: 0.8em;
    height: 0.8em;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2857 13.7143H1.71429C1.22857 13.7143 0.821429 13.55 0.492857 13.2214C0.164286 12.8929 0 12.4857 0 12C0 11.5143 0.164286 11.1071 0.492857 10.7786C0.821429 10.45 1.22857 10.2857 1.71429 10.2857H10.2857V1.71429C10.2857 1.22857 10.45 0.821429 10.7786 0.492857C11.1071 0.164286 11.5143 0 12 0C12.4857 0 12.8929 0.164286 13.2214 0.492857C13.55 0.821429 13.7143 1.22857 13.7143 1.71429V10.2857H22.2857C22.7714 10.2857 23.1786 10.45 23.5071 10.7786C23.8357 11.1071 24 11.5143 24 12C24 12.4857 23.8357 12.8929 23.5071 13.2214C23.1786 13.55 22.7714 13.7143 22.2857 13.7143H13.7143V22.2857C13.7143 22.7714 13.55 23.1786 13.2214 23.5071C12.8929 23.8357 12.4857 24 12 24C11.5143 24 11.1071 23.8357 10.7786 23.5071C10.45 23.1786 10.2857 22.7714 10.2857 22.2857V13.7143Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    background-size: contain;
}
.path_bg .list .more:hover{
    color: var(--color-sub);
    border-color: var(--color-sub);
}
.path_bg .list .more:hover::after{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2857 13.7143H1.71429C1.22857 13.7143 0.821429 13.55 0.492857 13.2214C0.164286 12.8929 0 12.4857 0 12C0 11.5143 0.164286 11.1071 0.492857 10.7786C0.821429 10.45 1.22857 10.2857 1.71429 10.2857H10.2857V1.71429C10.2857 1.22857 10.45 0.821429 10.7786 0.492857C11.1071 0.164286 11.5143 0 12 0C12.4857 0 12.8929 0.164286 13.2214 0.492857C13.55 0.821429 13.7143 1.22857 13.7143 1.71429V10.2857H22.2857C22.7714 10.2857 23.1786 10.45 23.5071 10.7786C23.8357 11.1071 24 11.5143 24 12C24 12.4857 23.8357 12.8929 23.5071 13.2214C23.1786 13.55 22.7714 13.7143 22.2857 13.7143H13.7143V22.2857C13.7143 22.7714 13.55 23.1786 13.2214 23.5071C12.8929 23.8357 12.4857 24 12 24C11.5143 24 11.1071 23.8357 10.7786 23.5071C10.45 23.1786 10.2857 22.7714 10.2857 22.2857V13.7143Z' fill='%23FE1111'/%3E%3C/svg%3E%0A");
}
.path_bg .list .lang{
    font-size: clamp(1.6rem, 2.5vw, 3rem);
    font-weight: var(--font-weight-tit);
    color: var(--color-main);
    padding: 0 0 0 1.1em;
    position: relative; /* before 정렬의 기준 */
}
.path_bg .list .lang::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%; /* 위아래 가운데 */
    transform: translateY(-50%); /* 위아래 가운데 */
    width: 0.7em;
    height: 0.7em;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.43125 20.1731C5.15375 19.6219 4.03812 18.8694 3.08437 17.9156C2.13062 16.9619 1.37812 15.8462 0.826875 14.5687C0.275625 13.2912 0 11.9306 0 10.4869C0 9.04312 0.275625 7.68687 0.826875 6.41812C1.37812 5.14937 2.13062 4.03812 3.08437 3.08437C4.03812 2.13062 5.15375 1.37812 6.43125 0.826875C7.70875 0.275625 9.06937 0 10.5131 0C11.9569 0 13.3131 0.275625 14.5819 0.826875C15.8506 1.37812 16.9619 2.13062 17.9156 3.08437C18.8694 4.03812 19.6219 5.14937 20.1731 6.41812C20.7244 7.68687 21 9.04312 21 10.4869C21 11.9306 20.7244 13.2912 20.1731 14.5687C19.6219 15.8462 18.8694 16.9619 17.9156 17.9156C16.9619 18.8694 15.8506 19.6219 14.5819 20.1731C13.3131 20.7244 11.9569 21 10.5131 21C9.06937 21 7.70875 20.7244 6.43125 20.1731ZM10.5 18.8475C10.955 18.2175 11.3487 17.5613 11.6812 16.8788C12.0137 16.1963 12.285 15.47 12.495 14.7H8.505C8.715 15.47 8.98625 16.1963 9.31875 16.8788C9.65125 17.5613 10.045 18.2175 10.5 18.8475ZM7.77 18.4275C7.455 17.85 7.17937 17.2506 6.94312 16.6294C6.70687 16.0081 6.51 15.365 6.3525 14.7H3.255C3.7625 15.575 4.39687 16.3363 5.15812 16.9838C5.91937 17.6313 6.79 18.1125 7.77 18.4275ZM13.23 18.4275C14.21 18.1125 15.0806 17.6313 15.8419 16.9838C16.6031 16.3363 17.2375 15.575 17.745 14.7H14.6475C14.49 15.365 14.2931 16.0081 14.0569 16.6294C13.8206 17.2506 13.545 17.85 13.23 18.4275ZM2.3625 12.6H5.9325C5.88 12.25 5.84062 11.9044 5.81437 11.5631C5.78812 11.2219 5.775 10.8675 5.775 10.5C5.775 10.1325 5.78812 9.77812 5.81437 9.43687C5.84062 9.09562 5.88 8.75 5.9325 8.4H2.3625C2.275 8.75 2.20937 9.09562 2.16562 9.43687C2.12187 9.77812 2.1 10.1325 2.1 10.5C2.1 10.8675 2.12187 11.2219 2.16562 11.5631C2.20937 11.9044 2.275 12.25 2.3625 12.6ZM8.0325 12.6H12.9675C13.02 12.25 13.0594 11.9044 13.0856 11.5631C13.1119 11.2219 13.125 10.8675 13.125 10.5C13.125 10.1325 13.1119 9.77812 13.0856 9.43687C13.0594 9.09562 13.02 8.75 12.9675 8.4H8.0325C7.98 8.75 7.94062 9.09562 7.91437 9.43687C7.88812 9.77812 7.875 10.1325 7.875 10.5C7.875 10.8675 7.88812 11.2219 7.91437 11.5631C7.94062 11.9044 7.98 12.25 8.0325 12.6ZM15.0675 12.6H18.6375C18.725 12.25 18.7906 11.9044 18.8344 11.5631C18.8781 11.2219 18.9 10.8675 18.9 10.5C18.9 10.1325 18.8781 9.77812 18.8344 9.43687C18.7906 9.09562 18.725 8.75 18.6375 8.4H15.0675C15.12 8.75 15.1594 9.09562 15.1856 9.43687C15.2119 9.77812 15.225 10.1325 15.225 10.5C15.225 10.8675 15.2119 11.2219 15.1856 11.5631C15.1594 11.9044 15.12 12.25 15.0675 12.6ZM14.6475 6.3H17.745C17.2375 5.425 16.6031 4.66375 15.8419 4.01625C15.0806 3.36875 14.21 2.8875 13.23 2.5725C13.545 3.15 13.8206 3.74937 14.0569 4.37062C14.2931 4.99187 14.49 5.635 14.6475 6.3ZM8.505 6.3H12.495C12.285 5.53 12.0137 4.80375 11.6812 4.12125C11.3487 3.43875 10.955 2.7825 10.5 2.1525C10.045 2.7825 9.65125 3.43875 9.31875 4.12125C8.98625 4.80375 8.715 5.53 8.505 6.3ZM3.255 6.3H6.3525C6.51 5.635 6.70687 4.99187 6.94312 4.37062C7.17937 3.74937 7.455 3.15 7.77 2.5725C6.79 2.8875 5.91937 3.36875 5.15812 4.01625C4.39687 4.66375 3.7625 5.425 3.255 6.3Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    background-size: contain;
}
.path_bg .list .lang:hover{
    color: var(--color-sub);
}
.path_bg .list .lang:hover::before{
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.43125 20.1731C5.15375 19.6219 4.03812 18.8694 3.08437 17.9156C2.13062 16.9619 1.37812 15.8462 0.826875 14.5687C0.275625 13.2912 0 11.9306 0 10.4869C0 9.04312 0.275625 7.68687 0.826875 6.41812C1.37812 5.14937 2.13062 4.03812 3.08437 3.08437C4.03812 2.13062 5.15375 1.37812 6.43125 0.826875C7.70875 0.275625 9.06937 0 10.5131 0C11.9569 0 13.3131 0.275625 14.5819 0.826875C15.8506 1.37812 16.9619 2.13062 17.9156 3.08437C18.8694 4.03812 19.6219 5.14937 20.1731 6.41812C20.7244 7.68687 21 9.04312 21 10.4869C21 11.9306 20.7244 13.2912 20.1731 14.5687C19.6219 15.8462 18.8694 16.9619 17.9156 17.9156C16.9619 18.8694 15.8506 19.6219 14.5819 20.1731C13.3131 20.7244 11.9569 21 10.5131 21C9.06937 21 7.70875 20.7244 6.43125 20.1731ZM10.5 18.8475C10.955 18.2175 11.3487 17.5613 11.6812 16.8788C12.0137 16.1963 12.285 15.47 12.495 14.7H8.505C8.715 15.47 8.98625 16.1963 9.31875 16.8788C9.65125 17.5613 10.045 18.2175 10.5 18.8475ZM7.77 18.4275C7.455 17.85 7.17937 17.2506 6.94312 16.6294C6.70687 16.0081 6.51 15.365 6.3525 14.7H3.255C3.7625 15.575 4.39687 16.3363 5.15812 16.9838C5.91937 17.6313 6.79 18.1125 7.77 18.4275ZM13.23 18.4275C14.21 18.1125 15.0806 17.6313 15.8419 16.9838C16.6031 16.3363 17.2375 15.575 17.745 14.7H14.6475C14.49 15.365 14.2931 16.0081 14.0569 16.6294C13.8206 17.2506 13.545 17.85 13.23 18.4275ZM2.3625 12.6H5.9325C5.88 12.25 5.84062 11.9044 5.81437 11.5631C5.78812 11.2219 5.775 10.8675 5.775 10.5C5.775 10.1325 5.78812 9.77812 5.81437 9.43687C5.84062 9.09562 5.88 8.75 5.9325 8.4H2.3625C2.275 8.75 2.20937 9.09562 2.16562 9.43687C2.12187 9.77812 2.1 10.1325 2.1 10.5C2.1 10.8675 2.12187 11.2219 2.16562 11.5631C2.20937 11.9044 2.275 12.25 2.3625 12.6ZM8.0325 12.6H12.9675C13.02 12.25 13.0594 11.9044 13.0856 11.5631C13.1119 11.2219 13.125 10.8675 13.125 10.5C13.125 10.1325 13.1119 9.77812 13.0856 9.43687C13.0594 9.09562 13.02 8.75 12.9675 8.4H8.0325C7.98 8.75 7.94062 9.09562 7.91437 9.43687C7.88812 9.77812 7.875 10.1325 7.875 10.5C7.875 10.8675 7.88812 11.2219 7.91437 11.5631C7.94062 11.9044 7.98 12.25 8.0325 12.6ZM15.0675 12.6H18.6375C18.725 12.25 18.7906 11.9044 18.8344 11.5631C18.8781 11.2219 18.9 10.8675 18.9 10.5C18.9 10.1325 18.8781 9.77812 18.8344 9.43687C18.7906 9.09562 18.725 8.75 18.6375 8.4H15.0675C15.12 8.75 15.1594 9.09562 15.1856 9.43687C15.2119 9.77812 15.225 10.1325 15.225 10.5C15.225 10.8675 15.2119 11.2219 15.1856 11.5631C15.1594 11.9044 15.12 12.25 15.0675 12.6ZM14.6475 6.3H17.745C17.2375 5.425 16.6031 4.66375 15.8419 4.01625C15.0806 3.36875 14.21 2.8875 13.23 2.5725C13.545 3.15 13.8206 3.74937 14.0569 4.37062C14.2931 4.99187 14.49 5.635 14.6475 6.3ZM8.505 6.3H12.495C12.285 5.53 12.0137 4.80375 11.6812 4.12125C11.3487 3.43875 10.955 2.7825 10.5 2.1525C10.045 2.7825 9.65125 3.43875 9.31875 4.12125C8.98625 4.80375 8.715 5.53 8.505 6.3ZM3.255 6.3H6.3525C6.51 5.635 6.70687 4.99187 6.94312 4.37062C7.17937 3.74937 7.455 3.15 7.77 2.5725C6.79 2.8875 5.91937 3.36875 5.15812 4.01625C4.39687 4.66375 3.7625 5.425 3.255 6.3Z' fill='%23FE1111'/%3E%3C/svg%3E%0A");
}
.path_bg .list .mypage{
    color: var(--color-main);
    font-size: clamp(16px, 2.3vw, 20px);
    font-weight: var(--font-weight-tit);
    padding: 2.4em 0 0 0;
    position: relative;
}
.path_bg .list .mypage::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 2.2em;
    height: 2.15em;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='43' viewBox='0 0 44 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7429 17.576C12.7365 15.5641 11.7333 13.1379 11.7333 10.2973C11.7333 7.4572 12.7365 5.03096 14.7429 3.01857C16.7493 1.00619 19.1684 0 22 0C24.8316 0 27.2507 1.00619 29.2571 3.01857C31.2635 5.03096 32.2667 7.4572 32.2667 10.2973C32.2667 13.1379 31.2635 15.5641 29.2571 17.576C27.2507 19.5884 24.8316 20.5946 22 20.5946C19.1684 20.5946 16.7493 19.5884 14.7429 17.576ZM0 38.5302V36.459C0 35.0184 0.390134 33.6841 1.1704 32.4563C1.95067 31.2285 2.99347 30.2846 4.2988 29.6246C7.19791 28.1991 10.1227 27.1299 13.0731 26.417C16.0236 25.704 18.9992 25.3475 22 25.3475C25.0008 25.3475 27.9764 25.704 30.9269 26.417C33.8773 27.1299 36.8021 28.1991 39.7012 29.6246C41.0065 30.2846 42.0493 31.2285 42.8296 32.4563C43.6099 33.6841 44 35.0184 44 36.459V38.5302C44 39.7708 43.5666 40.826 42.6998 41.6959C41.833 42.5653 40.7809 43 39.5435 43H4.45647C3.21909 43 2.167 42.5653 1.3002 41.6959C0.4334 40.826 0 39.7708 0 38.5302ZM4.4 38.5869H39.6V36.459C39.6 35.8632 39.4279 35.3116 39.0837 34.8041C38.7396 34.2971 38.2724 33.8832 37.6823 33.5625C35.1548 32.3141 32.5796 31.3682 29.9567 30.7249C27.3338 30.0821 24.6816 29.7606 22 29.7606C19.3184 29.7606 16.6662 30.0821 14.0433 30.7249C11.4204 31.3682 8.84522 32.3141 6.31767 33.5625C5.72758 33.8832 5.26044 34.2971 4.91627 34.8041C4.57209 35.3116 4.4 35.8632 4.4 36.459V38.5869ZM26.1433 14.453C27.2922 13.3007 27.8667 11.9154 27.8667 10.2973C27.8667 8.67914 27.2922 7.29391 26.1433 6.1416C24.9944 4.98928 23.6133 4.41312 22 4.41312C20.3867 4.41312 19.0056 4.98928 17.8567 6.1416C16.7078 7.29391 16.1333 8.67914 16.1333 10.2973C16.1333 11.9154 16.7078 13.3007 17.8567 14.453C19.0056 15.6053 20.3867 16.1815 22 16.1815C23.6133 16.1815 24.9944 15.6053 26.1433 14.453Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    background-size: contain;
}
.path_bg .list .mypage:hover{
    color: var(--color-sub);
}
.path_bg .list .mypage:hover::before{
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='43' viewBox='0 0 44 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7429 17.576C12.7365 15.5641 11.7333 13.1379 11.7333 10.2973C11.7333 7.4572 12.7365 5.03096 14.7429 3.01857C16.7493 1.00619 19.1684 0 22 0C24.8316 0 27.2507 1.00619 29.2571 3.01857C31.2635 5.03096 32.2667 7.4572 32.2667 10.2973C32.2667 13.1379 31.2635 15.5641 29.2571 17.576C27.2507 19.5884 24.8316 20.5946 22 20.5946C19.1684 20.5946 16.7493 19.5884 14.7429 17.576ZM0 38.5302V36.459C0 35.0184 0.390134 33.6841 1.1704 32.4563C1.95067 31.2285 2.99347 30.2846 4.2988 29.6246C7.19791 28.1991 10.1227 27.1299 13.0731 26.417C16.0236 25.704 18.9992 25.3475 22 25.3475C25.0008 25.3475 27.9764 25.704 30.9269 26.417C33.8773 27.1299 36.8021 28.1991 39.7012 29.6246C41.0065 30.2846 42.0493 31.2285 42.8296 32.4563C43.6099 33.6841 44 35.0184 44 36.459V38.5302C44 39.7708 43.5666 40.826 42.6998 41.6959C41.833 42.5653 40.7809 43 39.5435 43H4.45647C3.21909 43 2.167 42.5653 1.3002 41.6959C0.4334 40.826 0 39.7708 0 38.5302ZM4.4 38.5869H39.6V36.459C39.6 35.8632 39.4279 35.3116 39.0837 34.8041C38.7396 34.2971 38.2724 33.8832 37.6823 33.5625C35.1548 32.3141 32.5796 31.3682 29.9567 30.7249C27.3338 30.0821 24.6816 29.7606 22 29.7606C19.3184 29.7606 16.6662 30.0821 14.0433 30.7249C11.4204 31.3682 8.84522 32.3141 6.31767 33.5625C5.72758 33.8832 5.26044 34.2971 4.91627 34.8041C4.57209 35.3116 4.4 35.8632 4.4 36.459V38.5869ZM26.1433 14.453C27.2922 13.3007 27.8667 11.9154 27.8667 10.2973C27.8667 8.67914 27.2922 7.29391 26.1433 6.1416C24.9944 4.98928 23.6133 4.41312 22 4.41312C20.3867 4.41312 19.0056 4.98928 17.8567 6.1416C16.7078 7.29391 16.1333 8.67914 16.1333 10.2973C16.1333 11.9154 16.7078 13.3007 17.8567 14.453C19.0056 15.6053 20.3867 16.1815 22 16.1815C23.6133 16.1815 24.9944 15.6053 26.1433 14.453Z' fill='%23FE1111'/%3E%3C/svg%3E%0A");
}
.path_bg .list .gnb_open{
    width: clamp(56px, 7.3vw ,80px);  /* 상자의 넓이 */
    height: clamp(56px, 7.3vw ,80px);
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='38' viewBox='0 0 50 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.77778 5.42857C1.99074 5.42857 1.33102 5.16845 0.798611 4.64821C0.266204 4.12798 0 3.48333 0 2.71429C0 1.94524 0.266204 1.3006 0.798611 0.780357C1.33102 0.260119 1.99074 0 2.77778 0H47.2222C48.0093 0 48.669 0.260119 49.2014 0.780357C49.7338 1.3006 50 1.94524 50 2.71429C50 3.48333 49.7338 4.12798 49.2014 4.64821C48.669 5.16845 48.0093 5.42857 47.2222 5.42857H2.77778ZM2.77778 38C1.99074 38 1.33102 37.7399 0.798611 37.2196C0.266204 36.6994 0 36.0548 0 35.2857C0 34.5167 0.266204 33.872 0.798611 33.3518C1.33102 32.8315 1.99074 32.5714 2.77778 32.5714H47.2222C48.0093 32.5714 48.669 32.8315 49.2014 33.3518C49.7338 33.872 50 34.5167 50 35.2857C50 36.0548 49.7338 36.6994 49.2014 37.2196C48.669 37.7399 48.0093 38 47.2222 38H2.77778ZM2.77778 21.7143C1.99074 21.7143 1.33102 21.4542 0.798611 20.9339C0.266204 20.4137 0 19.769 0 19C0 18.231 0.266204 17.5863 0.798611 17.0661C1.33102 16.5458 1.99074 16.2857 2.77778 16.2857H47.2222C48.0093 16.2857 48.669 16.5458 49.2014 17.0661C49.7338 17.5863 50 18.231 50 19C50 19.769 49.7338 20.4137 49.2014 20.9339C48.669 21.4542 48.0093 21.7143 47.2222 21.7143H2.77778Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
    background-size: 62.5%;  /* 아이콘 사이즈=> 상자의 최대넓이(=80px)에서 아이콘 사이즈(=50px)을 %로 치환한 값 */
    background-position: center center;
    background-repeat: no-repeat;
}
.path_bg .list .gnb_open:hover{
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='38' viewBox='0 0 50 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.77778 5.42857C1.99074 5.42857 1.33102 5.16845 0.798611 4.64821C0.266204 4.12798 0 3.48333 0 2.71429C0 1.94524 0.266204 1.3006 0.798611 0.780357C1.33102 0.260119 1.99074 0 2.77778 0H47.2222C48.0093 0 48.669 0.260119 49.2014 0.780357C49.7338 1.3006 50 1.94524 50 2.71429C50 3.48333 49.7338 4.12798 49.2014 4.64821C48.669 5.16845 48.0093 5.42857 47.2222 5.42857H2.77778ZM2.77778 38C1.99074 38 1.33102 37.7399 0.798611 37.2196C0.266204 36.6994 0 36.0548 0 35.2857C0 34.5167 0.266204 33.872 0.798611 33.3518C1.33102 32.8315 1.99074 32.5714 2.77778 32.5714H47.2222C48.0093 32.5714 48.669 32.8315 49.2014 33.3518C49.7338 33.872 50 34.5167 50 35.2857C50 36.0548 49.7338 36.6994 49.2014 37.2196C48.669 37.7399 48.0093 38 47.2222 38H2.77778ZM2.77778 21.7143C1.99074 21.7143 1.33102 21.4542 0.798611 20.9339C0.266204 20.4137 0 19.769 0 19C0 18.231 0.266204 17.5863 0.798611 17.0661C1.33102 16.5458 1.99074 16.2857 2.77778 16.2857H47.2222C48.0093 16.2857 48.669 16.5458 49.2014 17.0661C49.7338 17.5863 50 18.231 50 19C50 19.769 49.7338 20.4137 49.2014 20.9339C48.669 21.4542 48.0093 21.7143 47.2222 21.7143H2.77778Z' fill='%23FE1111'/%3E%3C/svg%3E%0A");
}
.path_bg .list .gnb_open span{
    display: none;
}
.font_icon .list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 50px;
}
.font_icon i{
    font-size: inherit;
    line-height: inherit;
}
.font_icon .list .more{
    font-size: clamp(1.6rem, 3.2vw, 3rem);
    font-weight: var(--font-weight-tit);
    color: var(--color-main);
    border: 1px solid var(--color-main);
    border-radius: 1.667em;
    padding: 0.767em 2.1em 0.733em 2.1em;
    display: flex;
    gap: 0 9px;
}
.font_icon .list .more i{
    font-size: 1.1em;
    align-items: center;
}
.font_icon .list .more:hover{
    color: var(--color-sub);
    border-color: var(--color-sub);
}
.font_icon .list .lang{
    font-size: clamp(1.6rem, 3.2vw, 3rem);
    font-weight: var(--font-weight-tit);
    color: var(--color-main);
    display: flex;
    gap: 0 8px;
    align-items: center;
}
.font_icon .list .lang i{
    font-size: 0.7em;
}
.font_icon .list .lang:hover{
    color: var(--color-sub);
}
.font_icon .list .mypage{
    font-size: clamp(1.6rem, 2.3vw, 2rem);  /* 중간에 들어가는 vw는 마지막 rem보다 조금 커야 함 */
    font-weight: var(--font-weight-tit);
    color: var(--color-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;  /* 글자와 아이콘 사이 공간이 너무 커서 주는 행간 */
}
.font_icon .list .mypage i{
    font-size: 3.3em;
}
.font_icon .list .mypage:hover{
    color: var(--color-sub);
}
.font_icon .list .gnb_open{
    width: clamp(5.6rem, 8.5vw, 8rem);
    height: clamp(5.6rem, 8.5vw, 8rem);
    color: var(--color-main);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(5rem, 7.5vw 7rem);
}
.font_icon .list .gnb_open span{
    display: none;
}
    
body{
    margin: 0 0 500px 0;
}