@import url(pretendard.css);
@import url(common.css);

.tour{
    margin: 100px 0;
}
.tour .list ul{
    display: flex;
    justify-content: space-between;
}
.tour .list ul li{
    width: 190px;
}
.tour .list ul li a{
    height: 431px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
} 
.tour .list ul li:nth-child(1) a{
    background-color: #007888;
}
.tour .list ul li:nth-child(2) a{
    background-color: ##0000FE;
}
.tour .list ul li:nth-child(3) a{
    background-color: ##011E24;
}
.tour .list ul li:nth-child(4) a{
    background-color: ##0F52BA;
}