@import url(pretendard.css);
@import url(common.css);

.visual .swiper-slide{
    height: 900px;
    background: url(../images/visual01.jpg) no-repeat center center / cover;
    color: #fff;
}
.visual .swiper-slide.bg2{
    background-image: url(../images/visual02.jpg);
}
.visual .swiper-slide.bg3{
    background-image: url(../images/visual03.jpg);
}
.visual .swiper-slide h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 367px 0 20px 0;
}
.visual .ctrl_wrap{
    position: absolute;  /* swiper를 기준으로 정렬 =>min.css에서 적용됨 */
    left: 50%;  /* => 정렬의 기준이 되는 swiper의 넓이의 50% */
    transform: translateX(-50%);   /* => 나 자신의(=ctrl_wrap) 넓이의 절반을 왼쪽으로 이동 */
    /* left: 50%,transform: translateX(-50%) => 디자인한거처럼 정가운데로 오게 됨 */
    bottom: 57px;  /* 디자인할때의 아래 여백 */
    z-index: 10;  /* 브라우저에서 보이지 않아서 위로 올려준거임 */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;  /* 버튼 위아래 가운데 정렬 */
    gap: 0 6px;
}
.visual .ctrl_wrap .paging{
    width: auto;  /* 기본으로 들어간 넓이 100% 해제 */
    display: flex;
    gap: 0 6px;
    margin: 0 6px 0 0;  /* 버튼과 페이징 사이의 12px의 여백을 위해 오른쪽에 6px의 여백을 더 준다 */
}
/* swiper-pagination-bullet swiper-pagination-bullet-active */
.visual .ctrl_wrap .paging .swiper-pagination-bullet{  /* 2개짜리 작은 흰 원 */
    margin: 0;
    background: #fff;
    opacity: 1;
    width: 12px;
    height: 12px;
    border-radius: 6px; 
    /* border-radius: 6px => 높이의 절반 => 기존에 입력(min.css)되어 있던 50%가 들어가면 큰 흰색 원의 radius가 이상하게 들어가짐 */
}
.visual .ctrl_wrap .paging .swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 62px;
}
.visual .ctrl_wrap .btn{
    display: block;  /* button이 인라인 태그라 a처럼 주는거임(하지만 안들어가도 상관없음) */
    width: 21px;
    height: 21px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;  /* before,after 정렬의 기준 */
}
.visual .ctrl_wrap .btn:hover{
    border-color: #0724D7;
    background-color: #0724D7;
}
.visual .ctrl_wrap .btn.prev::before,
.visual .ctrl_wrap .btn.next::before{
    content: "";
    position: absolute; /* btn을 기준으로 정렬 */
    left: 6px;
    top: 5px;
    width: 8px;  /* 자른 사각형의 넓이 */
    height: 8px; /* 자른 사각형의 높이 */
    border-style: solid;
    border-color: #fff;
    border-width: 0 0 1px 1px;
    transform: rotate(45deg);  /* 45deg -> 45도 회전 */
}
.visual .ctrl_wrap .btn.next::before{
    transform: rotate(-135deg);
    left: 3px;
}
.visual .ctrl_wrap .btn.stop::before,
.visual .ctrl_wrap .btn.stop::after{
    content: "";
    position: absolute;
    left: 12px;
    top: 4px;
    width: 1px;
    height: 10px;
    background-color: #fff;
}
.visual .ctrl_wrap .btn.stop::after{
    left: 6px;
}
.visual .ctrl_wrap .btn.play::before{
    content: "";
    position: absolute;
    left: 6px;
    top: 3px;
    width: 11px;
    height: 12px;
    background: url(../images/visual_play.svg) no-repeat center center;
}
.visual .ctrl_wrap .btn.play{
    display: none;
}
@media screen and (max-width:768px){
            .visual .swiper-slide{
                height: 600px;
            }
            .visual .swiper-slide h3{
                font-size: 28px;
                margin: 150px 0 20px 0;
            }.visual .swiper-slide p{
                display: none;
            }
}/*@media*/

.news{
    margin: 100px 0 0 0;
}
.news h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
}
.news .list{ 
    margin: 40px 0 0 0; /* h2와의 여백 */
    position: relative; /* ctrl_wrap 정렬의 기준 */
}
.news .list .swiper-slide a{
    display: block;
}
.news .list .swiper-slide a h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    /* 1줄 제한 */
    white-space: nowrap;  /* 줄바꿈 금지 */
    overflow: hidden;  /* 잘리는 글자 안보이게 숨김 처리 */
    text-overflow: ellipsis;  /* 잘린 글자 끝에 ... 추가 */
}
.news .list .swiper-slide a p{
    margin: 24px 0;
    /* 2줄 제한 - 공통으로 들어가는 속성 */
    line-height: 1.5;  /* common.css에서 불러 온 p의 행간을 알면 안써도 됨 */
    overflow: hidden;
    /* 2줄 제한 방법① */
    height: 3em; /* 행간 x (원하는)줄수 = 단위는 em */
    /* 2줄 제한 방법② */
    /* 웹표준은 아니지만 마지막에 ...을 추가해주는 코드 */
    display: -webkit-box;  /* display 속성을 -webkit-box로 변경해줌 */
    -webkit-box-orient: vertical;  /* 수직방향 */
    -webkit-line-clamp: 2;  /* 2줄로 */
}
.news .list .swiper-slide a .photo{
    overflow: hidden;
}
.news .list .swiper-slide a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    vertical-align: top;  /* => 사진에도 행간이 존재하기 때문에 img가 확대될 때 아래가 늘어나는것을 방지하고자 주는 속성 */
}
.news .list .swiper-slide a:hover .photo img{
    transform: scale3d(1.125, 1.125, 1);
}
.news .list .ctrl_wrap{
    position: absolute;  /* list를 기준으로 정렬 */
    right: 0;
    top: -74px;
    display: flex;
    gap: 0 6px;
}
.news .list .ctrl_wrap button{
    width: 26px;  /* 원의 넓이 */
    height: 26px; /* 원의 높이 */
    border: 1px solid #1d1d1d;  /* 원의 테두리 */
    border-radius: 50%;  /* 정 원 */
    background: url(../images/news_next.svg) no-repeat center center;
}
.news .list .ctrl_wrap button.prev{
    transform: rotate(180deg);
}
.news .list .ctrl_wrap button.swiper-button-disabled{
    opacity: 0.6;  /* 버튼을 눌러도 더이상 이동이 안되면 -> 버튼 색 흐리게 */
}
@media screen and (max-width:768px){
                .news h2{
                    font-size: 28px;
                    margin-right: 70px;  /* 브라우저 사이즈가 줄었을 때 버튼과 겹침을 방지하고자 주는 오른쪽 여백 */
                }
                .news .list{ 
                    margin: 35px 0 0 0; /* h2와의 여백 */
                }
                .news .list .swiper-slide a{
                    display: block;
                }
                .news .list .swiper-slide a h3{
                    font-size: 20px;
                    /* 1줄 제한  ---> 2줄로 변경 */
                    white-space: normal;  /* nowrap -> nomal 여러줄 허용 */
                    /* overflow: hidden;  -- 유지
                    text-overflow: ellipsis;  -- 2줄 이상에서 작동 X */
                    line-height: 1.3;
                    height: 2.6em; /* 행간 x (원하는)줄수 = 단위는 em */

                    display: -webkit-box;  /* display 속성을 -webkit-box로 변경해줌 */
                    -webkit-box-orient: vertical;  /* 수직방향 */
                    -webkit-line-clamp: 2;  /* 2줄로 */
                }
                .news .list .swiper-slide a p{
                    margin: 10px 0;
                }
                .news .list .ctrl_wrap{
                    top: -64px;
                }
                .news .list .ctrl_wrap button{
                    width: 28px;  /* 원의 넓이 */
                    height: 28px; /* 원의 높이 */
                    background-size: 8px;  /* 가로 사이즈만, 세로는 비율에 맞게 */
                }
                .news .list .ctrl_wrap button.prev{
                    transform: rotate(180deg);
                }
                .news .list .ctrl_wrap button.swiper-button-disabled{
                    opacity: 0.6;  /* 버튼을 눌러도 더이상 이동이 안되면 -> 버튼 색 흐리게 */
                }
}/*@media*/


.notice{
    margin: 200px 0 0 0;
}
.notice h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
}
.notice .list{ 
    margin: 40px 0 0 0; /* h2와의 여백 */
    position: relative; /* ctrl_wrap 정렬의 기준 */
}
.notice .list .swiper-slide a{
    display: block;
}
.notice .list .swiper-slide a h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    /* 1줄 제한 */
    white-space: nowrap;  /* 줄바꿈 금지 */
    overflow: hidden;  /* 잘리는 글자 안보이게 숨김 처리 */
    text-overflow: ellipsis;  /* 잘린 글자 끝에 ... 추가 */
}
.notice .list .swiper-slide a p{
    margin: 24px 0;
    /* 2줄 제한 - 공통으로 들어가는 속성 */
    line-height: 1.5;  /* common.css에서 불러 온 p의 행간을 알면 안써도 됨 */
    overflow: hidden;
    /* 2줄 제한 방법① */
    height: 3em; /* 행간 x (원하는)줄수 = 단위는 em */
    /* 2줄 제한 방법② */
    /* 웹표준은 아니지만 마지막에 ...을 추가해주는 코드 */
    display: -webkit-box;  /* display 속성을 -webkit-box로 변경해줌 */
    -webkit-box-orient: vertical;  /* 수직방향 */
    -webkit-line-clamp: 2;  /* 2줄로 */
}
.notice .list .swiper-slide a .photo{
    overflow: hidden;
}
.notice .list .swiper-slide a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    vertical-align: top;  /* => 사진에도 행간이 존재하기 때문에 img가 확대될 때 아래가 늘어나는것을 방지하고자 주는 속성 */
}
.notice .list .swiper-slide a:hover .photo img{
    transform: scale3d(1.125, 1.125, 1);
}
.notice .list .ctrl_wrap{
    position: absolute;  /* list를 기준으로 정렬 */
    right: 0;
    top: -74px;
    display: flex;
    gap: 0 6px;
}
.notice .list .ctrl_wrap button{
    width: 26px;  /* 원의 넓이 */
    height: 26px; /* 원의 높이 */
    border: 1px solid #1d1d1d;  /* 원의 테두리 */
    border-radius: 50%;  /* 정 원 */
    background: url(../images/news_next.svg) no-repeat center center;
}
.notice .list .ctrl_wrap button.prev{
    transform: rotate(180deg);
}
.notice .list .ctrl_wrap button.swiper-button-disabled{
    opacity: 0.6;  /* 버튼을 눌러도 더이상 이동이 안되면 -> 버튼 색 흐리게 */
}
@media screen and (max-width:768px){
                .notice h2{
                    font-size: 28px;
                    margin-right: 70px;  /* 브라우저 사이즈가 줄었을 때 버튼과 겹침을 방지하고자 주는 오른쪽 여백 */
                }
                .notice .list{ 
                    margin: 35px 0 0 0; /* h2와의 여백 */
                }
                .notice .list .swiper-slide{
                    width: 250px;  /* 넓이를 고정으로 가고 싶으면 li한테 넓이를 지정해주고, js파일에 가서 --> slidesPerView: 'auto'를 준다 */
                }
                .notice .list .swiper-slide a{
                    display: block;
                }
                .notice .list .swiper-slide a h3{
                    font-size: 20px;
                    /* 1줄 제한  ---> 2줄로 변경 */
                    white-space: normal;  /* nowrap -> nomal 여러줄 허용 */
                    /* overflow: hidden;  -- 유지
                    text-overflow: ellipsis;  -- 2줄 이상에서 작동 X */
                    line-height: 1.3;
                    height: 2.6em; /* 행간 x (원하는)줄수 = 단위는 em */

                    display: -webkit-box;  /* display 속성을 -webkit-box로 변경해줌 */
                    -webkit-box-orient: vertical;  /* 수직방향 */
                    -webkit-line-clamp: 2;  /* 2줄로 */
                }
                .notice .list .swiper-slide a p{
                    margin: 10px 0;
                }
                .notice .list .ctrl_wrap{
                    top: -64px;
                }
                .notice .list .ctrl_wrap button{
                    width: 28px;  /* 원의 넓이 */
                    height: 28px; /* 원의 높이 */
                    background-size: 8px;  /* 가로 사이즈만, 세로는 비율에 맞게 */
                }
                .notice .list .ctrl_wrap button.prev{
                    transform: rotate(180deg);
                }
                .notice .list .ctrl_wrap button.swiper-button-disabled{
                    opacity: 0.6;  /* 버튼을 눌러도 더이상 이동이 안되면 -> 버튼 색 흐리게 */
                }
}/*@media*/


body{
    margin: 0 0 1000px 0;
}

