@import url(pretendard.css); /* @import url => css 파일을 불러오는 것임. 파일을 불러올땐 맨 윗줄에 써야 함 */
/*********************** Start : 태그의 초기화 ************************************/
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;  /* inherit=> 글자의 스타일만 상속받음 */
    font-size: inherit;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/* 얘를 줘야 'ul li a' 가 padding값만큼 늘어나는 것을 방지함 (css.hwp 10p 내용) */ 
}
a{
    color: inherit;
    text-decoration: none; /* 밑줄삭제 */
}
ul,ol,li{
    list-style: none; /* 앞에 도형 제거 */
}
/*************************End : 태그의 초기화 **********************************/

/*********************** Start : 기본스타일 ************************************/
body{
    font-family: 'pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
}
.wrapper{
    width: 1260px;
    margin: 0 auto;
}
/*************************End : 기본스타일 **********************************/

.recruit h2{
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    text-align: center;
    margin: 92px 0 23px 0;
}
.recruit .tit{
    background: url(../images/recruit_tit.jpg) no-repeat center center / cover;
    color: #fff;
    height: 343px; 
    text-align: center;
}
.recruit .tit h3{
    font-size: 32px;
    font-weight: 700;
    padding: 77px 0 40px 0;
}
.recruit .tit a{
    display: inline-block;
    border: 1px solid #fff;
    padding: 4px 21px;
    border-radius: 30px;
}
.recruit .list{
    margin: 39px 0 0 0;
}   /* css 문서에서 순서는 순차적으로 써내려가야 함 */
.recruit .list ul{
    display: flex; /* flex는 하위요소를 "좌우"로 배치시켜주는 것 -css.hwp 11p */
}
.recruit .list ul li{
    width: 50%; /* li를 감싸고 있는 ul의 넓이의 절반 */
}
.recruit .list ul li a{
    display: block;
    height: 209px;
    background-color: #63aadb;
    color: #fff;
}
.recruit .list ul li.bg2/* li.bg2는 꼭 붙여쓰기 */ a {
    background-color: #0e3058;
}