@import url(pretendard.css); /* @import url => css 파일을 불러오는 것임. 파일을 불러올땐 맨 윗줄에 써야 함 */
/*********************** Start : 태그의 초기화 ************************************/
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;  /* inherit=> 글자의 스타일만 상속받음 */
    font-size: inherit;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/* 얘를 줘야 project의 'ul li a' 가 padding값만큼 늘어나는 것을 방지함 (css.hwp 10p 내용) */ 
}
a{
    color: inherit;
    text-decoration: none; /* 밑줄삭제 */
}
ul,ol,li{
    list-style: none; /* 앞에 도형 제거 */
}
/*************************End : 태그의 초기화 **********************************/

/*********************** Start : 기본스타일 ************************************/
body{
    font-family: 'pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
}
.wrapper{
    width: 1260px;
    margin: 0 auto;
}
/*************************End : 기본스타일 **********************************/

.visual{
    background: url(..//images/hd_visual.jpg) no-repeat center center / cover;
    color: #fff;
    height: 689px;
}
.visual h2{
    font-size: 60px;
    font-weight: 700;
    padding: 226px 0 20px 0;
}

.biz h2{
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 91px 0 24px 0;
}
.biz .list ul{    /* li를 아래로 주르륵 나오게 하기 위해선, li의 바로 위의 부모인 ul에게 " display: flex; "를 줘야 함 */
    display: flex;
    justify-content: space-between;  /* 브라우저에 나오는 보라색 여백을 24px에 맞게 주는 것임 */
    /* 브라우저에 가서 직접 선택해서 확인해보고 복사해오기 */
}
.biz .list ul li{
   width: 404px;
}
.biz .list ul li a{
   display: block;
}
.biz .list ul li a h3{
    font-size: 28px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 17px 0 0 0;
}

.heri{
    margin: 73px 0 0 0;
    background: url(../images/hd_heri.jpg) no-repeat center center / cover;
    color: #fff;
    height: 577px;
}
.heri .wrapper{  /* heri에서 h2와 p와 a를 모두 감싸고 있는 wrapper에게 여백을 주는 것임. 만약, wrapper가 없을 경우엔 3개를 감싸는 div를 새로 만들면 됨 */
    padding: 154px 0 0 642px;
}
.heri h2{
    font-size: 40px;
    font-weight: 700;
    padding: 0 0 25px 0;
}
.heri a{
    display: inline-block;
    background-color: #003087;
    margin: 38px 0 0 0;
    padding: 1px 12px;
    border-radius: 30px;
}

.sust{
    text-align: center;
}
.sust h2{
    font-size: 28px;
    font-weight: 700;
    color: #003087;
    margin: 118px 0 10px 0;
}
.sust .sub_tit{
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 17px 0;
}
.sust a{
    display: inline-block;
    background-color: #003087;
    color: #fff;
    margin: 30px 0 0 0;
    padding: 1px 12px;
    border-radius: 30px;
}

body{  /* 컨텐츠가 밑바닥에 깔려있기에 임시로 하단에 여백을 주는 것임 */
    margin: 0 0 200px 0;
}