/**************************** Start - 태그초기화 *************************************
    inherit ==> 브라우저가 주는 스타일 적용하지 말고, 내가 주는 스타일 상속(글자의 스타일만)받으라는 뜻
*******************************************************************************/
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
*{
    margin: 0;
    padding: 0;
}
/******************************* End - 태그초기화 ****************************/

/******************************* Start - 웹폰트정의 ****************************/
@font-face {
	font-family: 'pt';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), 
    url(../fonts/Pretendard-Black.woff2) format('woff2'), 
    url(../fonts/Pretendard-Black.woff) format('woff');
}

@font-face {
	font-family: 'pt';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), 
    url(../fonts/Pretendard-ExtraBold.woff2) format('woff2'), 
    url(../fonts/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
	font-family: 'pt';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), 
    url(../fonts/Pretendard-Bold.woff2) format('woff2'), 
    url(../fonts/Pretendard-Bold.woff) format('woff');
}

@font-face {
	font-family: 'pt';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), 
    url(../fonts/Pretendard-SemiBold.woff2) format('woff2'), 
    url(../fonts/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
	font-family: 'pt';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), 
    url(../fonts/Pretendard-Medium.woff2) format('woff2'), 
    url(../fonts/Pretendard-Medium.woff) format('woff');
}

@font-face {
	font-family: 'pt';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), 
    url(../fonts/Pretendard-Regular.woff2) format('woff2'), 
    url(../fonts/Pretendard-Regular.woff) format('woff');
}

@font-face {
	font-family: 'pt';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), 
    url(../fonts/Pretendard-Light.woff2) format('woff2'), 
    url(../fonts/Pretendard-Light.woff) format('woff');
}

@font-face {
	font-family: 'pt';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), 
    url(../fonts/Pretendard-ExtraLight.woff2) format('woff2'), 
    url(../fonts/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
	font-family: 'pt';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), 
    url(../fonts/Pretendard-Thin.woff2) format('woff2'), 
    url(../fonts/Pretendard-Thin.woff) format('woff');
}
/******************************* End - 웹폰트정의 ****************************/

/******************************* Start - 기본스타일 ****************************/
body{
    font-family: 'pt';
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #3d3d3d;
}
.wrapper{
    width: 1260px;
    margin: 0 auto; /* 가운데정렬 */
}
/******************************* End - 기본스타일 ****************************/

.visual{ /* background도 같은 이미지 삽입임. css문서에서 삽입해야 됨. 하지만, background는 배경이라는 뜻처럼, 말 그대로 텍스트 아래에 배경처럼 이미지가 들어가는 경우에 사용
            url을 사용할 땐 "../"를 써야 경로 입력됨*/
    background: url(../images/lh_visual2.jpg) no-repeat center center / cover;
    height: 481px;
    color: #fff; /* color를 쓰는 이유는 배경에 이미지가 들어갔기에 폰트 색상을 임시로 아예 지정하는 것 */
    margin: 235px 0 0 0;
}
.visual h2{
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    padding: 150px 0 0 0; /* margin을 먼저 적용한 뒤, 사이트에 가서 확인을 하고 적용이 안됐을 경우 padding으로 바꿔서 주기 */
}

.work .tit{
    text-align: center;
}
.work .tit h2{
    font-weight: 700;
    color: #0067db;
    margin: 71px 0 0 0;
}
.work .tit .sub_tit{
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 37px 0 38px 0;
}
.work h3{
    font-size: 32px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 102px 0 14px 0;
}
.work .photo{
    margin: 23px 0 0 0;
}

.esg{
    background: #f4f4f4;
    margin: 131px 0 150px 0; /* margin의 하단 여백은 안주면 텍스트가 화면 아래에 박히기 때문에,, 측정을 해서 주는 것이 아니라 가독성을 위해 임의로 주는 것임 */
    height: 598px;
    text-align: center
}
.esg h2{
    font-weight: 700;
    color: #f22a54;
    padding: 225px 0 0 0;
}
.esg .sub_tit{
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 38px 0 38px 0;
} 