@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.header{
    position: fixed; /* body를 기준으로 정렬 */
    /* min-width: ; */
    left: 0;
    top: 0;
    z-index: 100;  /* 내가 맨 위 */
    width: 100%;
    height: 90px;
    color: #fff;
    /* class가 들어가기 전에 transition을 줘야 함!! */
    transition: background-color 0.3s, color 0.3s;  /* =>bg색이랑 글자색만 효과 주는 거임 */
}
.header .wrapper{
    display: flex;  /* logo - gnb - util 좌우 배치 */
    justify-content: space-between;
}
.header .logo{
    margin: 21px 0 0 0;  /* 로고의 위에서부터의 여백 */
}
.header .logo a{
    display: block;
    width: 100px; /* 로고의 넓이 */
    height: 39px; /* 로고의 높이 */
    background: url(../images/logo_W.svg) no-repeat center center / contain;  /* logo처럼 짤리면 안되는 이미지는 contain을 줘야 함 */
}
.header .gnb .gnb_open,
.header .gnb .gnb_close{
    display: none;  /* 모바일에서만 보일거이기 때문에 숨김 처리 */
}
.header .gnb .gnb_wrap ul{
    display: flex; /* li 좌우배치 */
}
.header .gnb .gnb_wrap ul li a{
    display: block;
    line-height: 90px; /* header의 높이만큼 */
    padding: 0 33px;  /* 좌우에 메뉴가 눌릴만큼의 여백을 줘야 함, 위아래 눌리는건 행간으로 준거임 */
    font-size: 22px;
    font-weight: 700;
}
.header .util{
    display: flex; /* mypage - lang 좌우 배치 */
    margin: 25px 0 0 0;  /* util의 위에서부터의 여백 */
}
.header .util .mypage{
    display: block;  /* mypage = a이기 때문에 a한테 주는걸 똑같이 주는거임 */
    width: 40px;  /* 아이콘이 눌리는 상자의 넓이 */
    height: 40px; /* 아이콘이 눌리는 상자의 높이 */
    background: url(../images/mypage_w.svg) no-repeat center center; 
}
.header .util .lang .lang_open{
    display: block;  /* 눌러야 하는 애들은 display-block 주면 됨 */
    width: 40px;  /* 아이콘이 눌리는 상자의 넓이 */
    height: 40px; /* 아이콘이 눌리는 상자의 높이 */
    background: url(../images/lgng_w.svg) no-repeat center center; 
}

/************ fixed / over 클래스가 추가됐을 때(스타일 동일함) ************/
.header.fixed,
.header.over{
    background-color: #fff;
    color: #1d1d1d;
    border-bottom: 1px solid #ccc;
}
.header.fixed .logo a,
.header.over .logo a{
    background-image: url(../images/logo.svg);
}
.header.fixed .gnb .gnb_wrap ul li a:hover,
.header.over .gnb .gnb_wrap ul li a:hover{
    color: #0373DC;
}
.header.fixed .util .mypage,
.header.over .util .mypage{
    background-image: url(../images/mypage_b.svg); 
}
.header.fixed .util .lang .lang_open,
.header.over .util .lang .lang_open{
    background-image: url(../images/lang_b.svg); 
}
.header.fixed .util .mypage:hover,
.header.over .util .mypage:hover{
    background-image: url(../images/mypage_on.svg);
}
.header.fixed .util .lang .lang_open:hover,
.header.over .util .lang .lang_open:hover{
    background-image: url(../images/language_on.svg);
}
/************ fixed / over 클래스가 추가됐을 때(스타일 동일함) ************/
@media screen and (max-width:768px){
                .header{
                height: 56px;
                }
                .header .wrapper{
                    margin-right: 0;  /* 메뉴가 오른쪽 여백 없이 들어갈 것이기 때문에 */
                }
                .header .logo{
                    margin: 17px 0 0 0;  /* 로고의 위에서부터의 여백 */
                }
                .header .logo a{
                    width: 56px; /* 로고의 넓이 */
                    height: 22px; /* 로고의 높이 */
                }
                .header .gnb .gnb_open{
                    display: block;  /* 모바일에서만 보일거이기 때문에 숨김 처리 */
                    width: 56px;  /* heder의 높이만큼 => 메뉴가 그만큼 눌려야 하기 때문에 */
                    height: 56px; /* heder의 높이만큼 => 메뉴가 그만큼 눌려야 하기 때문에 */
                    background: url(../images/gnb_open_w.svg) no-repeat center center;
                }
                .header .gnb .gnb_wrap{
                    display: none; /* 모바일에선 숨김 */
                }
                .header .util{
                    display: none; /* mypage - lang 좌우 배치 */
                }

                /************ fixed / over 클래스가 추가됐을 때(스타일 동일함) ************/
                .header.fixed .gnb .gnb_open,
                .header.over .gnb .gnb_open{
                    background-image: url(../images/gnb_open.svg);
                }
}/*@media*/


.visual{
    position: relative; /* scroll 정렬의 기준 */
}
.visual .swiper-slide{
    height: 100dvh; /* vh => 브라우저의 높이에 따라 영역을 계속해서 맞춰주는거 - 브라우저의 높이를 맞춰 들어감 */
    background: url(../images/visual_bg01.jpg) no-repeat center center / cover;
    color: #fff;
    display: flex;
    align-items: flex-end;  /* wrapper를 아래로 정렬 */
}
.visual .swiper-slide.pop2{
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.pop3{
    background-image: url(../images/visual_bg03.jpg);
}
.visual .swiper-slide h2{
    font-size: 60px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 8vh 0;  /* visual의 높이 1000px에서 h2의 아래 여백이 78px인데 대략 80px이라고 치고, 1000/80=8%이기 때문에 8vh를 주면
    h2의 아래 여백이 브라우저의 높이가 달라져도 브라우저의 높이에 따라 여백도 같이 비율에 맞게 줄어든다 */
}
.visual .swiper-slide.pop1 h2 br{
    display: none;
}
.visual .scroll{
    position: absolute;  /* visual을 기준으로 정렬 */
    left: 50%;
    transform: translate(-50%);  /* 화면의 가운데로 위치시키는 방법 */
    bottom: 34px;  /* 글자를 기준으로 아래의 여백 */
    
    /*  화면 오른쪽 아래에 배치시킬 경우
    right: 0;
    bottom: 0;
    transform: rotate(90deg) deg--> 90도 */
    z-index: 10;
    font-size: 12px;
    color: #fff;
}
/* 화살표가 2개라서 before,after 2개로 정렬하면 됨 */
.visual .scroll::before,
.visual .scroll::after{
    content: "";
    position: absolute;  /* scroll을 기준으로 정렬 */
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 9px;  /* 아이콘 사이즈 */
    background: url(../images/visual_scroll.svg) no-repeat center center;
}
.visual .scroll::after{
    bottom: -18px;
}
/* 
화면의 하단 오른쪽 화살표일 경우
.visual .scroll::before,
.visual .scroll::after{
right: -13px;
top: 0;
width: 9px;
height: 100%;
transform: rotate(-90edg);
}
.visual .scroll::after{
    bottom: 0;
*/

/* 화살표가 움직이기 위해 주는 animation 속성 - Start */
.visual .scroll::before{
    animation: scroll1 2s linear 0.4s infinite;
}
@keyframes scroll1 {
    0%{bottom: -12px; opacity: 1;}  /* 시작(0%)--> 위의 befoer에 준 움직여야 하는 현재 값 /-12px */
    80%{bottom: -18px; opacity: 1;}  /* 중간(50%)--> 제일 멀리가는 값 / -22px */
    100%{bottom: -22px; opacity: 0;}  /* 종료(100%)--> 0%와 같아야 제자리로 돌아옴 / -12px */
}
.visual .scroll::after{
    animation: scroll2 2s linear 0.4s infinite;
}
@keyframes scroll2 {
    0%{bottom: -18px; opacity: 1;}  /* opacity를 시작과 중간에서 1로 주고, 종료에선 0을 줘야 사라지는 효과가 됨 */
    80%{bottom: -24px; opacity: 1;}  /* 중간값과 종료값의 bottom의 px값이 달라야 하는데 여기선 종료값이 제일 멀리가는 값이어야 함 */
    100%{bottom: -28px; opacity: 0;}
}
/* 화살표가 움직이기 위해 주는 animation 속성 - End */

@media screen and (max-width:768px){
                .visual .swiper-slide h2{
                    font-size: 40px;
                    margin: 0 0 5vh 0;  /* visual의 높이 1000px에서 h2의 아래 여백이 78px인데 대략 80px이라고 치고, 1000/80=8%이기 때문에 8vh를 주면
                    h2의 아래 여백이 브라우저의 높이가 달라져도 브라우저의 높이에 따라 여백도 같이 비율에 맞게 줄어든다 */
                }
                .visual .swiper-slide.pop1 h2 br{
                    display: block;
                }
                .visual .scroll{
                    display: none;  /* 모바일에선 안함 */
                }
}/*@media*/



.biz{
    margin: 174px 0 0 0;
}
.biz .wrapper{
    display: flex; /* tit - list 좌우배치 */
    justify-content: space-between;
    align-items: flex-start;  /* align-items을 안주면 좌우로 들어가는 요소의 높이가 동일해짐
    align-items: flex-start를 주면 tit과 list가 각자의 콘텐츠가 존재하는만큼만 높이가 잡힘*/
}
.biz .tit{
    position: sticky;  /* 0209-3시 반 강의 다시보기 */
    /* 왼쪽에 고정할 요소는 오른쪽의 요소보다 반드시 짧아야 구현이 가능함
       좌우 배치를 flex로 했다면,,, 반드시 align-items: flex-start; 를 추가해줘야 함!!! --> 그래야 position: sticky; 값이 작용함
       감싸는 요소 중에서 단 한개의 요소라도 overflow: hidden;값을 가지고 있으면 작동하지 않음... */
    top: 100px;
    /* sticky를 주면 대부분 top값만 줌 (left를 주면 도망감) 
       맨 상단에서부터 얼만큼 떨어져서 고정할지의 위치값임 */
}
.biz .tit strong{
    font-weight: 700;
    color: #0060BB;
}
.biz .tit h2{
    font-size: 45px;
    font-weight: 800;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 12px 0 0 0; /* strong 태그와의 여백 */
}
.biz .list{
    width: 832px;  /* 넓이를 제한해야 wrapper 안에서 자기 영역만큼만 들어가게 됨 */
}
.biz .list ul{
    display: flex;  /* li 좌우배치 */
    flex-wrap: wrap; /* 여러줄 허용 */
    gap: 24px 24px;  /* li 사이의 여백 */
}
.biz .list ul li{  
    width: calc(50% - 12px);
    /* 
    반응형 대비 
    (100% / 한줄에 나오는 li 갯수) - (한줄의 여백의 합 / 한줄에 나오는 li 갯수)
    (100% / 2) - (24 / 2) => 50%-12px
    */
}
.biz .list ul li:nth-child(even){  /* even => 짝수를 의미함 / odd => 홀수를 의미함 */
    transform: translateY(182px); /* 첫 번째 li와 두 번째 li 위아래 여백 --> 182px */
    /* margin으로 여백을 주면 다른 요소가 같이 밀림
       transform: translateY -->로 조절하면 괜찮음
       transform은 다른 요소에 영향을 끼치지 않음
       --- 오른쪽에 있는걸 왼쪽으로 transform으로 움직이면 겹침=> 밀리지 않음 */
}
.biz .list ul li a{ /* li-a가 높이가 똑같으면 a한테 높이를 줘야 함=> 그래야 통째로 눌림 */
    display: block;
    height: 552px;
    background: url(../images/biz01.jpg) no-repeat center center / cover;
    color: #fff;
    border-radius: 20px;
    position: relative; /* txt 정렬의 기준 */
    overflow: hidden;  /* p태그가 밖으로 빠져나가는거 막기 위함 */
}
.biz .list ul li a::before{  /* 마우스 오버했을 때 배경색이 바뀌는걸 주기 위해서 준 요소 */
    content: "";
    position: absolute;  /* (나를 감싸고 있는 애 중에서 포지션이 있으면 걔를 기준으로 정렬함)a를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0060BB;
    opacity: 0;  /* -> 배경색의 opacity는 그냥 이렇게 줘야 됨 */
    transition: 0.3s;  /* 배경색이 바뀌는 속도 */
}
.biz .list ul li.biz02 a{
    background-image: url(../images/biz02.jpg);
}
.biz .list ul li.biz03 a{
    background-image: url(../images/biz03.jpg);
}
.biz .list ul li.biz04 a{
    background-image: url(../images/biz04.jpg);
}
.biz .list ul li.biz05 a{
    background-image: url(../images/biz05.jpg);
}
.biz .list ul li a .txt{
    /* 마우스 오버 애니메이션을 줄 때 글자가 밑에서 위로 자연스럽게 올라오면서 p 태그가 나타날거임 --> 그래서 a를 기준으로 absolute 줌 */
    position: absolute;  /* a를 기준으로 정렬 */
    left: 40px;
    bottom: -46px;
    width: calc(100% - 80px);  /* - 는 좌우 여백의 합 */
    transition: bottom 0.3s;
}
.biz .list ul li a .txt h3{
    font-size: 32px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 6px 0;
}
.biz .list ul li a .txt p{
    opacity: 0;
    transition: 0.3s;
}
.biz .list ul li a span{
    display: inline-block;  /* block 주면 span 태그가 대따 크게 잡힙 */
    opacity: 0;
    width: 111px;  /* 상자의 넓이 */
    height: 40px;  /* 상자의 높이 */
    background-color: #CCE7FF;
    color: #000;
    border-radius: 50px;  /* 상자의 라운드 */
    padding: 7px 40px 7px 20px;  /* 더보기 글자의 내부 여백 */
    margin: 12px 0 0 0;  /* p와의 여백 */
}
.biz .list ul li a span::after{
    content: "";
    position: absolute; /* txt를 기준으로 정렬 */
    right: 233px;
    bottom: 15px;
    width: 12px;  /* 아이콘의 넓이 */
    height: 12px;  /* 아이콘의 높이 */
    background: url(../images/more_b.svg) no-repeat center center;
}
/************* over 했을 때  ***************/
.biz .list ul li a:hover::before{
    opacity: 0.9;  /* 배경색의 opacity 값임 */
}
.biz .list ul li a:hover .txt{
    bottom: 92px;
}
.biz .list ul li a:hover .txt p{
    opacity: 1;
}
.biz .list ul li a:hover span{
    opacity: 1;
}
@media screen and (max-width:768px){
            .biz{
            margin: 128px 0 0 0;
            }
            .biz .wrapper{
                display: block; /* flex 해제 */
            }
            .biz .tit{
                position: relative;  /* sticky해제 - relative 제일 멀쩡한 값이라 */
                top: auto;  /* auto=> 0 이랑 다름 - 아예 안준것처럼 됨 */
            }
            .biz .tit h2{
                font-size: 32px;
                margin: 14px 0 0 0; /* strong 태그와의 여백 */
            }
            .biz .list{
                width: auto;
                /* auto라는건 원래 속성대로 넓이를 가지라는 뜻--> block 요소면 100% 들어감---> 그냥 100%하면 margin을 줬을 때 좌우로 늘어남
                   그래서 margin을 주면 auto는 그 여백을 제외한 나머지를 꽉 채워서 들어감 */
                   margin: 45px 0 0 0;  /* h2와의 여백 */
            }
            .biz .list ul{
                flex-wrap: nowrap; /* 여러줄 허용 X */
                flex-direction: column;
                gap: 12px 0;  /* li 사이의 위아래 여백 */
            }
            .biz .list ul li{  
                width: auto;
            }
            .biz .list ul li:nth-child(even){  /* even => 짝수를 의미함 / odd => 홀수를 의미함 */
                transform: translateY(0);  /* 0을 줘야 pc에서 준 값이 해제됨 */
            }
            .biz .list ul li a{ /* li-a가 높이가 똑같으면 a한테 높이를 줘야 함=> 그래야 통째로 눌림 */
                height: 150px;  /* 모바일 디자인한 높이 */
            }
            .biz .list ul li a::before{  /* 마우스 오버했을 때 배경색이 바뀌는걸 주기 위해서 준 요소 */
                display: none;
            }
            .biz .list ul li a .txt{
                /* 마우스 오버 애니메이션을 줄 때 글자가 밑에서 위로 자연스럽게 올라오면서 p 태그가 나타날거임 --> 그래서 a를 기준으로 absolute 줌 */
                position: absolute;  /* a를 기준으로 정렬 */
                left: 16px;  /* 왼쪽 여백 */
                bottom: 16px;
                width: calc(100% - 62px);  /* - 는 좌는 디자인상의 여백, 우는 h3로부터의 화살표까지 = 좌우 여백의 합 */
            }
            .biz .list ul li a:hover .txt{ /* over 했을 때  */
                bottom: 16px;  /* txt - bottom하고 값이 같아야 안움직임 */
            }
            .biz .list ul li a .txt::after{
                content: "";
                position: absolute;  /* txt를 기준으로 정렬*/
                right: 0;
                top: 5px;
                width: 21px;  /* 원의 넓이 */
                height: 21px; /* 원의 높이 */
                border-radius: 50%;
                background: #fff url(../images/biz_mob_arrow.svg) no-repeat center center;
            }
            .biz .list ul li a .txt h3{
                font-size: 24px;
                margin: 0;
            }
            .biz .list ul li a .txt h3 br{
                display: none;  /* 줄바꿈 삭제 */
            }
            .biz .list ul li a .txt p{
                display: none;  /* 계속 안나올 거이기 때문에 아예 없애줘야 함 */
            }
            .biz .list ul li a span{
                display: none;
            }
            
}


.footer{
    margin: 1000px 0 0 0;
}