@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.header{
    position: fixed; /* body를 기준으로 정렬 */
    /* min-width: 1320px; 얘를 줘도 변화없어서 줘도 그만 안줘도 그만인데 주게 되면, 모바일에서 메뉴 아이콘이 사라짐...*/
    left: 0;
    top: 0;
    z-index: 100;  /* 내가 맨 위 */
    width: 100%;
    height: 90px;
    color: #fff;
    /* class가 들어가기 전에 transition을 줘야 함!! */
    transition: background-color 0.3s, color 0.3s;  /* =>bg색이랑 글자색만 효과 주는 거임 */
}
.header .wrapper{
    display: flex;  /* logo - gnb - util 좌우 배치 */
    justify-content: space-between;
}
.header .logo{
    margin: 21px 0 0 0;  /* 로고의 위에서부터의 여백 wrapper에서 text-align:center로 주면 디자인처럼 정렬되는게 아니라서 margin을 줌 */
}
.header .logo a{
    display: block;
    width: 100px; /* 로고의 넓이 */
    height: 39px; /* 로고의 높이 */
    background: url(../images/logo_W.svg) no-repeat center center / contain;  /* logo처럼 짤리면 안되는 이미지는 contain을 줘야 함 */
}
.header .gnb .gnb_open,
.header .gnb .gnb_close{
    display: none;  /* 모바일에서만 보일거이기 때문에 숨김 처리 */
}
.header .gnb .gnb_wrap ul{
    display: flex; /* li 좌우배치 */
}
.header .gnb .gnb_wrap ul li a{
    display: block;
    line-height: 90px; /* header의 높이만큼 */
    padding: 0 33px;  /* 좌우에 메뉴가 눌릴만큼의 여백을 줘야 함, 위아래 눌리는건 행간으로 준거임 */
    font-size: 22px;
    font-weight: 700;
}
.header .util{
    display: flex; /* mypage - lang 좌우 배치 */
    margin: 25px 0 0 0;  /* 아이콘이 눌리는 상자의 위에서부터의 여백 */
}
.header .util .mypage{
    display: block;  /* mypage = a이기 때문에 a한테 주는걸 똑같이 주는거임 */
    width: 40px;  /* 아이콘이 눌리는 상자의 넓이 */
    height: 40px; /* 아이콘이 눌리는 상자의 높이 */
    background: url(../images/mypage_w.svg) no-repeat center center;
    /* contain을 주면 아이콘이 저장한거보다 더 크게 안짤리고 내가 준 영역=넓이,높이를 준 만큼 에 꽉 차게 들어감 */
}
.header .util .lang .lang_open{
    display: block;  /* 눌러야 하는 애들은 display-block 주면 됨!! */
    width: 40px;  /* 아이콘이 눌리는 상자의 넓이 */
    height: 40px; /* 아이콘이 눌리는 상자의 높이 */
    background: url(../images/lgng_w.svg) no-repeat center center; 
}

/************ fixed / over 클래스가 추가됐을 때(스타일 동일함) ************/
/* .header.fixed{
    position: fixed;
    min-width: 1320px;
} */
.header.fixed.hide{
    top: -95px
} 
.header.fixed,
.header.over{
    background-color: #fff;
    color: #1d1d1d;
    border-bottom: 1px solid #ccc;
}
.header.fixed .logo a,
.header.over .logo a{
    background-image: url(../images/logo.svg);
}
.header.fixed .util .mypage,
.header.over .util .mypage{
    background-image: url(../images/mypage_b.svg); 
}
.header.fixed .util .lang .lang_open,
.header.over .util .lang .lang_open{
    background-image: url(../images/lang_b.svg); 
}
        /**************  마우스 오버하면 색 변경  ***************/
        .header.fixed .gnb .gnb_wrap ul li a:hover,
        .header.over .gnb .gnb_wrap ul li a:hover{
            color: #0373DC;
        }
        .header.fixed .util .mypage:hover,
        .header.over .util .mypage:hover{
            background-image: url(../images/mypage_on.svg);
        }
        .header.fixed .util .lang .lang_open:hover,
        .header.over .util .lang .lang_open:hover{
            background-image: url(../images/language_on.svg);
        }
        /**************  마우스 오버하면 색 변경  ***************/
/************ fixed / over 클래스가 추가됐을 때(스타일 동일함) ************/
@media screen and (max-width:768px){
                .header{
                height: 56px;
                }
                .header .wrapper{
                    margin-right: 0;  /* 메뉴가 오른쪽 여백 없이 눌릴 것이기 때문에 */
                }
                .header .logo{
                    margin: 17px 0 0 0;  /* 로고의 위에서부터의 여백 */
                }
                .header .logo a{
                    width: 56px; /* 로고의 넓이 */
                    height: 22px; /* 로고의 높이 */
                }
                .header .gnb .gnb_open{
                    display: block; /* 모바일에선 보임 */
                    width: 56px;  /* heder의 높이만큼 => 메뉴가 그만큼 눌려야 하기 때문에 */
                    height: 56px; /* heder의 높이만큼 => 메뉴가 그만큼 눌려야 하기 때문에 */
                    background: url(../images/gnb_open_w.svg) no-repeat center center;
                }
                .header .gnb .gnb_wrap{
                    display: none; /* 모바일에선 숨김 */
                }
                .header .util{
                    display: none; /* 모바일에선 숨김 */
                }

                /************ fixed / over 클래스가 추가됐을 때(스타일 동일함) ************/
                .header.fixed .gnb .gnb_open,
                .header.over .gnb .gnb_open{
                    background-image: url(../images/gnb_open.svg);
                }
}/*@media*/


.visual{
    position: relative; /* scroll 정렬의 기준 */
}
.visual .swiper-slide{
    height: 100dvh; /* dvh => 브라우저의 높이에 따라 영역을 계속해서 맞춰주는거 - 브라우저의 높이를 맞춰 들어감 */
    min-height: 500px;
    background: url(../images/visual_bg01.jpg) no-repeat center center / cover;
    color: #fff;
    /* ★★★wrapper(=글자)를 아래로 정렬하기 위함★★★ */
    display: flex;
    align-items: flex-end; 
}
.visual .swiper-slide.pop2{
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.pop3{
    background-image: url(../images/visual_bg03.jpg);
}
.visual .swiper-slide h2{
    font-size: 60px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 8dvh 0;  /* visual의 높이 1000px에서 h2의 아래 여백이 78px인데 대략 80px이라고 치고, 1000/80=8%이기 때문에 8vh를 주면
    h2의 아래 여백이 브라우저의 높이가 달라져도 브라우저의 높이에 따라 여백도 같이 비율에 맞게 줄어든다 */
}
.visual .swiper-slide.pop1 h2 br{
    display: none; /* 모바일 때문에 미리 준 br 태그 삭제 */
}
.visual .scroll{
    position: absolute;  /* visual을 기준으로 정렬 */
    left: 50%;
    transform: translateX(-50%);  /* 화면의 가운데로 위치시키는 방법 */
    bottom: 34px;  /* 글자를 기준으로 아래의 여백 */
    
    /*  화면 오른쪽 아래에 배치시킬 경우
    right: 0;
    bottom: 0;
    transform: rotate(90deg) deg--> 90도 */
    z-index: 10;  /* 화면에 존재는 하는데 보이지 않아서 준 값임 */
    font-size: 12px;
    color: #fff;
}
/* 화살표가 2개라서 before,after 2개로 정렬하면 됨 */
.visual .scroll::before,
.visual .scroll::after{
    content: "";
    position: absolute;  /* scroll을 기준으로 정렬 */
    left: 0;
    bottom: -11px;
    width: 100%;  /* 아이콘의 넓이를 주게 되면 엄청 작게 나와서 100%를 주는 거임 */
    height: 9px;  /* 아이콘 사이즈 */
    background: url(../images/visual_scroll.svg) no-repeat center center;
}
.visual .scroll::after{
    bottom: -17px;
}
/* 
화면의 하단 오른쪽 화살표일 경우 (선생님꺼 참조한거임)
.visual .scroll::before,
.visual .scroll::after{
right: -20px;
top: 0;
width: 13px;
height: 100%;
transform: rotate(-90edg);
}

.visual .scroll::after{
    bottom: -25px;
*/

/* 화살표가 움직이기 위해 주는 animation 속성 - Start */
.visual .scroll::before{
    animation: scroll1 2s linear 0.4s infinite;
}
@keyframes scroll1 {
    0%{bottom: -12px; opacity: 1;}  /* 시작(0%)--> 위의 befoer에 준 움직여야 하는 현재 값 /-12px */
    80%{bottom: -18px; opacity: 1;}  /* 중간(50%)--> 제일 멀리가는 값 / -22px */
    100%{bottom: -22px; opacity: 0;}  /* 종료(100%)--> 0%와 같아야 제자리로 돌아옴 / -12px */
}
.visual .scroll::after{
    animation: scroll2 2s linear 0.4s infinite;
}
@keyframes scroll2 {
    0%{bottom: -18px; opacity: 1;}  /* opacity를 시작과 중간에서 1로 주고, 종료에선 0을 줘야 사라지는 효과가 됨 */
    80%{bottom: -24px; opacity: 1;}  /* 중간값과 종료값의 bottom의 px값이 달라야 하는데 여기선 종료값이 제일 멀리가는 값이어야 함 */
    100%{bottom: -28px; opacity: 0;}
}
/* 화살표가 움직이기 위해 주는 animation 속성 - End */

/* 
    ▽그냥 위아래로 왔다갔다 하는 애니메이션 효과▽ 
        .visual .scroll::after{
            bottom: -17px;
            animation: scroll2 2s linear infinite;
        }
        .visual .scroll::before{
            animation: scroll1 2s linear infinite ;
        } */
        /* @keyframes scroll1 {
            0%{bottom: -11px;}
            50%{bottom: -18px;}  
            100%{bottom: -11px;}  
        } */
        /* @keyframes scroll2 {
            0%{bottom: -17px;}
            50%{bottom: -26px;}
            100%{bottom: -17px;}
        }
    ▽삼천리 사이트처럼 위아래로 왔다갔다하다가 사라지는 애니메이션 효과▽ */
        /* .visual .scroll::after{
            opacity: 0;
            animation: scroll2 1.5s linear infinite;
        }
        .visual .scroll::before{
            animation: scroll1 1.5s linear infinite;
        }
        @keyframes scroll1{
            0%{bottom: -11px; opacity: 1;}
            50%{bottom: -16px; opacity: 1;}  
            100%{bottom: -18px; opacity: 0;} 
        }
        @keyframes scroll2{
            0%{bottom: -17px; opacity: 1;}
            50%{bottom: -24px; opacity: 1;}  
            100%{bottom: -26px; opacity: 0;} 
        } */

@media screen and (max-width:768px){
                .visual .swiper-slide h2{
                    font-size: 40px;
                    margin: 0 0 5vh 0;  /* visual의 높이 1000px에서 h2의 아래 여백이 78px인데 대략 80px이라고 치고, 1000/80=8%이기 때문에 8vh를 주면
                    h2의 아래 여백이 브라우저의 높이가 달라져도 브라우저의 높이에 따라 여백도 같이 비율에 맞게 줄어든다 */
                }
                .visual .swiper-slide.pop1 h2 br{
                    display: block;
                }
                .visual .scroll{
                    display: none;  /* 모바일에선 안함 */
                }
}/*@media*/



.biz{
    margin: 174px 0 0 0;
}
.biz .wrapper{
    display: flex; /* tit - list 좌우배치 */
    justify-content: space-between;
    align-items: flex-start;  /* align-items을 안주면 좌우로 들어가는 요소의 높이가 동일해짐
    align-items: flex-start를 주면 tit과 list가 각자의 콘텐츠가 존재하는만큼만 높이가 잡힘*/
}
.biz .tit{
    position: sticky;  /* 0209-3시 반 강의 */
    /* 왼쪽에 고정할 요소는 오른쪽의 요소보다 반드시 짧아야 구현이 가능함
       좌우 배치를 flex로 했다면,,, 반드시 align-items: flex-start; 를 추가해줘야 함!!! --> 그래야 position: sticky; 값이 작용함
       감싸는 요소 중에서 단 한개의 요소라도 overflow: hidden;값을 가지고 있으면 작동하지 않음... */
    top: 100px;
    /* header의 높이에서 +10 해서 100px을 준거임
       tit의 길이가 짧아야 왼쪽에 고정이 됨 --> wrapper에서 준 flex 때문에 tit의 길이가 list의 길이만큼 들어가지기 때문에 wrapper에서
       align-items: flex-start => 를 줌으로써 tit과 list 둘 다 본인들의 길이만큼만 들어가게 됨
       ----> 하여 position의 sticky 값이 적용됨!! 
       sticky를 주면 대부분 top값만 줌 (left를 주면 도망감) 
       맨 상단에서부터 얼만큼 떨어져서 고정할지의 위치값임 */
}
.biz .tit strong{
    font-weight: 700;
    color: #0060BB;
}
.biz .tit h2{
    font-size: 45px;
    font-weight: 800;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 12px 0 0 0; /* strong 태그와의 여백 */
}
.biz .list{
    width: 832px;  /* 넓이를 제한해야 wrapper 안에서 자기 영역만큼만 들어가게 됨 */
}
.biz .list ul{
    display: flex;  /* li 좌우배치 */
    flex-wrap: wrap; /* 여러줄 허용 */
    gap: 24px 24px;  /* li 사이의 여백 */
}
.biz .list ul li{  
    width: calc(50% - 12px);
    /* 
    반응형 대비 
    (100% / 한줄에 나오는 li 갯수) - (한줄의 여백의 합 / 한줄에 나오는 li 갯수)
    (100% / 2) - (24 / 2) => 50%-12px
    */
}
.biz .list ul li:nth-child(even){  /* even => 짝수를 의미함 / odd => 홀수를 의미함 */
    transform: translateY(182px); /* 첫 번째 li와 두 번째 li 위아래 여백 --> 182px */
    /* margin으로 여백을 주면 다른 요소가 같이 밀림
       transform: translateY -->로 조절하면 괜찮음
       transform은 다른 요소에 영향을 끼치지 않음
       --- 오른쪽에 있는걸 왼쪽으로 transform으로 움직이면 겹침=> 밀리지 않음 */
}
.biz .list ul li a{ /* li-a가 높이가 똑같으면 a한테 높이를 줘야 함=> 그래야 통째로 눌림 */
    display: block;
    height: 552px;
    background: url(../images/biz01.jpg) no-repeat center center / cover;
    color: #fff;
    border-radius: 20px;
    position: relative; /* txt 정렬의 기준 */
    overflow: hidden;  /* p태그가 밖으로 빠져나가는거 막기 위함 */
}
.biz .list ul li a::before{  /* 마우스 오버했을 때 배경색이 바뀌는걸 주기 위해서 준 요소 */
    content: "";
    position: absolute;  /* (나를 감싸고 있는 애 중에서 포지션이 있으면 걔를 기준으로 정렬함)a를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0060BB;
    opacity: 0;  /* -> 배경색의 opacity는 color에서 주지 않고 그냥 이렇게 opacity를 따로 줘야 자연스럽게 들어감 */
    transition: 0.3s;  /* 배경색이 바뀌는 속도 */
}
.biz .list ul li.biz02 a{
    background-image: url(../images/biz02.jpg);
}
.biz .list ul li.biz03 a{
    background-image: url(../images/biz03.jpg);
}
.biz .list ul li.biz04 a{
    background-image: url(../images/biz04.jpg);
}
.biz .list ul li.biz05 a{
    background-image: url(../images/biz05.jpg);
}
.biz .list ul li a .txt{
    /* 마우스 오버 애니메이션을 줄 때 글자가 밑에서 위로 자연스럽게 올라오면서 p 태그가 나타날거임 --> 그래서 a를 기준으로 absolute 줌 */
    position: absolute;  /* a를 기준으로 정렬 */
    left: 40px;
    bottom: -96px;
    width: calc(100% - 80px);  /* - 는 좌우 여백의 합 */
    transition: bottom 0.3s;
}
.biz .list ul li a .txt h3{
    font-size: 32px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 6px 0;
}
.biz .list ul li a .txt p{
    opacity: 0;
    transition: 0.3s;
    margin: 0 0 12px 0;  /* span과의 여백 */
}
.biz .list ul li a span{
    display: inline-block;  /* block 주면 span 태그가 대따 크게 잡힙 */
    opacity: 0;
    width: 111px;  /* 상자의 넓이 */
    height: 40px;  /* 상자의 높이 */
    background-color: #CCE7FF;
    color: #000;
    border-radius: 50px;  /* 상자의 라운드 */
    padding: 7px 40px 7px 20px;  /* 더보기 글자의 내부 여백 */
    position: relative;
}
.biz .list ul li a span::after{
    content: "";
    position: absolute; /* span을 기준으로 정렬 */
    right: 22px;
    bottom: 15px;
    width: 12px;  /* 아이콘의 넓이 */
    height: 12px;  /* 아이콘의 높이 */
    background: url(../images/more_black.svg) no-repeat center center;
}
/************* over 했을 때  ***************/
.biz .list ul li a:hover::before{
    opacity: 0.9;  /* 배경색의 opacity 값임 */
}
.biz .list ul li a:hover .txt{
    bottom: 40px; /* 디자인의 하단 여백 */
}
.biz .list ul li a:hover .txt p{
    opacity: 1;
}
.biz .list ul li a:hover span{
    opacity: 1;
}
@media screen and (max-width:768px){
            .biz{
            margin: 128px 0 0 0;
            }
            .biz .wrapper{
                display: block; /* flex 해제 */
            }
            .biz .tit{
                position: relative;  /* sticky해제 - relative 제일 멀쩡한 값이라 */
                top: auto;  /* auto=> 0 이랑 다름 - auto는 아예 안준것처럼 됨 */
            }
            .biz .tit h2{
                font-size: 32px;
                margin: 14px 0 0 0; /* strong 태그와의 여백 */
            }
            .biz .list{
                width: auto;
                /* auto라는건 원래 속성대로 넓이를 가지라는 뜻--> block 요소면 100% 들어감---> 그냥 100%면 margin을 줬을 때 좌우로 늘어남
                   auto는 margin을 주면 그 여백을 제외한 나머지를 꽉 채워서 들어감 */
                   margin: 45px 0 0 0;  /* h2와의 여백 */
            }
            .biz .list ul{
                flex-wrap: nowrap; /* 여러줄 허용 X */
                flex-direction: column;
                gap: 12px 0;  /* li 사이의 위아래 여백 */
            }
            .biz .list ul li{  
                width: auto;
            }
            .biz .list ul li:nth-child(even){ 
                transform: translateY(0);  /* 0을 줘야 pc에서 준 값이 해제됨 */
            }
            .biz .list ul li a{ /* li-a가 높이가 똑같으면 a한테 높이를 줘야 함=> 그래야 통째로 눌림 */
                height: 150px;  /* 모바일 디자인한 높이 */
            }
            .biz .list ul li a::before{  /* 마우스 오버했을 때 배경색이 바뀌는걸 주기 위해서 준 요소 */
                display: none;
            }
            .biz .list ul li a .txt{
                left: 16px;  /* 왼쪽 여백 */
                bottom: 16px;
                width: calc(100% - 60px);  /* - 60px --> 좌는 디자인상의 여백>>16px + 우는 화면이 줄어들 때 h3로부터 화살표가 닿지 않는 가상의 여백>>40px = 좌우 여백의 합 */
            }
            .biz .list ul li a:hover .txt{ /* over 했을 때  */
                bottom: 16px;  /* txt - bottom하고 값이 같아야 안움직임 */
            }
            .biz .list ul li a .txt::after{
                content: "";
                position: absolute;  /* pc 버전에서 준 txt를 기준으로 정렬*/
                right: 0;
                top: 5px;
                width: 21px;  /* 원의 넓이 */
                height: 21px; /* 원의 높이 */
                border-radius: 50%;
                background: #fff url(../images/biz_mob_arrow.svg) no-repeat center center;
            }
            .biz .list ul li a .txt h3{
                font-size: 24px;
                margin: 0;
            }
            .biz .list ul li a .txt h3 br{
                display: none;  /* 줄바꿈 삭제 */
            }
            .biz .list ul li a .txt p{
                display: none;  /* 계속 안나올 거이기 때문에 아예 없애줘야 함 */
            }
            .biz .list ul li a span{
                display: none;
            }
            
}/*@media*/



.news{
    background-color: #EEF7FF;
    padding: 174px 0 116px 0;  /* bg 색 때문에 padding으로 내부 여백 줘야 함 */
    margin: 116px 0 0 0;  /* biz와의 여백 */
}
.news .wrapper{
    position: relative;  /* more 정렬의 기준 */
}
.news .tit strong{
    font-weight: 700;
    color: #0060BB;
}
.news .tit h2{
    font-size: 45px;
    font-weight: 800;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 12px 0 0 0; /* strong 태그와의 여백 */
}
.news .list{
    margin: 24px 0 0 0;
}
/* 
   <ul>
        <li></li>  --- (X)맨 위에 있는 li라 해당 사항 없음
        <li></li>  --- (O)위에 li가 있고 다음에 나오는 li라 li+li 선택가능
        <li></li>  --- (O)선택가능
        <li></li>  --- (O)선택가능
    </ul>    
*/
.news .list ul li + li{ 
    margin-top: 22px;
}
.news .list ul li a{
    display: flex;  /* strong-h3-span 좌우 배치 */
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;  /* a 안에서 제일 높이가 큰 애를 기준으로 주면 됨 */
    background-color: #fff;
}
.news .list ul li a:hover{
    background-color: #0060BB;
    color: rgba(255, 255, 255, 0.8);  /* 날짜의 글자 색 */
}
.news .list ul li a strong{
    background-color: #0A8845;  /* 테두리가 들어가면 border, 상자면 bg-color를 줘서 상자를 만들어주면 됨 */
    border-radius: 13px;
    color: #fff;
    padding: 2px 16px;  /* 글자의 내부여백 */
}
.news .list ul li a:hover strong{
    background-color: #fff;
    color: #1d1d1d;
}
.news .list ul li.sch a strong{
    background-color: #0373DC;
}
.news .list ul li.sch a:hover strong{
    background-color: #fff;
}
.news .list ul li a h3{
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 335px);
    /* a에서 padding으로 좌우 여백이 있는 상태이기 때문에,, strong 상자 시작에서부터 h3가 떨어지는 여백 + span 상자 시작에서부터 h3가 떨어지는 여백 ---> 브라우저에서 px 조절해주기 꼭*/
}
.news .list ul li a:hover h3{
    color: #fff;
}
.news .list ul li a h3 span{
    position: relative;
}
.news .list ul li a h3 span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 1px;
    transition: 0.3s;
    background-color: #fff;
}
.news .list ul li a:hover h3 span::after{
    width: 100%;
}
.news .more{
    position: absolute;
    right: 0;
    top: 51px;
}
.news .more a{  /* 눌러서 가야 하니까 a 를 불러오기 */
    display: block;
    border: 1px solid #3d3d3d;
    border-radius: 50px;  /* 대충 그냥 많이 주기 */
    padding: 7px 52px 7px 32px; /* 글자의 내부 여백 */
    position: relative;  /* after 정렬의 기준 */
}
.news .more a:hover{
    border-color: #0060BB;
    background-color: #0060BB;
    color: #fff;
}
.news .more a::after{
    position: absolute;
    content: "";
    right: 28px;
    top: 13px;
    width: 14px;
    height: 14px;
    background: url(../images/more_black.svg) no-repeat center center / contain;
    transition: transform 1s;  /*  bg-img 바뀌는건 적용 안할거고,, 회전만 2초동안 2바퀴 돌릴거라서 해당 속성값을 써주고 2s를 써주는 거임,, */
}
.news .more a:hover::after{
    background-image: url(../images/more_w.svg);
    transform: rotate(360deg);
}
@media screen and (max-width:768px){
                .news{
                    padding: 125px 0 36px 0;  /* bg 색 때문에 padding으로 내부 여백 줘야 함 */
                    margin: 85px 0 0 0;  /* biz와의 여백 */
                }
                .news .tit h2{
                    font-size: 32px;
                    margin: 0; /* strong 태그와의 여백 */
                }
                .news .list{
                    margin: 42px 0 0 0;
                }
                .news .list ul li{
                    border-bottom: 1px solid #ccc;  
                }
                .news .list ul li:first-child{
                    border-top: 1px solid #ccc;
                }
                .news .list ul li + li{ 
                    margin-top: 0;
                }
                .news .list ul li a{
                    padding: 12px 0px;  /* 사각형으로 위아래 여백 체크하고, 좌우여백은 안들어감 */
                    background-color: transparent;  /* 투명 */
                }
                .news .list ul li a:hover{
                    background-color: transparent;
                    color: inherit;  /* 날짜의 글자 색 */
                }
                .news .list ul li a strong{
                    display: none;  /* 모바일에선 숨김 */
                }
                .news .list ul li a h3{
                    font-size: 16px;
                    width: calc(100% - 110px);
                    /* a에서 padding으로 좌우 여백이 있는 상태이기 때문에,, strong 상자 시작에서부터 h3가 떨어지는 여백 + span 상자 시작에서부터 h3가 떨어지는 여백 ---> 브라우저에서 px 조절해주기 꼭*/
                    position: relative; /* after 정렬의 기준 */
                }
                .news .list ul li a:hover h3{
                    color: #1d1d1d;
                }
                .news .list ul li a h3::after{
                    content: "";
                    position: absolute;  /* h3를 기준으로 정렬 */
                    left: 0;
                    bottom: -1px;
                    width: 0;
                    height: 1px;
                    border-bottom: rgba(255, 255, 255, 0.8);
                    transition: 0.3s;
                }
                .news .list ul li a:hover h3::after{
                    width: 100%;
                }
                .news .more{
                    position: relative;  /* absolute 해제 */
                    right: auto;
                    top: auto;
                    margin: 36px 0 0  0;
                    display: flex;
                    justify-content: center;
                }
                .news .more a{  /* 눌러서 가야 하니까 a 를 불러오기 */
                    padding: 6px 41px 6px 20px; /* 글자의 내부 여백 */
                    position: relative;  /* after 정렬의 기준 */
                    background-color: #0060BB;
                    border-color: #0060BB;
                    color: #fff;
                }
                .news .more a::after{
                    right: 20px;
                    top: 12px;
                    width: 12px;
                    height: 12px;
                    background-image: url(../images/more_w.svg);
                }
}/*@media*/



.webzin{
    background-color: #014C93;
    color: #fff;
    padding: 186px 0 104px 0;
}
.webzin .wrapper{
    position: relative; /* ctrl_wrap의 정렬의 기준 */
}
.webzin .tit strong{
    font-weight: 700;
}
.webzin .tit h2{
    font-size: 45px;
    font-weight: 800;
    line-height: 1.3;
    margin: 12px 0 0 0; /* strong 태그와의 여백 */
}
.webzin .list{
    margin: 58px 0 0 0;
}
.webzin .list .swiper-slide a{
    display: block;
    background-color: #fff;
    color: #3d3d3d;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}
.webzin .list .swiper-slide a .photo{
    overflow: hidden;
    border-radius: 30px 30px 0 0;
    height: 238px;
}
.webzin .list .swiper-slide a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.webzin .list .swiper-slide a:hover .photo img{
    transform: scale3d(1.125, 1.125, 1);
}
.webzin .list .swiper-slide a .txt{
    padding: 26px 30px 30px 30px;
}
.webzin .list .swiper-slide a .txt strong{
    font-weight: 700;
    color: #0060BB;
    /* 1줄 제한 */
    display: block;
    /* 1줄 제한했는데 브라우저에서 적용이 안되면, display:block or inline-block 주면 1줄 적용됨 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.webzin .list .swiper-slide a .txt h3{
    font-size: 22px;
    font-weight: 800;
    color: #1d1d1d;
    margin: 12px 0 6px 0;
    line-height: 1.3;
    /* 2줄 제한 */
    height: 2.6em;  /* 행간 * 줄수 = 단위em */
    overflow: hidden;
    /* 2줄 제한에서 잘리는 글자에 ...추가 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 제한줄수 */
}
.webzin .list .swiper-slide a .txt p{
    line-height: 1.5;
    /* 3줄 제한 */
    height: 4.5em;  /* 행간 * 줄수 = 단위em */
    overflow: hidden;

    /* 3줄 제한에서 잘리는 글자에 ...추가 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* 제한줄수 */
}
.webzin .ctrl_wrap{
    position: absolute;  /* wrapper를 기준으로 정렬 */
    right: 0;
    top: 48px;
    display: flex;  /* prev - next - more 좌우정렬 */
    gap: 0 6px;  /* 버튼 사이의 가장 적은 여백  */
}
.webzin .ctrl_wrap button{
    width: 40px;  
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: url(../images/arrow_w.svg) no-repeat center center;  /* 넓이랑 높이가 아이콘의 넓이가 아니라 동그라미의 넓이,높이이기 때문에 아이콘의 사이즈=contain을 안줌 */
    transition: 0.3s;
}
.webzin .ctrl_wrap button.next{
    transform: rotate(180deg);  /* 저장한 아이콘을 반대로 회전시켜줘야 하기 때문에 */
}
.webzin .ctrl_wrap .more{
    margin: 0 0 0 5px;   /* 디자인에서 더보기의 여백만 10px이라서 gap에서 준 5px을 제외한 나머지 5px을 more의 margin으로 더 준다 */
}
.webzin .ctrl_wrap .more a{
    display: block;
    height: 40px;  /* 원의 높이 */
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 7px 52px 0 31px;  /* 아래 여백은 높이가 있어서 안줌 */
    position: relative; /* after 정렬의 기준 */
}
.webzin .ctrl_wrap .more a::after{
    position: absolute;  /* a를 기준으로 정렬 */
    content: "";
    right: 29px;
    top: 12px;
    width: 14px;  /* 아이콘 넓이 */
    height: 14px; /* 아이콘 높이 */
    background: url(../images/more_w.svg) no-repeat center center / contain;
    transition: transform 1s;  /* 마우스 over시 더보기 아이콘의 회전하는 효과에만 1s의 시간을 줌 */
}
/******************* 마우스 오버 시 ************************/
.webzin .ctrl_wrap button.swiper-button-disabled{  /* 브라우저 가서 버튼을 눌러서 나오는 disabled 클래스명 복사해서 수정한 뒤, opacity를 낮춰줘야 함 */
    opacity: 0.4;
    cursor: default;  /* 마우스 모양 기본으로 해줌 */
}
.webzin .ctrl_wrap button:hover:not(.swiper-button-disabled){  /* disabled이 되면 over 속성 적용 X */
    background-color: #CCE7FF;
    border-color: #CCE7FF;
    background-image: url(../images/arrow_black.svg);
}
.webzin .ctrl_wrap button.next:hover{
    transform: rotate(180deg);
}
.webzin .ctrl_wrap .more a:hover{
    background-color: #CCE7FF;
    color: #3d3d3d;
    border-color: #CCE7FF;
}
.webzin .ctrl_wrap .more a:hover::after{
    background-image: url(../images/more_black.svg);
    transform: rotate(360deg);
}
/******************* 마우스 오버 시 ************************/
@media screen and (max-width:768px){
                .webzin{
                    padding: 125px 0 36px 0;
                }
                .webzin .tit h2{
                    font-size: 32px;
                    margin: 0; /* strong 태그와의 여백 */
                }
                .webzin .list{
                    margin: 42px 0 0 0;
                }
                .webzin .list .swiper-slide{
                    width: 250px;
                }
                .webzin .list .swiper-slide a{
                    border-radius: 15px;
                }
                .webzin .list .swiper-slide a .photo{
                    border-radius: 15px 15px 0 0;
                    height: 188px;
                }
                .webzin .list .swiper-slide a .txt{
                    padding: 24px 16px 16px 16px;
                }
                .webzin .list .swiper-slide a .txt h3{
                    font-size: 20px;
                    margin: 10px 0 6px 0;
                }
                .webzin .ctrl_wrap{
                    position: relative;  /* absolute 해제 -- 모바일에선 하단에 들어가니까 */
                    right: auto;
                    top: auto;
                    justify-content: center;
                    margin: 35px 0 0 0;
                }
                .webzin .ctrl_wrap button{
                    display: none;
                }
                .webzin .ctrl_wrap .more{
                    margin: 0 0 0 5px;   /* 디자인에서 더보기의 여백만 10px이라서 gap에서 준 5px을 제외한 나머지 5px을 more의 margin으로 더 준다 */
                }
                .webzin .ctrl_wrap .more a{
                    height: 36px;  /* 원의 높이 */
                    border: none;
                    padding: 6px 41px 0 20px;  /* 아래 여백은 높이가 있어서 안줌 */
                    background-color: #fff;
                    color: #1d1d1d;
                }
                .webzin .ctrl_wrap .more a::after{
                    right: 22px;
                    top: 12px;
                    width: 12px;  /* 아이콘 넓이 */
                    height: 12px; /* 아이콘 높이 */
                    background-image: url(../images/more_black.svg);
                }
}/*@media*/



.service{
    background-color: #EEF7FF;
    padding: 174px 0 116px 0;
}
.service .tit strong{
    font-weight: 700;
    color: #0060BB;
}
.service .tit h2{
    font-size: 45px;
    font-weight: 800;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 12px 0 58px 0; /* strong과 ul의 여백 */
}
.service .list ul{
    display: flex;  /* li 좌우배치 */
    justify-content: space-between;
}
.service .list ul li{
    width: calc(33.33% - 16px);
    /* 
       (100% / 한 줄에 들어가는 li 갯수) -(한 줄의 여백의 합 / 한 줄에 들어가는 li 갯수)
       (100%/3 -(48/3))
       =33.33% 16px
    */
}
.service .list ul li a{
    display: block;
    /* height: 96px; --들어가도 큰 차이 없음*/
    background-color: #CCE7FF;
    padding: 22px 0 21px 30px;  /* 글자의 내부 여백을 li한테 주면, a를 더 안으로 밀어넣게 됨-- 그래서 li말고 a한테 줘야 제대로 적용됨 / 오른쪽 여백은 줘도 되고 안줘도 됨*/
    position: relative; /* after 정렬의 기준 */
}
.service .list ul li a::after{
    content: "";
    position: absolute;  /* a를 기준으로 정렬 */
    right: 30px;
    top: 33px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #0060BB url(../images/more_w.svg) no-repeat center center / 12px; 
    /* 색은 원의 색이고, 12px--> 아이콘이 여기저기서 쓰여서 사이즈가 달라서 주는 아이콘의 넓이 */
    transition: transform 1s;
}
.service .list ul li a strong{
    font-size: 16px;
    font-weight: 700;
    color: #0060BB;
}
.service .list ul li a h3{
    font-weight: 800;
    margin: 2px 0 0 0;
}
.service .list ul li a:hover{
    background-color: #fff;
}
.service .list ul li a:hover::after{
    background-color: #0060BB;
    transform: rotate(360deg);
}
@media screen and (max-width:768px){
                .service{
                    padding: 125px 0 84px 0;
                }
                .service .tit h2{
                    font-size: 32px;
                    margin: 0 0 42px 0; /* strong과 ul의 여백 */
                }
                .service .list ul{
                    flex-direction: column;  /* li 아래로 정렬 */
                    gap: 8px 0;  /* li의 위아래 여백 */
                }

                        /* ▼ 모바일에서 li가 좌우로 들어가게 될 경우 ▼
                        .service .list ul li{
                            width: calc(33.33% - 10.66px);
                            /* 
                            (100% / 한 줄에 들어가는 li 갯수) -(한 줄의 여백의 합 / 한 줄에 들어가는 li 갯수)
                            (100%/3 -((16+16)/3))
                            =33.33% 10.66px
                        }
                        .service .list ul li a{
                            padding: 22px 0 51px 0
                            height: 100%;  -->높이를 줘야 글자가 2줄이든 1줄이든 상자의 높이가 동일해짐
                            text-align:center; 
                        }
                        .service .list ul li a h3 br{
                            display: block;
                        }
                        .service .list ul li a::after{
                            right: calc(50% - 10.5px);  ---> 50% - 넓이의 절반 : 가운데 정렬
                            top: auto;  ---> top 취소 bottom 정렬
                            width: 21px;
                            height: 21px;
                            background-size: 8px;
                        */

                .service .list ul li{
                    width: auto;  /* 하나씩 쫙쫙 들어가야 하니까 auto로 알아서 들어가라고 준거임 */
                }
                .service .list ul li a{
                    padding: 22px 0 23px 30px;  /* 글자의 내부 여백을 li한테 주면, a를 더 안으로 밀어넣게 됨-- 그래서 li말고 a한테 줘야 제대로 적용됨 / 오른쪽 여백은 줘도 되고 안줘도 됨*/
                }
                .service .list ul li a::after{
                    right: 11px;  /* 디자인 상 원의 오른쪽 여백 */
                    top: 35px;  /* 디자인 상 원의 위의 여백 */
                    width: 26px;  /* 원의 넓이 */
                    height: 26px;  /* 원의 높이 */
                    background-size: 10px; /* 아이콘의 사이즈만 변경해주면 되니까 */
                }
                .service .list ul li a strong{
                    font-size: 15px;
                }
}/*@media*/



.footer{
    background-color: #f4f4f4;
    padding: 78px 0;
}
.footer .wrapper{
    position: relative;  /* top 정렬의 기준 */
}
.footer .top{
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: -1px; 
    top: -12px;
    width: 38px; /* 원의 넓이 */
    height: 38px; /* 원의 넓이 */
    border-radius: 50%;
    background: #0060BB url(../images/arrow_w.svg) no-repeat center center / 10px; /* 색은 원의 색이고 12px은 아이콘 넓이 */
    transform: rotate(90deg);  /* 화살표 아이콘 회전 */
}
.footer .top:hover{
    background-color: #3d3d3d;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
}
.footer .f_nav ul{
    display: flex;  /* li 좌우배치 */
    gap: 0 41px;  /* 만약 모바일에서 위아래 여백이 있으면 지금 미리 위아래 여백 줘도 됨 -pc에선 아무런 문제 없음(1줄이라서) */
    flex-wrap: wrap;  /* 모바일을 위해 미리 주는 속성 - 여러줄 허용 -pc에선 아무런 문제 없음(1줄이라서) */
}
.footer .f_nav ul li{
    position: relative;  /* after 정렬의 기준 */
}
.footer .f_nav ul li.imp{
    font-weight: 800;
}
.footer .f_nav ul li::before{
    content: "";
    position: absolute;  /* li를 기준으로 정렬 */
    left: 0;
    bottom: 2px;
    width: 0;
    height: 1px;
    background-color: rgba(61, 61, 61, 0.8);
    transition: 0.3s;
}
.footer .f_nav ul li:hover::before{
    width: 100%;
}
.footer .f_nav ul li::after{  /* before로 주면 두줄이 됐을 때 글자 뒤가 아니라 글자 앞으로 글자랑 선이 같이 다음줄로 떨어짐  */
    content: "";
    position: absolute;  /* li를 기준으로 정렬 */
    right: -21px;  /* 좌우여백의 반만큼 준거임 */
    top: 6px;  /* 선이 글자의 위로부터 얼만큼 떨어지는지 보고 준거임 */
    width: 1px;
    height: 14px;
    background-color: rgba(61, 61, 61, 0.3);
}
.footer .f_nav ul li:last-child::after{
    display: none;  /* 마지막 선 삭제 */
}
.footer .f_info{
    margin: 24px 0;
    display: flex;
    gap: 0 22px;
    flex-wrap: wrap; /* 모바일을 위해 미리 주는 속성 - 여러줄 허용 -pc에선 아무런 문제 없음(1줄이라서) */
}
@media screen and (max-width:768px){
                .footer{
                    padding: 48px 0;
                }
                .footer .top{
                    top: -66px;
                }
                .footer .f_info{
                    margin: 32px 0;
                }
}/*@media*/