@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.visual{
    position: relative; /* scroll 정렬의 기준 */
}
.visual .swiper-slide{
    height: 100dvh; /* vh => 브라우저의 높이에 따라 영역을 계속해서 맞춰주는거 - 브라우저의 높이를 맞춰 들어감 */
    background: url(../images/visual_bg01.jpg) no-repeat center center / cover;
    color: #fff;
    display: flex;
    align-items: flex-end;  /* wrapper를 아래로 정렬 */
}
.visual .swiper-slide.pop2{
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.pop3{
    background-image: url(../images/visual_bg03.jpg);
}
.visual .swiper-slide h2{
    font-size: 60px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 8vh 0;  /* visual의 높이 1000px에서 h2의 아래 여백이 78px인데 대략 80px이라고 치고, 1000/80=8%이기 때문에 8vh를 주면
    h2의 아래 여백이 브라우저의 높이가 달라져도 브라우저의 높이에 따라 여백도 같이 비율에 맞게 줄어든다 */
}
.visual .swiper-slide.pop1 h2 br{
    display: none;
}
.visual .scroll{
    position: absolute;  /* visual을 기준으로 정렬 */
    left: 50%;
    transform: translate(-50%);  /* 화면의 가운데로 위치시키는 방법 */
    bottom: 34px;  /* 글자를 기준으로 아래의 여백 */
    
    /*  화면 오른쪽 아래에 배치시킬 경우
    right: 0;
    bottom: 0;
    transform: rotate(90deg) deg--> 90도 */
    z-index: 10;
    font-size: 12px;
    color: #fff;
}
/* 화살표가 2개라서 before,after 2개로 정렬하면 됨 */
.visual .scroll::before,
.visual .scroll::after{
    content: "";
    position: absolute;  /* scroll을 기준으로 정렬 */
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 9px;  /* 아이콘 사이즈 */
    background: url(../images/visual_scroll.svg) no-repeat center center;
}
.visual .scroll::after{
    bottom: -18px;
}
/* 
화면의 하단 오른쪽 화살표일 경우
.visual .scroll::before,
.visual .scroll::after{
right: -13px;
top: 0;
width: 9px;
height: 100%;
transform: rotate(-90edg);
}
.visual .scroll::after{
    bottom: 0;
*/

/* 화살표가 움직이기 위해 주는 animation 속성 - Start */
.visual .scroll::before{
    animation: scroll1 2s linear 0.4s infinite;
}
@keyframes scroll1 {
    0%{bottom: -12px; opacity: 1;}  /* 시작(0%)--> 위의 befoer에 준 움직여야 하는 현재 값 /-12px */
    80%{bottom: -18px; opacity: 1;}  /* 중간(50%)--> 제일 멀리가는 값 / -22px */
    100%{bottom: -22px; opacity: 0;}  /* 종료(100%)--> 0%와 같아야 제자리로 돌아옴 / -12px */
}
.visual .scroll::after{
    animation: scroll2 2s linear 0.4s infinite;
}
@keyframes scroll2 {
    0%{bottom: -18px; opacity: 1;}  /* opacity를 시작과 중간에서 1로 주고, 종료에선 0을 줘야 사라지는 효과가 됨 */
    80%{bottom: -24px; opacity: 1;}  /* 중간값과 종료값의 bottom의 px값이 달라야 하는데 여기선 종료값이 제일 멀리가는 값이어야 함 */
    100%{bottom: -28px; opacity: 0;}
}
/* 화살표가 움직이기 위해 주는 animation 속성 - End */

@media screen and (max-width:768px){
                .visual .swiper-slide h2{
                    font-size: 40px;
                    margin: 0 0 5vh 0;  /* visual의 높이 1000px에서 h2의 아래 여백이 78px인데 대략 80px이라고 치고, 1000/80=8%이기 때문에 8vh를 주면
                    h2의 아래 여백이 브라우저의 높이가 달라져도 브라우저의 높이에 따라 여백도 같이 비율에 맞게 줄어든다 */
                }
                .visual .swiper-slide.pop1 h2 br{
                    display: block;
                }
                .visual .scroll{
                    display: none;  /* 모바일에선 안함 */
                }
}/*@media*/

.footer{
    margin: 1000px 0 0 0;
}