@import url(eulyoo.font.css);
@import url(eulyoo.common.css);
@import url(default.css);


.header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    fill: var(--color-white);
    padding: 0 var(--wrapper-margin);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header .logo a{
    display: block;
    width: calc(var(--header-height) * 1.78);
    min-width: 121px;
    /* width: max(121px, calc(var(--header-height) * 1.78)); */
    height: calc(var(--header-height) * 0.28);
    min-height: 19px;
    /* height: max(19px, calc(var(--header-height) * 0.28)); */
    background: url(../images/eulyoo/logo_w.svg) no-repeat center center / contain;
}
.header.fixed{
    background-color: var(--color-white);
    color: var(--font-color-txt);
    fill: var(--font-color-txt);
    border-bottom: 1px solid #ccc;
}
.header.fixed .logo a{
    background-image: url(../images/eulyoo/logo_black.svg);
}
@media screen and (min-width:1025px){  /* pc버전인 1025px 이상부터 */
            .header .gnb .gnb_open,
            .header .gnb .gnb_wrap .gnb_logo,
            .header .gnb .gnb_wrap .gnb_close{
                display: none;  /* 모바일에서만 나옴 */
            }
            .header .gnb .gnb_wrap ul.depth1{
                display: flex;
            }
            .header .gnb .gnb_wrap ul.depth1 > li{
                position: relative; /* 2차메뉴 정렬의 기준 */
                min-width: 0;
                transition: width 0.3s;  /* 넓이 자연스럽게 바뀌라고 */
            }
            .header .gnb .gnb_wrap ul.depth1 > li > a{
                display: block;  /* 까먹지 말고 주기 ---> 얘를 줘야 행간이 적용됨 */
                font-family: var(--font-family-Eulyoo);
                font-size: 22px;
                line-height: var(--header-height);
                padding: 0 25.5px;
                text-align: center;
                position: relative;  /* after 정렬의 기준 - 1차메뉴 하단의 밑줄 */
            }
            .header .gnb .gnb_wrap ul.depth1 > li > a::after{
                content: "";
                position: absolute;  /* a를 기준으로 정렬 */
                left: 50%;
                transform: translateX(-50%);
                bottom: -2px;
                z-index: 1;
                width: 0;
                height: 3px;
                background-color: var(--color-main);
                /* transition: 0.3s;  얘를 안주면 선이 뽝 생김 */
            }
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2{  /* li에 over하면 열림 */
                position: absolute;  /* 1차메뉴 li를 기준으로 정렬 */
                left: 0;
                top: var(--header-height);  /* 1차메뉴 = header height라서 그만큼 위에서 떨어져서 위치해야 함 */
                padding-top: 0;  /* header의 아래선으로부터 떨어지는 여백인데 padding(=나의 내부 여백)으로 줘야 마우스오버할 때 아웃되는것 방지됨 */
                width: 100%;
                height: 0;
                text-align: center;
                border-right: 1px solid #ccc;
                opacity: 0;
                transition: 0.3s;
                overflow: hidden;
            }
            .header .gnb .gnb_wrap ul.depth1 > li:first-child > ul.depth2{
                border-left: 1px solid #ccc;
            }
            .header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
                padding-top: 24px;
                height: 260px;
                opacity: 1;
            }
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a{
                display: block;
                padding: 8px 0;  /* 나의 여백이잖아 그러니까 위에 줘도 안밀리지 */
            }
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover{
                color: var(--color-main);
            }
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span{
                position: relative; /* after 정렬의 기준 */
            }
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: -1px;
                width: 0;
                height: 1px;
                background-color: var(--color-main);
                transition: 0.3s;
            }
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover > span::after{
                width: 100%;
            }
            .header .util{
                display: flex;
            }
            .header .util .search .search_open,
            .header .util .mypage{
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            /* 메뉴에 마우스를 올렸을 때 */
            .header.menu_over{
                color: var(--font-color-txt);
                fill: var(--font-color-txt);
            }
            .header::before{
                content: "";
                position: absolute; /* header-fixed를 기준으로 정렬 */
                left: 0;
                top: 0;
                z-index: -1;
                width: 100%;
                height: 360px;
                background-color: var(--color-white);
                transform: translateY(-110%);  /* header의 높이보다 많이 줘서 위로 보내놓고 마우스 오버 시 위에서 아래로 자연스럽게 내려오는 효과를 주기 위함 */
                transition: 0.3s;
            }
            .header.menu_over::before{
                transform: translateY(0);
            }
            .header.menu_over::after{  /* menu_over됐을 때 보이는 header 아래 선 */
                content: "";
                position: absolute;  /* header-fixed를 기준으로 정렬 */
                left: 0;
                top: var(--header-height);
                width: 100%;
                height: 1px;
                background-color: #ccc;
            }
            .header.menu_over .logo a{
                background-image: url(../images/eulyoo/logo_black.svg);
            }
            .header.menu_over .gnb .gnb_wrap ul.depth1 > li{
                min-width: 180px;
            }
            .header.menu_over .gnb .gnb_wrap ul.depth1 > li:hover > a{
                color: var(--color-main);
                font-weight: var(--font-weight-bold);
            }
            .header .gnb .gnb_wrap ul.depth1 > li:hover > a::after{
                width: 100%;
            }
            .header .gnb .gnb_bg{
                position: fixed;
                left: 0;
                bottom: 0;
                z-index: -2;/* -1은 이미 흰색배경이 가져서 그보다 더 아래 값을 줘야 함 */
                width: 100%;
                height: 100vh;
                background-color: #000;
                backdrop-filter: blur(0);
                transform: translateY(-110%);
                transition: background-color 0.3s backdrop-filter 0.3s;
            }
            .header.menu_over .gnb .gnb_bg{
                backdrop-filter: blur(4px);
                background-color: rgba(0, 0, 0, 0.5);
                transform: translateY(0);
            }
}/*@media*/
@media screen and (max-width:1100px) and (min-width:1025px){ /* 1100px ~ 1025px 사이 */
            .header.menu_over .gnb .gnb_wrap ul.depth1 > li{
                min-width: 150px;
            }
}/*@media*/
@media screen and (max-width:1024px){
            .header{
                padding-right: 0;
            }
            /* .header .gnb .gnb_open svg{
                width: calc(var(--header-height) * 0.43);
                height: calc(var(--header-height) * 0.33);
            } */
            .header .gnb .gnb_wrap{
                display: none;
                position: fixed;
                right: 0;
                top: 0;
                z-index: 10;
                width: 100%;
                max-width: 500px;
                height: 100%;
                background-color: var(--color-white);
                color: var(--font-color-txt);  /* 메뉴에 포함되는 글자색 */
                fill: var(--font-color-txt); /* 현재 html에 메뉴열기가 svg로 코딩되어 있어서 그것만 바꾸면 됨, 나머지는 css로 코딩 */
            }
            .header.menu_open .gnb .gnb_wrap{
                display: block;
            }
            .header .gnb .gnb_open{
                width: var(--header-height);
                height: var(--header-height);
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .header .gnb .gnb_wrap .gnb_logo{
                position: absolute;  /* gnb_wrap을 기준으로 정렬 */
                left: var(--wrapper-margin);
                top: 0;
                width: max(121px, calc(var(--header-height) * 1.78));
                height: var(--header-height);
                background: url(../images/eulyoo/logo_black.svg) no-repeat left center / contain;
            }
            .header .gnb .gnb_wrap ul.depth1{
                margin: var(--header-height) 0 0 0;
                height: calc(100% - var(--header-height));
                overflow-y: auto;
                padding: 14px 0 0 0;
            }
            .header .gnb .gnb_wrap ul.depth1 > li > a{
                display: block;
                font-family: var(--font-family-Eulyoo);
                font-size: 22px;
                padding: 13px var(--header-height) 13px var(--wrapper-margin);
                position: relative;  /* after 정렬의 기준 */
            }
            .header .gnb .gnb_wrap ul.depth1 > li.open > a{
                font-weight: var(--font-weight-bold);
                color: var(--color-main);
            }
            .header .gnb .gnb_wrap ul.depth1 > li > a::after{
                content: "";
                position: absolute; /* a를 기준으로 정렬 */
                right: 0;
                top: 0;
                width: var(--header-height); /* 닫기 버튼이랑 넓이를 동일하게 가짐 */
                height: 100%; /* a랑 높이를 동일하게 줘서 디자인처럼 아이콘을 메뉴의 위아래 가운데 위치시킴 */
                background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1.28172L8.5 10L0 1.28172L1.24963 8.99051e-07L8.5 7.43678L15.7504 2.65204e-07L17 1.28172Z' fill='%23555555'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
            }
            .header .gnb .gnb_wrap ul.depth1 > li.open > a::after{
                transform: rotate(180deg);
                background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1.28172L8.5 10L0 1.28172L1.24963 8.99051e-07L8.5 7.43678L15.7504 2.65204e-07L17 1.28172Z' fill='%236C4B43'/%3E%3C/svg%3E%0A");
            }
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
                background-color: var(--color-bg);
                padding: 16px var(--wrapper-margin) 16px var(--wrapper-margin);
                display: none;
            }
            /* .header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2{
                display: block;
            } */
            .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a{
                display: block;
                padding: 8px 0 8px var(--wrapper-margin);
            }
            .header .gnb .gnb_wrap .gnb_close{
                position: absolute; /* gnb_wrap을 기준으로 정렬 */
                right: 0;
                top: 0;
                width: var(--header-height);
                height: var(--header-height);
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .header .gnb .gnb_bg{
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0);
                backdrop-filter: blur(0);
                transform: translateX(110%);
                transition: background-color 0.3s, backdrop-filter 0.3s;
            }
            .header.menu_open .gnb .gnb_bg{
                background-color: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(4px);
                transform: translateX(0);
            }
            .header .util{
                display: none;
            }
}/*@media*/



.visual{
    position: relative;  /* ctrl_left,right 정렬의 기준 */
}
.visual .swiper-slide{
    /* height: 100vh;
    min-height: 500px; */
    height: max(500px, 100vh); /* 최소높이 500px부터는 h3의 하단 여백이 따라오지 않음 */
    background: url(../images/eulyoo/visual_bg01.jpg) no-repeat center center / cover;
    color: var(--color-white);
    padding: 0 var(--wrapper-margin) 175px var(--wrapper-margin);
    /* 글자를 아래로 내리기 위함 */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.visual .swiper-slide.bg2{
    background-image: url(../images/eulyoo/visual_bg02.jpg);
}
.visual .swiper-slide.bg3{
    background-image: url(../images/eulyoo/visual_bg03.jpg);
}
.visual .swiper-slide h3{
    font-family: var(--font-family-Eulyoo);
    font-size: clamp(40px, 7vw, 80px);
    line-height: var(--line-height-tit);
    margin: 0 0 4px 0;
}
.visual .ctrl_left{
    position: absolute; /* visual을 기준으로 정렬 */
    left: var(--wrapper-margin);
    bottom: 99px;
    z-index: 1;
    fill: var(--color-white);
    display: flex;
    gap: 0 19px;
    align-items: center;
}
.visual .ctrl_left .bar{
    width: 200px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative; /* span 정렬의 기준 */
}
.visual .ctrl_left .bar span{
    position: absolute; /* bar를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: var(--color-white);
}
.visual .ctrl_left .play{
    display: none;  /* 재생버튼을 누르면 나옴 */
}
.visual .ctrl_right{
    position: absolute; /* visual을 기준으로 정렬 */
    right: var(--wrapper-margin);
    bottom: 77px;
    z-index: 1;
    fill: var(--color-white);
    display: flex;
    gap: 0 6px;
}
.visual .ctrl_right button{
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:768px){
            .visual .swiper-slide{
                height: 500px;  /* 모바일에선 높이가 아예 고정임 */
                padding-bottom: 45px;
            }
            .visual .ctrl_left,
            .visual .ctrl_right{
                display: none;
            }
}/*@media*/


.book{
    background-color: var(--color-bg);
    padding: clamp(127px, 18vw, 206px) 0 clamp(102px, 12vw, 129px) 0;
    /* display: flex;
    justify-content: flex-end; */
}
.book .inner{
    margin-left: calc(calc(100% - var(--wrapper-width)) / 2);
    /* width: calc(50% + calc(var(--wrapper-width) / 2)); */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative; /* btn_wrap 정렬의 기준 */
}
.book .inner .tit h2{
    font-family: var(--font-family-Eulyoo);
    font-size: var(--font-size-tit);
    line-height: var(--line-height-tit);
    margin-bottom: 21px;
}
.book .list{
    width: calc(100% - 327px);
}
.book .list .swiper{
    padding-right: var(--wrapper-margin);
}
.book .list .swiper-wrapper{
    align-items: flex-end;
}
.book .list .swiper-slide{
    width: 250px;
}
.book .list .swiper-slide a{
    display: block;
}
.book .list .swiper-slide a .photo{
    overflow: hidden;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
}
.book .list .swiper-slide a .photo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    vertical-align: top;
}
.book .list .swiper-slide a .txt{
    font-size: var(--font-size-subTit2); /* 24px */
    line-height: var(--line-height-tit); /* 1.3 */
    height: calc(var(--line-height-tit) * 3em + 1em + 0.5417em);
}
.book .list .swiper-slide a .txt h3{
    font-family: var(--font-family-Eulyoo);
    margin: 1em 0 0.5417em 0;
    /* 최대 2줄 */
    max-height: 2.6em;  /* 제목이 1줄인 애도 있어서 최대높이를 줘야 함 */
    overflow: hidden;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    word-break: normal;
}
.book .list .swiper-slide a .txt h3 strong{
  background-image: linear-gradient(transparent calc(100% - 1px), var(--font-color-txt) 10px); /* 30px <- 이 값을 수정하여 밑줄 두께 조절 */
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: left bottom;
  transition: background-size 0.6s ease;
}
.book .list .swiper-slide a:hover .txt h3 strong{
    background-size: 100% 100%;
}
.book .list .swiper-slide a .txt span{
    display: block;
    color: var(--font-color-gray);
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
    /* 1줄 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .btn_wrap{
    position: absolute; /* inner를 기준으로 정렬 */
    left: 0;
    top: 268px;
    display: flex;
    gap: 0 6px;
}
.book .btn_wrap button,
.book .btn_wrap .more{
    width: 50px;
    height: 50px;
    border: 1px solid var(--font-color-gray);
    border-radius: 50%;
    fill: var(--font-color-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}
.book .btn_wrap button.swiper-button-disabled{
    opacity: 0.5;
    cursor: default;
}
.book .btn_wrap button:not(.swiper-button-disabled):hover,
.book .btn_wrap .more:hover{
    background-color: var(--color-main);
    border-color: var(--color-main);
    fill: var(--color-white);
}

@media screen and (max-width:1384px){
            .book .inner{
                margin-left: var(--wrapper-margin);
                /* width: calc(100% - var(--wrapper-margin)); */
            }
}/*@media*/
@media screen and (max-width:1024px){
            .book .inner{
                flex-direction: column;
            }
            .book .inner .tit h2{
                margin-bottom: 60px;
            }
            .book .inner .tit h2 br,
            .book .inner .tit p{
                display: none;
            }
            .book .list{
                width: 100%;
            }
            .book .list .swiper-wrapper{
                align-items: flex-start;
            }
            .book .list .swiper-slide {
                width: 235px;
            }
            .book .btn_wrap{
                left: auto;
                right: var(--wrapper-margin);
                top: auto;
            }
}/*@media*/

@media screen and (max-width:768px){
            .book .list .swiper-wrapper{
                align-items: flex-end;
            }
            .book .list .swiper-slide {
                width: 220px;
            }
            .book .btn_wrap{
                top: 2px;
            }
            .book .btn_wrap button{
                display: none;
            }
            .book .btn_wrap .more{
                width: 36px;
                height: 36px;
            }
            .book .btn_wrap .more svg{
                width: 11px;
                height: 11px;
            }
}/*@media*/



.interview{
    margin: clamp(127px, 20vw, 200px) 0 clamp(85px, 13.4vw, 134px) 0;
}
.interview .wrapper{
    position: relative; /* more 정렬의 기준 */
}
.interview .tit{
    text-align: center;
}
.interview .tit h2{
    font-family: var(--font-family-Eulyoo);
    font-size: var(--font-size-tit);
    line-height: var(--line-height-tit);
    margin: 0 0 21px 0;
}
.interview .list{
    margin-top: clamp(42px, 4.8vw, 48px);
}
.interview .list ul{
    display: flex;
    justify-content: space-between;
}
.interview .list ul li{
    width: calc(33.33% - 16px);
}
.interview .list ul li:nth-child(2){
    margin-top: 61px;
    /* transform: translateY(61px); -> 얘를 주면 list에서 영역을 벗어나버림*/
}
.interview .list ul li a{
    display: block;
    position: relative; /* txt,over 정렬의 기준 */
}
.interview .list ul li a .photo{
    overflow: hidden;
    height: 410px;
    border-radius: 50px 0 50px 0;
    position: relative; /* before 정렬의 기준 */
}
.interview .list ul li a .photo::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    opacity: 1;
    transition: opacity 0.3s;
}
.interview .list ul li:hover a .photo::before{
    opacity: 0;
}
.interview .list ul li:nth-child(2) a .photo{
    border-radius: 0 50px 0 50px ;
}
.interview .list ul li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    filter: grayscale(100%);  /* 사진 흑백 처리 */
    transition: 0.3s;
}
.interview .list ul li:hover a .photo img{
    filter: grayscale(0);
}
.interview .list ul li a .txt{
    position: absolute; /* a를 기준으로 정렬 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 40px;
    bottom: 40px;
    z-index: 2;
    width: 80.58%;
    color: var(--color-white);
    fill: var(--color-white);
    opacity: 1;
    transition: 0.3s;
}
.interview .list ul li:hover a .txt {
    opacity: 0;
}
.interview .list ul li a .txt h3{
    font-family: var(--font-family-Eulyoo);
    font-size: 32px;
    line-height: 1.3;
}
.interview .list ul li a .over{
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    bottom: -49px;
    width: 91.99%;
    padding: 45px 10.55% ;
    background-color: var(--color-main);
    color: var(--color-white);
    fill: var(--color-white);
    z-index: 3;
    border-radius: 50px 0 50px 0 ;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s;
}
.interview .list ul li:hover a .over{
    transform: translateY(0);
    opacity: 1;
}
.interview .list ul li:nth-child(2) a .over{
    border-radius: 0 50px 0 50px ;
}
.interview .list ul li a .over h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.interview .list ul li a .over span{
    font-family: var(--font-family-Eulyoo);
    font-size: var(--font-size-subTit2);
    line-height: var(--line-height-tit);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.interview .list ul li a .over p{
    word-break: normal;
    height: calc(var(--line-height-default) * 2em);
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.interview .more{
    position: absolute;  /* wrapper를 기준으로 정렬 */
    left: 50%;
    transform: translateX(-50%);
    top: 130px;
    color: var(--font-color-gray);
    fill: var(--font-color-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 8px;
}
.interview .more:hover{
    color: var(--color-main);
    fill: var(--color-main);
}
.interview .more span::after{
    content: "";
    position: absolute;  /* more를 기준으로 정렬 */
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: var(--color-main);
    transition: 0.3s;
}
.interview .more:hover span::after{
    width: 100%;
}
@media screen and (max-width:768px){
            .interview .tit {
                text-align: left;
            }
            .interview .tit h2{
                margin: 0;
            }
            .interview .tit p{
                display: none;
            }
            .interview .list ul li{
                width: calc(50% - 8px);
            }
            .interview .list ul li:nth-child(2) {
                margin-top: 0;
            }   
            .interview .list ul li:last-child{
                display: none;
            }
            .interview .list ul li a .photo{
                border-radius: 30px 0 30px 0;
            }
            .interview .list ul li:nth-child(2) a .photo {
                border-radius: 30px 0 30px 0;
            }
            .interview .list ul li a .photo::before{
                display: none;
            }
            .interview .list ul li a .photo img{
                filter: grayscale(0);
            }
            .interview .list ul li a .txt{
                display: none;
            }
            .interview .list ul li a .over{
                bottom: -23px;
                opacity: 1;
                padding: 30px 8.09%;
                border-radius: 30px 0 30px 0 ;
                transform: translateY(0);
            }
            .interview .list ul li:nth-child(2) a .over {
                border-radius: 30px 0 30px 0;
            }
            .interview .list ul li a .over h3 svg{
                width: 18px;
                height: 18px;
            }
            .interview .more{
                left: auto;
                right: 0;
                transform: translateX(0);
                top: 2px;
                width: 36px;
                height: 36px;
                border: 1px solid var(--font-color-gray);
                border-radius: 50%;
                justify-content: center;
            }
            .interview .more:hover{
                border-color: var(--font-color-gray);
                border-color: var(--font-color-gray);
            }
            .interview .more span{
                display: none;
            }
            .interview .more svg{
                width: 11px;
                height: 11px;
            }
}/*@media*/
@media screen and (max-width:520px){}/*@media*/
            .interview .list ul li {
                width: 100%;
            }
            .interview .list ul li:nth-child(2){
                display: none;
            }
.footer{
    margin: 1000px 0 0 0;
}