@import url(common.css);
@import url(fonts.css);

.header{
    height: 100px;
}
.header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .gnb ul{
    display: flex;
}
.header .gnb ul li a{
    display: block;
    font-size: 22px;
    color: #1d1d1d;
    padding: 0 28px;
    line-height: 100px;
    /* ▲line-height 를 주는 이유는, 얘를 안주면  header에서 height를 100 줬는데 그게 header에만 적용되고 그 안에 하위요소들은 적용이 안됨
    그래서 글자의 행간을 위아래로 줌으로써, header안에서 위아래 가운데 정렬이 되고, logo도 display-flex 속성에 의해 같이 가운데 정렬 됨 */
}

.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 884px;
}
/* .visual .wrapper{
    padding: 719px 0 0 0;
} */
.visual h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    padding: 719px 0 10px 0;  /* padding 으로 상하단 여백 주면 됨 */
}


.biz{
    margin: 157px 0 0 0;
    /* text-align: center; 여기서 주면, 45줄,68줄에서 안줘도 됨!!*/
}
.biz .tit{
    text-align: center;
}
.biz .tit h2{
    font-weight: 700;
    color: #102F5D;
}
.biz .tit p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 19px 0 55px 0;
}
.biz .list ul{
    display: flex;
    justify-content: space-between;
}
.biz .list ul li{  /*  까먹고 안줌!! */
    width: 297px;
}
.biz .list ul li .txt{
    margin: 0 40px;  /* margin으로 디자인할 때 준 좌우여백 40px 주면 됨 */
    text-align: center;
}
.biz .list ul li .txt h3{
    font-size: 32px;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 18px 0;
}
.biz .list ul li .txt a{
    display: block;
    border: 1px solid #ccc;
    padding: 6px 0; /* 좌우여백은 안줘도 됨 이미 위에서 40px의 좌우여백이 들어갔기 때문 */
    margin: 18px 0 0 0;
}


.brand{
    background: url(../images/brand_bg.jpg) no-repeat center center / cover;
    color: #fff;
    text-align: center;
    height: 469px;
    margin: 149px 0 0 0;
}
.brand h2{
    font-weight: 700;
    color: #102F5D;
    padding: 125px 0 10px 0;
}
.brand p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 20px 0;
}
.brand a{
    display: inline-block;
    border: 1px solid #ccc;
    padding: 6px 25px;
}


.footer{  /* footer의 상하단 여백은 죽어도 padding으로 줘야 함 */
    background-color: #F0F0F0;
    color: rgba(102, 102, 102, 1);
    height: 284px;
    padding: 77px 0;
}
.footer .f_nav ul{
    display: flex;
    gap: 0 44px;
}
.footer .f_info{
    display: flex;
    gap: 0 22px;
    margin: 26px 0;
}