.footer{
    margin: 104px 0 200px 0;
    border-top: 1px solid rgba(69, 75, 82, 0.6);
/*  color: #454B52;
    padding: 57px 0;*/
}
.footer .f_nav ul{
    display: flex;
    gap: 0 36px;
}
.footer .f_nav ul li{
    position: relative; /* before 정렬 기준 */
}
.footer .f_nav ul li::before{
    position: absolute; /* li를 기준으로 */
    content: "";
    left: -21px;
    top: 7px;
    width: 1px;
    height: 13px;
    background-color: rgba(69, 75, 82, 0.2);
}
.footer .f_nav ul li:first-child::before{
    display: none;
}
.footer .f_nav ul li a{
    display: block; 
    position: relative; /* after 정렬 기준 */
}
.footer .f_nav ul li a::after{
    position: absolute; /* a를 기준으로 */
    content: "";
    left: 0;
    bottom: -1px;
    width: 0;
    height: 1px;
    background-color: #454B52;
    transition: 0.5s;  /* 효과가 나타나기까지 걸리는 시간 */
}
.footer .f_nav ul li a:hover::after{
   width: 100%;
}
.footer .f_ino{
    display: flex;
    gap: 0 20px;
    margin: 26px 0;
}