@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url(common.css);

.header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 40px 0 50px;
}
.header .logo{
    margin: 29px 0 0 0;
}
.header .gnb ul{
    display: flex;
}
.header .gnb ul li a{
    display: block;
    line-height: 100px;
    padding: 0 34px;
    font-size: 20px;
    color: #191E26;
}
.header .gnb ul li a:hover{
    color: #93042F;
}


.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 800px;
    margin: 0 40px;
    border-radius: 20px;
}
.visual .wrapper{
    padding: 0 0 0 40px;   /*=>> 디자인이랑 달라서 반응형에만 주면 안되는건지??*/
}
.visual h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    padding: 440px 0 22px 0;
}
.visual p{
    font-size: 20px;
}


.biz{
    margin: 129px 0 159px 0;
}
.biz .group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.biz .group .tit{
    width: 510px;
}
.biz .group .tit h3{
    font-weight: 700;
    color: #93042F;
}
.biz .group .tit .sub_tit{
    font-size: 40px;
    font-weight: 700;
    color: #191E26;
    line-height: 1.3;
    margin: 24px 0 25px 0;
}
.biz .group .tit .sub_tit strong{
    color: #93042F;
}
.biz .group .photo{
    width: 618px;
    height: 536px;
    overflow: hidden;
    border-radius: 10px;
}
.biz .group .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .music{
    margin: 0 0 104px 0;
}
.biz .art{
    flex-direction: row-reverse;
}
.biz .group .btn_wrap{
    display: flex;
    gap: 6px 6px;
    flex-wrap: wrap;
    margin: 33px 0 0 0;  /* => 까먹고 안줌!! */ 
}
.biz .group .btn_wrap a{
    display: block;
    border: 1px solid #93042F;
    color: #93042F;
    border-radius: 30px;
    padding: 13px 45px;
    line-height: 1.3;  /* => 까먹고 안줌!! */ 
}
.biz .group .btn_wrap a.active{
    background-color: #93042F;
    color: #fff;
}
.biz .group .btn_wrap a:hover{
    font-weight: 700;
    background-color: rgba(147, 4, 47, 0.1);
    color: #93042F;
}


.community{
    background: url(../images/community_bg.jpg) no-repeat center top;
    color: #fff;
    /* margin -> biz에서 줌 */
}
.community .notice{
    display: flex;
    justify-content: space-between;
    position: relative; /* more의 position 기준 */
    padding: 162px 0 0 0;
}
.community .notice .tit h3{
    font-weight: 700;
    color: #ECDE87;
}
.community .notice .tit p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 15px 0 0 0;
}
.community .notice .list{
    width: 721px;  /* 넓이 제한해야 함 꼭 */
}
.community .notice .list ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.community .notice .list ul li:first-child{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.community .notice .list ul li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0 23px 0;
}
.community .notice .list ul li a:hover{
    color: #ECDE87;
}
.community .notice .list ul li a h4{
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 121px);
}
.community .notice .list ul li a span{
    color: (255, 255, 255, 0.8)
}
.community .notice .list ul li a:hover span{
    color: #ECDE87;
}
.community .notice .more{
    position: absolute;
    left: 0;
    top: 337px;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 11px 23px;
}
.community .notice .more:hover{
    background-color: #fff;
    color: #93042F;
    border: 1px solid #fff;
}
.community .youtube{
    margin: 156px 0 0 0;
    position: relative; /* more 정렬의 기준 */
}
.community .youtube .tit h3{
    font-weight: 700;
    color: #ECDE87;
}
.community .youtube .tit p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 15px 0 52px 0;
}
.community .youtube .list ul{
    display: flex;
    justify-content: space-between;
}
.community .youtube .list ul li{ /* => 까먹고 안줌 */
    width: 404px;  /* li한테 넓이 주는 거임!! */
    /* list에 넓이를 제한하는 선이 있으면 list 전체적으로 넓이를 제한해주기 */
}
.community .youtube .list ul li a{ /* => 까먹고 안줌 */
    display: block;
    color: #191E26;
}
.community .youtube .list ul li a .photo{
    overflow: hidden;
    height: 227px;
    border-radius: 10px;
    border: 2px solid #93042F; /* => 까먹고 안줌 */
}
.community .youtube .list ul li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.community .youtube .list ul li a:hover .photo img{  /* 효과 포토가 아니라 이미지한테 주는거임 / a:hover .photo img 임 */
    transform: scale3d(1.125, 1.125, 1);
}
.community .youtube .list ul li a h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    color: #191E26;
    margin: 27px 0 0 0;
    text-align: center; 
}
.community .youtube .more{
    position: absolute; /* youtube 기준 */
    right: 0;
    bottom: 335px;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 11px 23px;
}
.community .youtube .more:hover{
    background-color: #fff;
    color: #93042F;
    border: 1px solid #fff;
}


.footer{
    margin: 104px 0 200px 0;
    border-top: 1px solid rgba(69, 75, 82, 0.6);
    padding: 57px 0;
    color: #454B52; /* 까먹고 안줌 */
}
.footer .f_nav ul{
    display: flex;
    gap: 0 41px;
}
.footer .f_nav ul li{ /* 까먹고 안줌 */
    position: relative;
}
.footer .f_nav ul li::before{  /* 제대로 입력 못함 */
    content: ""; /* 까먹고 안줌 */
    position: absolute;
    left: -21px;
    top: 7px;
    width: 1px;
    height: 13px;
    background-color: rgba(69, 75, 82, 0.2);  /* 선 색 */
}
.footer .f_nav ul li:first-child::before{
    display: none;
}
.footer .f_nav ul li a{ /* 제대로 입력 못함 */
    display: block;
    position: relative; /* after 정렬 기준 */
}
.footer .f_nav ul li a::after{ /* 제대로 입력 못함 => :hover 가 아니라 ::after임,, */
    content: ""; /* before & after를 입력하면 그냥 따라오는 값 */
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    bottom: -1px;
    width: 0;  /* 글자의 길이가 달라서 지정 X */
    height: 1px;
    background-color: #454B52;
    transition: 0.3s;  /* 효과의 속도 직접 주기 */
}
.footer .f_nav ul li a:hover::after{
    width: 100%;  /* 딱 글자의 길이만큼 들어가라는 의미 */
}
.footer .f_ino{
    display: flex;
    gap: 0 20px;
    margin: 20px 0;
}