@import url(common.css);
@import url(fonts.css);
@import url(default.css);

.header{
    position: fixed;  /* 무조건 body랑 정렬함 */
    /* min-width: 1320px; */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 90px;
    color: #fff;
    transition: backgriund-color 0.3s color 0.3s;
}
.header .wrapper{
    display: flex;
    justify-content: space-between;
}
.header .logo{
    margin: 21px 0 0 0;
}
.header .logo a{
    display: block;
    width: 100px;
    height: 39px;
    background: url(../images/sdream/logo_W.svg) no-repeat center center / contain; /* logo는 짤리면 안돼서 contain 주는거임 */
}
.header .gnb .gnb_open,
.header .gnb .gnb_close{
    display: none;
}
.header .gnb .gnb_wrap ul{
    display: flex;
}
.header .gnb .gnb_wrap ul li a{
    display: block;
    line-height: 90px;
    padding: 0 33px;
    font-size: 22px;
    font-weight: 700;
}
.header .util{
    display: flex;
    margin: 25px 0 0 0;
}
.header .util .mypage{
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/sdream/mypage_w.svg) no-repeat center center;
}
.header .util .lang .lang_open{
    display: block;  /* 눌러야 하는 애들은 block 줘야 깔끔함 */
    width: 40px;
    height: 40px;
    background: url(../images/sdream/lgng_w.svg) no-repeat center center;
}
/******************* header에 fixed,over,hide 클래스 추가 *****************************/
    .header.fixed.hide{
        top: -95px;
    }
    .header.fixed,
    .header.over{
        background-color: #fff;
        color: #1d1d1d;
        border-bottom: 1px solid #ccc;
    }
    .header.fixed .logo a,
    .header.over .logo a{
        background-image: url(../images/sdream/logo.svg);
    }
    .header.fixed .util .mypage,
    .header.over .util .mypage{
        background-image: url(../images/sdream/mypage_b.svg);
    }
    .header.fixed .util .lang .lang_open,
    .header.over .util .lang .lang_open{
        background-image: url(../images/sdream/lang_b.svg);
    }
            /**************  마우스 오버하면 색 변경  ***************/
            .header.fixed .gnb .gnb_wrap ul li a:hover,
            .header.over .gnb .gnb_wrap ul li a:hover{
                color: #0373DC;
            }
            .header.fixed .util .mypage:hover,
            .header.over .util .mypage:hover{
                background-image: url(../images/sdream/mypage_on.svg);
            }
            .header.fixed .util .lang .lang_open:hover,
            .header.over .util .lang .lang_open:hover{
                background-image: url(../images/sdream/language_on.svg);
            }
            /**************  마우스 오버하면 색 변경  ***************/
/******************** header에 fixed,over,hide 클래스 추가 *****************************/
@media screen and (max-width:768px){
                .header{
                height: 56px;
                }
                .header .wrapper{
                    margin-right: 0;
                }
                .header .logo{
                    margin: 17px 0 0 0;
                }
                .header .logo a{
                    width: 56px;
                    height: 22px;
                }
                .header .gnb .gnb_open{
                    display: block;
                    width: 56px;
                    height: 56px;
                    background: url(../images/sdream/gnb_open_w.svg) no-repeat center center;
                }
                .header .gnb .gnb_wrap{
                    display: none;
                }
                .header .util{
                    display: none;
                }

                /************ fixed / over 클래스가 추가됐을 때(스타일 동일함) ************/
                .header.fixed .gnb .gnb_open,
                .header.over .gnb .gnb_open{
                    background-image: url(../images/sdream/gnb_open.svg);
                }
}/*@media*/

.visual{
    position: relative;  /* scroll 정렬의 기준 */
}
.visual .swiper-slide{
    height: 100dvh;
    color: #fff;
    background: url(../images/sdream/visual_bg01.jpg) no-repeat center center / cover;
    display: flex;
    align-items: flex-end;
}
.visual .swiper-slide.pop2{
    background-image: url(../images/sdream/visual_bg02.jpg);
}
.visual .swiper-slide.pop3{
    background-image: url(../images/sdream/visual_bg03.jpg);
}
.visual .swiper-slide h2{
    font-size: 60px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 8dvh 0;
}
.visual .swiper-slide.pop1 h2 br{
    display: none;
}
.visual .scroll{
    position: absolute; /* visual을 기준으로 정렬 */
    left: 50%;
    transform: translateX(-50%);
    bottom: 34px;  /* 디자인상 글자의 아래 여백 */
    color: #fff;
    font-size: 12px;
    z-index: 10;  /* 화면에 나타나지 않아서 주는 값임 */
}
.visual .scroll::before,
.visual .scroll::after{
    content: "";
    position: absolute;  /* scroll 기준으로 정렬 */
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 9px;
    background: url(../images/sdream/visual_scroll.svg) no-repeat center center;
}
.visual .scroll::after{
    bottom: -19px;
}
/* 화살표가 움직이기 위해 주는 animation 속성 - Start */
            /* .visual .scroll::before{
                animation: scroll1 2s linear infinite ;
            }
            @keyframes scroll1 {
                0%{bottom: -12px;}
                50%{bottom: -19px;}
                100%{bottom: -12px;}
            }
            .visual .scroll::after{
                animation: scroll2 2s linear infinite;
            }
            @keyframes scroll2 {
                0%{bottom: -19px;}
                50%{bottom: -25px;}
                100%{bottom: -19px;}
            } */
             .visual .scroll::before{
                animation: scroll1 1.3s linear infinite;
             }
            @keyframes scroll1 {
                0%{bottom: -12px; opacity: 1;}
                80%{bottom: -16px; opacity: 1;}
                100%{bottom: -19px; opacity: 0;}
            }
            .visual .scroll::after{
                animation: scroll2 1.3s linear infinite;
            }
            @keyframes scroll2 {
                0%{bottom: -19px; opacity: 1;}
                80%{bottom: -22px; opacity: 1;}
                100%{bottom: -25px; opacity: 0;}
            }
/* 화살표가 움직이기 위해 주는 animation 속성 - End */



.footer{
    margin: 1000px 0 0 0;
}