@import url(common.css);
@import url(fonts.css);
@import url(default.css);

.visual .swiper-slide{
    height: 100vh;  /* 브라우저의 높이에 맞춰서 비주얼의 높이를 계속해서 조절해주는 것 => 높이는 % 가 안됨*/
    background: url(../images/sdream/visual_bg01.jpg) no-repeat center center;
    color: #fff;
    /* wrapper를 아래로 정렬-->wrapper의 역학을 하면 이렇게 줘도 됨 */
    display: flex;
    align-items: flex-end;
    position: relative;  /* scroll 정렬의 기준 */
}
.visual .swiper-slide.pop2{
    background-image: url(../images/sdream/visual_bg02.jpg);
}
.visual .swiper-slide.pop3{
    background-image: url(../images/sdream/visual_bg03.jpg);
}
.visual .swiper-slide h2{
    font-size: 60px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 8vh 0;  /* 브라우저의 높이가 줄어들면 여백도 따라서 같이 줄어드는거임--> h2의 아래여백인 80px을 visual의 높이 1000px 에 나눠서, 1000/80=8vh 가 됨 */
}
.visual .scroll{
    position: absolute;  /* visual을 기준으로 정렬 / before,after정렬의 기준 */
    left: 50%;
    transform: translateX(-50%);  /* 가운데 정렬인 경우 */
    bottom: 34px;  /* Scroll Down 글자의 아래 여백 */
    z-index: 10;
    font-size: 12px;
    color: #fff;
}
.visual .scroll::before,
.visual .scroll::after{
    content: "";
    position: absolute;  /* scroll을 기준으로 정렬 */
    left: 0;
    bottom: -11px;
    width: 100%;
    height: 9px;
    background: url(../images/sdream/visual_scroll.svg) no-repeat center center;
}
/* ▽그냥 위아래로 왔다갔다 하는 애니메이션 효과▽ 
.visual .scroll::after{
    bottom: -17px;
    animation: scroll2 2s linear infinite;
}
.visual .scroll::before{
    animation: scroll1 2s linear infinite ;
} */
/* @keyframes scroll1 {
    0%{bottom: -11px;}
    50%{bottom: -18px;}  
    100%{bottom: -11px;}  
} */
/* @keyframes scroll2 {
    0%{bottom: -17px;}
    50%{bottom: -26px;}
    100%{bottom: -17px;}
} */ /* ▽삼천리 사이트처럼 위아래로 왔다갔다하다가 사라지는 애니메이션 효과▽ */
.visual .scroll::after{
    opacity: 0;
    animation: scroll2 1.5s linear infinite;
}
.visual .scroll::before{
    animation: scroll1 1.5s linear infinite;
}
@keyframes scroll1{
    0%{bottom: -11px; opacity: 1;}
    50%{bottom: -16px; opacity: 1;}  
    100%{bottom: -18px; opacity: 0;} 
}
 @keyframes scroll2{
    0%{bottom: -17px; opacity: 1;}
    50%{bottom: -24px; opacity: 1;}  
    100%{bottom: -26px; opacity: 0;} 
}

@media screen and (max-width:768px){
                .visual .swiper-slide h2{
                    font-size: 40px;
                    margin: 0 0 5vh 0;  /* 브라우저의 높이가 줄어들면 여백도 따라서 같이 줄어드는거임--> h2의 아래여백인 80px을 visual의 높이 1000px 에 나눠서, 1000/80=8vh 가 됨 */
                }
                .visual .scroll{
                    display: none;
                }
}/*@media*/

.footer{
    margin: 1000px 0 0 0;
}