@import url(common.css);
@import url(fonts.css);
@import url(default.css);

.header{
    position: fixed;  /* 무조건 body랑 정렬함 */
    /* min-width: 1320px; */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 90px;
    color: #fff;
    transition: backgriund-color 0.3s color 0.3s;
}
.header .wrapper{
    display: flex;
    justify-content: space-between;
}
.header .logo{
    margin: 21px 0 0 0;
}
.header .logo a{
    display: block;
    width: 100px;
    height: 39px;
    background: url(../images/sdream/logo_W.svg) no-repeat center center / contain; /* logo는 짤리면 안돼서 contain 주는거임 */
}
.header .gnb .gnb_open,
.header .gnb .gnb_close{
    display: none;
}
.header .gnb .gnb_wrap ul{
    display: flex;
}
.header .gnb .gnb_wrap ul li a{
    display: block;
    line-height: 90px;
    padding: 0 33px;
    font-size: 22px;
    font-weight: 700;
}
.header .util{
    display: flex;
    margin: 25px 0 0 0;
}
.header .util .mypage{
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/sdream/mypage_w.svg) no-repeat center center;
}
.header .util .lang .lang_open{
    display: block;  /* 눌러야 하는 애들은 block 줘야 깔끔함 */
    width: 40px;
    height: 40px;
    background: url(../images/sdream/lgng_w.svg) no-repeat center center;
}
/******************* header에 fixed,over,hide 클래스 추가 *****************************/
    .header.fixed.hide{
        top: -95px;
    }
    .header.fixed,
    .header.over{
        background-color: #fff;
        color: #1d1d1d;
        border-bottom: 1px solid #ccc;
    }
    .header.fixed .logo a,
    .header.over .logo a{
        background-image: url(../images/sdream/logo.svg);
    }
    .header.fixed .util .mypage,
    .header.over .util .mypage{
        background-image: url(../images/sdream/mypage_b.svg);
    }
    .header.fixed .util .lang .lang_open,
    .header.over .util .lang .lang_open{
        background-image: url(../images/sdream/lang_b.svg);
    }
            /**************  마우스 오버하면 색 변경  ***************/
            .header.fixed .gnb .gnb_wrap ul li a:hover,
            .header.over .gnb .gnb_wrap ul li a:hover{
                color: #0373DC;
            }
            .header.fixed .util .mypage:hover,
            .header.over .util .mypage:hover{
                background-image: url(../images/sdream/mypage_on.svg);
            }
            .header.fixed .util .lang .lang_open:hover,
            .header.over .util .lang .lang_open:hover{
                background-image: url(../images/sdream/language_on.svg);
            }
            /**************  마우스 오버하면 색 변경  ***************/
/******************** header에 fixed,over,hide 클래스 추가 *****************************/
@media screen and (max-width:768px){
                .header{
                height: 56px;
                }
                .header .wrapper{
                    margin-right: 0;
                }
                .header .logo{
                    margin: 17px 0 0 0;
                }
                .header .logo a{
                    width: 56px;
                    height: 22px;
                }
                .header .gnb .gnb_open{
                    display: block;
                    width: 56px;
                    height: 56px;
                    background: url(../images/sdream/gnb_open_w.svg) no-repeat center center;
                }
                .header .gnb .gnb_wrap{
                    display: none;
                }
                .header .util{
                    display: none;
                }

                /************ fixed / over 클래스가 추가됐을 때(스타일 동일함) ************/
                .header.fixed .gnb .gnb_open,
                .header.over .gnb .gnb_open{
                    background-image: url(../images/sdream/gnb_open.svg);
                }
}/*@media*/

.visual{
    position: relative;  /* scroll 정렬의 기준 */
}
.visual .swiper-slide{
    height: 100dvh;
    color: #fff;
    background: url(../images/sdream/visual_bg01.jpg) no-repeat center center / cover;
    display: flex;
    align-items: flex-end;
}
.visual .swiper-slide.pop2{
    background-image: url(../images/sdream/visual_bg02.jpg);
}
.visual .swiper-slide.pop3{
    background-image: url(../images/sdream/visual_bg03.jpg);
}
.visual .swiper-slide h2{
    font-size: 60px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 8dvh 0;
}
.visual .swiper-slide.pop1 h2 br{
    display: none;
}
.visual .scroll{
    position: absolute; /* visual을 기준으로 정렬 */
    left: 50%;
    transform: translateX(-50%);
    bottom: 34px;  /* 디자인상 글자의 아래 여백 */
    color: #fff;
    font-size: 12px;
    z-index: 10;  /* 화면에 나타나지 않아서 주는 값임 */
}
.visual .scroll::before,
.visual .scroll::after{
    content: "";
    position: absolute;  /* scroll 기준으로 정렬 */
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 9px;
    background: url(../images/sdream/visual_scroll.svg) no-repeat center center;
}
.visual .scroll::after{
    bottom: -19px;
}
/* 화살표가 움직이기 위해 주는 animation 속성 - Start */
            /* .visual .scroll::before{
                animation: scroll1 2s linear infinite ;
            }
            @keyframes scroll1 {
                0%{bottom: -12px;}
                50%{bottom: -19px;}
                100%{bottom: -12px;}
            }
            .visual .scroll::after{
                animation: scroll2 2s linear infinite;
            }
            @keyframes scroll2 {
                0%{bottom: -19px;}
                50%{bottom: -25px;}
                100%{bottom: -19px;}
            } */
             .visual .scroll::before{
                animation: scroll1 1.3s linear infinite;
             }
            @keyframes scroll1 {
                0%{bottom: -12px; opacity: 1;}
                80%{bottom: -16px; opacity: 1;}
                100%{bottom: -19px; opacity: 0;}
            }
            .visual .scroll::after{
                animation: scroll2 1.3s linear infinite;
            }
            @keyframes scroll2 {
                0%{bottom: -19px; opacity: 1;}
                80%{bottom: -22px; opacity: 1;}
                100%{bottom: -25px; opacity: 0;}
            }
/* 화살표가 움직이기 위해 주는 animation 속성 - End */
@media screen and (max-width:768px){
            .visual .swiper-slide{
                height: 80dvh;
            }
            .visual .swiper-slide h2{
                font-size: 40px;
                margin: 0 0 5dvh 0;
            }
            .visual .swiper-slide.pop1 h2 br{
                display: block;
            }
            .visual .scroll{
                display: none;
            }
}/*@media*/



.biz{
    margin-top: 174px;
}
.biz .wrapper{
    display: flex; /* tit-list 좌우 배치 */
    justify-content: space-between;
    align-items: flex-start;
}
.biz .tit{
    position: sticky;
    top: 100px;
}
.biz .tit strong{
    font-weight: 700;
    color: #0060BB;
}
.biz .tit h2{
    font-size: 45px;
    font-weight: 800;
    line-height: 1.3;
    color: #1d1d1d;
    margin-top: 12px;
}
.biz .list{
    width: 832px;
}
.biz .list ul{
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
}
.biz .list ul li{
    width: calc(50% - 12px);
}
.biz .list ul li:nth-child(even){
    transform: translateY(182px);
}
.biz .list ul li a{
    display: block;
    height: 552px;
    color: #fff;
    border-radius: 20px;
    background: url(../images/sdream/biz01.jpg) no-repeat center center / cover;
    position: relative; /* txt, before 정렬 기준 */
    overflow: hidden;  /* p태그가 빠져나가는거 방지하기 위함 */
}
.biz .list ul li a::before{
    content: "";
    position: absolute;  /* a를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0060BB;
    opacity: 0;
    transition: 0.3s;
}
.biz .list ul li.biz2 a{
    background-image: url(../images/sdream/biz02.jpg);
}
.biz .list ul li.biz3 a{
    background-image: url(../images/sdream/biz03.jpg);
}
.biz .list ul li.biz4 a{
    background-image: url(../images/sdream/biz04.jpg);
}
.biz .list ul li.biz5 a{
    background-image: url(../images/sdream/biz05.jpg);
}
.biz .list ul li a .txt{
    position: absolute; /* a를 기준으로 정렬, 더보기 정렬 기준 */
    left: 40px;
    bottom: -40px;
    width: calc(100% - 80px);
    transition: 0.3s;
}
.biz .list ul li a .txt h3{
    font-size: 32px;
    font-weight: 800;
    line-height: 1.3;
    margin-bottom: 6px;
}
.biz .list ul li a .txt p{
    opacity: 0;
    margin-bottom: 12px;
    transition: 0.3s;
}
.biz .list ul li a span{
    display: inline-block;
    opacity: 0;
    width: 111px;
    height: 40px;
    background-color: #CCE7FF;
    color: #1d1d1d;
    border-radius: 30px;
    padding: 7px 40px 7px 22px;
    position: relative;  /* after 정렬 기준 */
}
.biz .list ul li a span::after{
    content: "";
    position: absolute;  /* span을 기준으로 정렬 */
    right: 19px;
    top: 13px;
    width: 12px;
    height: 12px;
    background: url(../images/sdream/more_black.svg) no-repeat center center;
    transition: transform 0.8s;
}
/*************** 마우스 오버 시  *******************/
.biz .list ul li a:hover::before{
    opacity: 0.9;
}
.biz .list ul li a:hover .txt{
    bottom: 40px;
}
.biz .list ul li a:hover .txt p{
    opacity: 1;
}
.biz .list ul li a:hover span{
    opacity: 1;
}
.biz .list ul li a:hover span::after{
    transform: rotate(360deg);
}
/*************** 마우스 오버 시  *******************/
@media screen and (max-width:768px){
            .biz{
            margin-top: 128px;
            }
            .biz .wrapper{
                display: block;
            }
            .biz .tit{
                position: relative;
                top: auto;
            }
            .biz .tit h2{
                font-size: 32px;
                margin: 14px 0 45px 0;
            }
            .biz .list{
                width: auto;
            }
            .biz .list ul{
                flex-wrap: nowrap;
                flex-direction: column;
                gap: 12px 0;
            }
            .biz .list ul li{
                width: auto;
            }
            .biz .list ul li:nth-child(even){
                transform: translateY(0);
            }
            .biz .list ul li a{
                height: 150px;
            }
            .biz .list ul li a::before{
                display: none;
            }
            .biz .list ul li a .txt{
                left: 16px;
                bottom: 16px;
                width: calc(100% - 56px);
            }
            .biz .list ul li a:hover .txt{
                bottom: 16px;
            }
            .biz .list ul li a .txt::after{
                content: "";
                position: absolute;
                right: 0;
                bottom: 5px;
                width: 21px;
                height: 21px;
                border-radius: 50%;
                background: #fff url(../images/sdream/biz_mob_arrow.svg) no-repeat center center;
            }
            .biz .list ul li a .txt h3{
                font-size: 24px;
                margin-bottom: 0;
            }
            .biz .list ul li a .txt h3 br{
                display: none;
            }
            .biz .list ul li a .txt p{
                display: none;
            }
            .biz .list ul li a span{
                display: none
            }
}/*@media*/



.footer{
    margin: 1000px 0 0 0;
}