@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url(common.css);

.header{
    height: 100px;
    display: flex;  /* logo-gnb 좌우 */
    justify-content: space-between;
    margin: 0 40px 0 50px;
}
.header .logo{
    margin: 29px 0 0 0;
}
.header .gnb ul{
    display: flex;  /* li 좌우배치 */
}
.header .gnb ul li a{
    display: block;
    line-height: 100px;  /* header의 높이와 같아야 메뉴에 마우스 오버했을 때 아웃되는걸 방지 */
    padding: 0 34px;
    font-size: 20px;
    color: #191E26;
}
/* a:hover ==> 마우스를 올렸을 때 나타나는 스타일 hwp.css 9p 참고*/
.header .gnb ul li a:hover{  
    color: #93042F;
}

.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 800px;
    margin: 0 40px;  /* 화면에 딱 맞게 안하고 좌우여백을 줬으니 margin으로 여백 주기 */ 
    border-radius: 20px;
}
.visual .wrapper{
    padding: 0 0 0 40px;   /* am 강의 다시 듣기 */
}
.visual h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    padding: 440px 0 22px 0;
}

.biz{
    margin: 129px 0 159px 0;
}
.biz .art{
    margin: 104px 0 0 0;
}
/* music, art 둘 다에 스타일이 적용 됨 */
.biz .group{
    display: flex; /* tit-photo 좌우로 주기 위함 */
    justify-content: space-between;
    align-items: center;  /* 디자인할 때 사진을 기준으로 
    가운데 배치했으면 ==> align-items: center 해주면 됨
    위로부터 20px 떨어졌으면 ==> margin 주면 됨 */
}
.biz .group .tit{
    width: 510px;
}
.biz .group .tit h3{
    font-weight: 700;
    color: #93042F;
}
.biz .group .tit .sub_tit{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #191E26;
    margin: 26px 0;
}
.biz .group .tit .sub_tit strong{
    color: #93042F;
}
.biz .group .tit .btn_wrap{
    display: flex;  /* a를 좌우배치 */
    margin: 32px 0 0 0;
    gap: 6px 6px; /* flex로 정렬된 a 사이의 여백으로, 위아래여백 / 좌우여백 임 */
    flex-wrap: wrap;  /* ★★★★ flex로 좌우배치되는 a를 두줄로 배치되는 것을 허락하는 것★★★★ */
}
.biz .group .tit .btn_wrap a{
    display: block;
    color: #93042F;
    border: 1px solid #93042F;
    padding: 13px 45px;
    border-radius: 50px;
    line-height: 1.3;
}  /*
 (a 는 공통으로 해당값을 가지는데, active는 따로 설정)
 <a></a>
 <a></a>
 <a class="active"></a>

 a.active라는 선택자는 a들 중에서 active클래스가 있는 a를 의미함

 a       .active 이렇게 띄어쓰기를 하면
 <a><strong class="active"></strong></a>
 이런식으로 a안에 active 클래스가 별도로 있는 것도 의미함
 */
.biz .group .tit .btn_wrap a.active{
    background-color: #93042F;   /* border는 건들지 않고 bg 색을 줄 것 */
    color: #fff;
}
.biz .group .tit .btn_wrap a:hover{
    background-color: #F4E6EA;
    font-weight: 700;
    /* color: #93042F; => 색상이 같으면 이렇게 줘도 됨 */
}
.biz .group .tit .btn_wrap a.active:hover{
    color: #93042F;
}
.biz .group .photo{
    width: 618px;
    height: 536px;
    overflow: hidden;
    border-radius: 10px;
}
.biz .group .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.community{
    background: url(../images/community_bg.jpg) no-repeat center top ;  /* top을 줘야 bg가 디자인한것처럼 위로 옴 */
    color: #fff;
}
.community .notice{
    padding: 162px 0 156px 0;
    display: flex;
    justify-content: space-between;
}
.community .notice .tit h3{
    font-weight: 700;
    color: #FFD8D9;
}
.community .notice .tit p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 15px 0 0 0;
}
.community .notice .list{
    width: 721px;  /* 너비를 안주면 justify-content: space-between = 이거 때문에 오른쪽 끝에 가 있게 됨. 하여 너비를 줌으로써 디자인한 것과 같은 자리를 지키게 함 > */
}
.community .notice .list ul li{
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
/* li:first-child li중 첫 번재 항목을 뜻함 */
.community .notice .list ul li:first-child{
    border-top: 1px solid rgba(255,255,255,0.2);
}
.community .notice .list ul li a{
    display: flex; /*  span - h4가 좌우로 들어가야 하기 때문에 */
    /* display 속성 하나에는 flex 나 block 둘 중 하나만 들어가야 함 */
    justify-content: space-between;  /* h4 - span 좌우배치 */
    padding: 26px 0 23px 0;  /* 위에 선 때문에??? */    
    align-items: center;
}
.community .notice .list ul li a:hover{
    color: #FFD8D9;
}
.community .notice .list ul li a h4{
    font-size: 20px;
}
.community .notice .list ul li a span{
    color: rgba(255, 255, 255, 0.8);
}
.community .notice .list ul li a:hover span{  /* a한테 오버했을 때 a 안에 있는 span 태그의 색상이 바뀌는 것이기 때문에 a:hover span이라고 해줘야 됨 */
    color: #FFD8D9;
}


.footer{
    margin: 0 0 500px 0;
}