@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.header{
    position: absolute;  /* common.css - wrap을 기준으로 정렬 => body를 기준으로 정렬하면 화면 사이즈가 줄어들면 헤더의 영역이 좁아짐*/
    left: 0;
    top: 0;
    z-index: 100; /* 맨위로 위치하게 하라는 의미 / 절대 이 숫자보다 높은 숫자를 주면 안됨 */
    /* position이 필수임 / 숫자 높은 값을 주면 됨 */
    color: #fff;
    width: 100%;  /* header에 넓이 100% 무조건 줘야 함 */
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* header 아래 선 */
}
.header .wrapper{
    display: flex;  /* logo - gnb - util 좌우배치 */
    justify-content: space-between;
    align-items: center;
}
.header .logo a{
    display: block;
}
.header .logo a img{
    vertical-align: top;
}
.header .gnb .gnb_open{
    display: none; /* 모바일에서만 보임  */
}
.header .gnb .gnb_wrap ul{
    display: flex;  /* li 좌우배치 */
}
.header .gnb .gnb_wrap ul li a{
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 100px;  /* header의 높이와 동일하게 => 메뉴가 위아래도 눌려야 하기 때문에*/
    padding: 0 22px;  /* 메뉴가 눌리는 영역(좌우) */
}
.header .util .weather{
    position: relative; /* before 정렬 기준 */
    padding: 0 0 0 36px; /* 아이콘이 들어갈 공간을 주기 위함 */
    display: flex;  /* strong - span 태그 정렬하기 위해 */
    flex-direction: column; /* 위아래 위치 */
    line-height: 1.3;
}
.header .util .weather strong{
    font-weight: 700;
}
.header .util .weather::before{  /* 아이콘을 주기 위해 불러온 before임 */
    position: absolute; /* weather를 기준 */
    content: "";
    left: 0;
    top: 5px;
    width: 29px;  /* 아이콘 넓이 */
    height: 27px; /* 아이콘 높이 */
    background: url(../images/util_weather.svg) no-repeat center center;
}
@media screen and (max-width:768px){ /* media 쿼리는 pc형 코딩 바로 아래줄에 있어야 함 */
                .header{
                    height: 56px;
                }
                .header .wrapper{
                    margin-right: 0; /* 오른쪽 여백 삭제 => 모바일에선 오른쪽 여백 없이 메뉴가 눌리기 때문*/
                }
                .header .logo a img{
                    width: 88px;  /* img의 크기를 줄이려면 img를 불러와서 넓이만 주면 높이가 알아서 들어감 둘 다 줄 필요 없음 */
                }
                .header .gnb .gnb_open{
                    display: block; /* 모바일에서만 보임 */
                    /* width와 height를 header의 높이만큼 주는 이유는 메뉴 아이콘이 그만큼 눌릴 영역이기 때문 */
                    width: 56px; /* header의 높이 */
                    height: 56px; /* header의 높이 */  
                    background: url(../images/gnb_open.svg) no-repeat center center;
                }
                .header .gnb .gnb_wrap{
                    display: none;  /* 모바일에서는 메뉴가 눌러야 나옴 */
                }
                .header .util{
                    display: none; /* 모바일에서는 안나옴 */
                }
}/* @media */


.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    border-radius: 0 0 200px 0; /* 시계방향 */
    position: relative; /* before 정렬의 기준 */
}
.visual::before{
    position: absolute;  /* visual을 기준으로 */
    content: "";
    left: 0;
    top: 0;
    z-index: -1;  /* 디자인한것처럼 라운드 밑 영역에 배경색이 들어가게 해줌 */
    width: 100%;
    height: 100%;
    background-color: rgba(204, 204, 204, 0.18);
}
.visual .wrapper{
    height: 900px;  /* visual에 있던 높이를 wrapper에게 줘서, picture 정렬의 기준으로 position: relative 를 줄 수 있기 때문*/
    position: relative; /* picture 정렬의 기준 */
}
.visual h2{
    padding: 316px 0 0 450px ; 
}
.visual .picture{
    display: block;  /* a를 만나면 줘야 하는 기본 값 */
    text-align: center;  /* a 안에 들어간 span 태그 안의 글자 가운데 정렬 */
    width: 180px;   /* 원의 넓이 */
    height: 180px;  /* 원의 높이 */
    border-radius: 50%;  /* => 무조건 정 원 */
    background-color: #0724D7;
    line-height: 1.3;
    padding: 98px 0 0 0;  /* 글자가 원의 위에서부터 떨어지는 거리 */
    position: absolute; /* wrapper를 기준으로 */  /* before 정렬의 기준도 됨 */
    right: -90px; /* 높이의 반 (180/2) */
    bottom: -89px; /* 넓이의 반 (180/2) */
}  /* 글자 위·아래·좌·우에 선이나 아이콘이 들어가면 before & after를 사용 */
.visual .picture::before{
    content: "";
    position: absolute; /* picture를 기준으로 정렬 */
    left: 0;
    top: 48px; /* 아이콘이 원의 위에서부터 떨어지는 거리 */
    width: 100%;  /* 원의 꽉 차는 사각형이 존재한다고 생각 */
    height: 34px;  /* 아이콘 사이즈 = 높이 */
    /* 아이콘을 배경으로 줄 땐 사이즈(cover)를 안주면 원래 사이즈대로 들어감 / 아이콘엔 cover 주면 안됨 */
    background: url(../images/visual_picture.svg) no-repeat center center / contain; /* contain은 아이콘     의 사이즈가 바뀔 때만 주는 것임 */
    /* contain은 배경이미지를 하나도 짤리지 않게 꽉 차게 주는 것으로, 리사이즈가 필요할 때 주는 것  => 아이콘을 배경으로 줄 때 사용함 */
}
.visual .picture:hover{  /* 핸드폰에선 마우스 오버할 수가 없음 */
    color: #78E6DD;
    font-weight: 700;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.visual .picture:hover::before{
    background-image: url(../images/visual_picture_on.svg);
    /* background-image => 이미지만 교체되고 위치나 반복값은 그대로 상속됨 */
}
@media screen and (max-width:768px){ /* media 쿼리는 pc형 코딩 바로 아래줄에 있어야 함 */
                .visual{
                    border-radius: 0 0 30px 30px; /* 시계방향 */
                    background-position: right 45% center 0;  /* 사진의 위치 조절 */ /* 또는 모바일의 사진을 따로 저장해서 다시 줘도 됨 */
                }
                .visual .wrapper{
                    height: 650px;  /* visual에 있던 높이를 wrapper에게 줘서, picture 정렬의 기준으로 position: relative 를 줄 수 있기 때문*/
                    display: flex;  /* flex,justify,align => h2 태그를 화면 가운데 배치시키기 위해 주는 값임 */
                    justify-content: center; /* 좌우의 가운데 */
                    align-items: center;  /* 위아래 가운데 */
                }
                .visual h2{
                    padding: 0 ;  /* 글자의 상단여백이 바뀌었기 때문에 바꿔줘야 함 */
                }
                .visual h2 img{  /* img는 자기 자신한테 넓이를 줘야 함 */
                    width: 80%; /* => img를 감싸는 h2 태그의 넓이의 80% */
                    /* 넓이나 높이 둘 중에 하나만 줘도 비율에 맞게 들어감 -> 두개 동시에 주면 찌그러짐 */
                    max-width: 400px;  /* 최대넓이 제한 */
                }
                .visual .picture{
                    width: 120px;   
                    height: 120px;
                    font-size: 15px;
                    line-height: 1.2;
                    padding: 67px 0 0 0;
                    right: 0; /* wrapper의 오른쪽에 딱 맞게 들어가기 때문에 0 임 */
                    bottom: -60px; /* 높이의 반 (120/2) */
                }  /* 글자 근처에 아이콘이나 글자 위·아래·좌·우에 선이 들어가면 before & after를 사용 */
                .visual .picture::before{
                    top: 22px; /* 아이콘이 원의 위에서부터 떨어지는 거리 */
                    height: 32px;  /* 아이콘 사이즈 = 높이 */
                }
}/* @media */  


.culture{
    padding: 156px 0 104px 0; /* bg색 들어가기 때문에 상단과 하단의 여백이 padding으로 들어가야 함 / bg색 안들어가면 margin으로 상단 여백만 주면 됨*/
    background-color: rgba(204, 204, 204, 0.18);
}
.culture .wrapper{
    position: relative; /* more 정렬의 기준 */
}
.culture .tit{
    margin: 0 130px 0 0; /* 브라우저 사이즈가 줄어들었을 때, 더보기가 들어갈 자리의 여백을 줌 */
}
.culture .tit h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 0 0 26px 0;
}
.culture .tit h2 br{
    display: none; /* pc에선 줄바꿈 안함 */
}
.culture .list{
    margin: 52px 0 0 0;
}
.culture .list ul{
    display: flex;
    justify-content: space-between;
}
.culture .list ul li{
    width: calc(33.33% - 16px);  /* 반응형을 위해 넓이를 calc(계산법)으로 적용해줘야 함 */
    /* 
    100%/li의 갯수 - 여백의 합/li의 갯수 => 100%/3 - (24+24)/3 = 33.33% - 16px
     */
     text-align: center;
}
.culture .list ul li a{
    display: block;
}
.culture .list ul li a .photo{
    overflow: hidden;
}
.culture .list ul li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;  /* 사진을 안잘리고 비율에 맞게 */
    transition: 0.3s;  /* 사진이 0.3초 동안 천천히 확대되라는 의미 */
}
.culture .list ul li a:hover .photo img{
    transform: scale3d(1.125, 1.125, 1);  /* 이미지 확대되는 효과 */
}
.culture .list ul li a h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 27px 0 26px 0;
}
.culture .list ul li a h3 span{
    position: relative; /* after 정렬의 기준 */
}
.culture .list ul li a h3 span::after{
    content: "";
    position: absolute;  /* span을 기준으로 */
    left: 0;
    bottom: -3px;
    width: 0;  /* 마우스 오버했을 때 변하는 거니까 hover 속성에서 주면 됨 */
    height: 1px;
    background-color: #1d1d1d;
    transition: 0.3s;
}
.culture .list ul li a:hover h3 span::after{
    width: 100%;  /* 글자의 길이만큼 밑줄 생성 */
}
.culture .more{
    position: absolute;  /* culture를 기준으로 */  /* moore의 정렬 기준 */
    right: 0;
    top: 93px;
    display: block; /* a 안에 있는 more이기 때문에 주는 거임 */
    border: 1px solid #3d3d3d;
    border-radius: 30px;  /* %말고 px로 주기 */
    padding: 4px 39px 4px 23px;
}
.culture .more::after{
    content: "";
    position: absolute; /* more를 기준으로 */
    right: 21px;
    top: 12px;
    width: 11px;  /* 아이콘 넓이 */
    height: 11px;  /* 아이콘 넓이 */
    background: url(../images/more.svg) no-repeat center center / contain;
}
.culture .more:hover{
    background-color: #0724D7;
    border-color:  #0724D7;  /* 테두리 색만 바뀌면 되는거면 border-color로 색만 바꿔주되, 테두리가 있는데 border를 안주면 절대 안됨!!  */
    color: #fff;
}
.culture .more:hover::after{
    /* 배경이미지만 교체되면 background-image 로 이미지만 변경해주기 */
    background-image: url(../images/more_on.svg);
}
@media screen and (max-width:768px){
                .culture{
                    padding: 139px 0 108px 0; /* bg색 들어가기 때문에 상단과 하단의 여백이 padding으로 들어가야 함 / bg색 안들어가면 margin으로 상단 여백만 주면 됨*/
                }
                .culture .tit{
                    margin: 0 50px 0 0; /* 브라우저 사이즈가 줄어들었을 때, 더보기가 들어갈 자리의 여백을 줌 */
                }
                .culture .tit h2{
                    font-size: 28px;
                    margin: 0 ;  /* p와의 여백이 사라지는거라서 0을 줘야 함 */
                }
                .culture .tit h2 br{
                    display: block; /* 모바일에선 줄바꿈 */
                }
                .culture .tit p{
                    display: none; /* 모바일에선 숨김 */
                }
                .culture .list{
                    margin: 36px 0 0 0;
                }
                .culture .list ul{
                    flex-direction: column;  /* flex 유지 -> 아래방향으로 전환 */
                    gap: 36px 0; /* 위아래 여백만 들어감 */
                }
                .culture .list ul li{
                    width: auto;  /* 100%를 주는 것보다는 auto를 주는게 좋음 => block 요소는 auto를 줘도 100%가 됨 */
                }
                .culture .list ul li a h3{
                    font-size: 24px;
                    margin: 22px 0 25px 0;
                }
                .culture .more{
                    top: 39px;
                    border-radius: 50%; /* 정 원 */
                    padding: 0;  /* 글자가 빠지기 때문에 0임 */
                    width: 36px;  /* 원의 넓이 */
                    height: 36px;  /* 원의 높이 */
                }
                .culture .more::after{
                    right: 12px;
                    top: 12px;
                    width: 10px;  /* 아이콘 넓이 */
                    height: 10px;  /* 아이콘 넓이 */
                }
                .culture .more:hover{
                    background-color: #0724D7;
                    border-color:  #0724D7;  /* 테두리 색만 바뀌면 되는거면 border-color로 색만 바꿔주되, 테두리가 있는데 border를 안주면 절대 안됨!!  */
                    color: #fff;
                }
                .culture .more:hover::after{
                    /* 배경이미지만 교체되면 background-image 로 이미지만 변경해주기 */
                    background-image: url(../images/more_on.svg);
                }
                .culture .more span{
                    display: none; /* 글자를 모바일에서 숨기기 위함 */
                }
}/* @media */


.tour{
    background-color: rgba(7, 36, 215, 0.05);
    padding: 156px 0 104px 0;
}
.tour .wrapper{
    position: relative; /* more 정렬의 기준 */
}
.tour .tit{
    margin: 0 130px 0 0; /* 브라우저 사이즈가 줄어들었을 때, 더보기가 들어갈 자리의 여백을 줌 */
}
.tour .tit h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
}
.tour .tit h2 br{
    display: none; /* pc에선 줄바꿈 안함 */
}
.tour .list{
    margin: 83px 0 0 0;
}
.tour .list ul{
    display: flex;
    justify-content: space-between;
}
.tour .list ul li{
    width: 190px;
}
.tour .list ul li.active{ /* active클래스가 있는 li */
    width: 653px;
}
.tour .list ul li a{
    display: flex;  /* h3 - p를 세로로 아래로 정렬 */
    flex-direction: column;
    justify-content: flex-end;
    height: 431px;
    background: url(../images/tour01.jpg) no-repeat center center / cover;
    color: #fff;
}
.tour .list ul li.tour02 a{
    background-image: url(../images/tour02.jpg);
    background-position: left 37% bottom 0;
}
.tour .list ul li.tour03 a{
    background-image: url(../images/tour03.jpg);
    background-position: left 49% top 0;
}
.tour .list ul li.tour04 a{
    background-image: url(../images/tour04.jpg);
}
.tour .more{
    position: absolute;  /* culture를 기준으로 */  /* moore의 정렬 기준 */
    right: 0;
    top: 9px;
    display: block; /* a 안에 있는 more이기 때문에 주는 거임 */
    border: 1px solid #3d3d3d;
    border-radius: 30px;  /* %말고 px로 주기 */
    padding: 4px 39px 4px 23px;
}
.tour .more::after{
    content: "";
    position: absolute; /* more를 기준으로 */
    right: 21px;
    top: 12px;
    width: 11px;  /* 아이콘 넓이 */
    height: 11px;  /* 아이콘 넓이 */
    background: url(../images/more.svg) no-repeat center center / contain;
}
.tour .more:hover{
    background-color: #0724D7;
    border-color:  #0724D7;  /* 테두리 색만 바뀌면 되는거면 border-color로 색만 바꿔주되, 테두리가 있는데 border를 안주면 절대 안됨!!  */
    color: #fff;
}
.tour .more:hover::after{
    /* 배경이미지만 교체되면 background-image 로 이미지만 변경해주기 */
    background-image: url(../images/more_on.svg);
}

@media screen and (max-width:768px){
                .tour{
                    padding: 108px 0 ; /* bg색 들어가기 때문에 상단과 하단의 여백이 padding으로 들어가야 함 / bg색 안들어가면 margin으로 상단 여백만 주면 됨*/
                }
                .tour .tit{
                    margin: 0 50px 0 0; /* 브라우저 사이즈가 줄어들었을 때, 더보기가 들어갈 자리의 여백을 줌 */
                }
                .tour .tit h2{
                    font-size: 28px;
                    margin: 0 ;  /* p와의 여백이 사라지는거라서 0을 줘야 함 */
                }
                .tour .tit h2 br{
                    display: block; /* 모바일에선 줄바꿈 */
                }
                .tour .list{
                    margin: 26px 0 0 0;
                }


                .tour .more{
                    top: 37px;
                    border-radius: 50%; /* 정 원 */
                    padding: 0;  /* 글자가 빠지기 때문에 0임 */
                    width: 36px;  /* 원의 넓이 */
                    height: 36px;  /* 원의 높이 */
                }
                .tour .more::after{
                    right: 12px;
                    top: 12px;
                    width: 10px;  /* 아이콘 넓이 */
                    height: 10px;  /* 아이콘 넓이 */
                }
                
                .tour .more span{
                    display: none; /* 글자를 모바일에서 숨기기 위함 */
                }
}/* @media */

footer{
    margin: 500px 0 0 0;
}