@font-face {
    font-family: 'CloudSans';
    src: url('../fonts/goorm-sans-regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'CloudSans';
    src: url('../fonts/goorm-sans-bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Paperozi';
    src: url('../fonts/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Paperozi';
    src: url('../fonts/Paperlogy-9Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
@font-face {
	font-family: "pretendard";
	font-weight: 800;
	font-display: swap;
	src: local("Pretendard ExtraBold"), 
    url(../fonts/Pretendard-Black.woff2) format("woff2"), 
    url(../fonts/Pretendard-Black.woff) format("woff");
}