/*
    common.css (layout.css 라고도 함)
    홈페이지 전체에 적용되는 공통스타일
    프로젝트마다 변경됨 - 이 css에 있는 속성을 수정하면 프로젝트 전체가 바뀜
*/
body{
    font-family: "TMoneyDungunbaram", sans-serif;
    font-weight: var(--font-weight-default);
    font-size: var(--font-size-default);
    color: var(--font-color-txt);
    line-height: var(--line-height-default);/* 배수(글자크기의 몇배) */
    word-break: keep-all;/* 단어 단위로 줄바꿈 */
    word-wrap: break-word; /* 단어가 제한된 넓이보다 길면 강제 줄바꿈 */
}
.wrapper{
    width: var(--wrapper-width);
    margin: 0 auto; /* 화면에 가운데 정렬 */
}
#wrap{
    position: relative;  /* 그냥 있는 애 = 안전빵 */
}
@media screen and (max-width:1500px){  /* (이번엔 딱히 빠져나가는게 없어서 임의로 30px줌) 1440 + 30px + 30px */
                .wrapper{
                    width: auto;
                    margin: 0 var(--wrapper-margin); /* 화면에 가운데 정렬 */
                }
}/*@media  - wrapper가 풀리는 경우 하나만 있으면 됨*/

/* html 표준때문에 입력해야하는 태그이지만 홈페이지에 나오지 않는
   태그에 주는 클래스 */
.sr-only, .skip, .blind {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

:root{
    --font-size-default: 16px;
    --font-size-tit: 32px;
    --font-size-visual: 50px;
    --font-size-subTit1: 26px;
    --font-size-subTit2: 24px;
    --wrapper-margin: 30px;
    --wrapper-width: 1440px;
    --font-color-txt: #1d1d1d;
    --font-color-gray: #ccc;
    --color-main-blue: #2348A3;
    --color-sub-blue: #BCE1FE;
    --color-brown-pink: #432F2E;
    --color-brown-w: #533A35;
    --color-yellow: #FFF0B5;
    --color-pink-brown: #FEC9DD;
    --color-white: #fff;
    --font-weight-default: 400;
    --font-weight-bold: 700;
    --font-weight-Extra-bold: 800;
    --line-height-default: 1.5;
    --line-height-tit: 1.3;
    --header-height: 100px;
    --font-family-Hakgyo: "Hakgyo";
    --icon-login-w: "data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.69613 6.94865C4.92093 6.15325 4.53333 5.19404 4.53333 4.07102C4.53333 2.94819 4.92093 1.98898 5.69613 1.19339C6.47133 0.397796 7.40596 0 8.5 0C9.59404 0 10.5287 0.397796 11.3039 1.19339C12.0791 1.98898 12.4667 2.94819 12.4667 4.07102C12.4667 5.19404 12.0791 6.15325 11.3039 6.94865C10.5287 7.74424 9.59404 8.14204 8.5 8.14204C7.40596 8.14204 6.47133 7.74424 5.69613 6.94865ZM0 15.2329V14.414C0 13.8445 0.150734 13.317 0.4522 12.8316C0.753667 12.3461 1.15657 11.973 1.6609 11.712C2.78101 11.1485 3.91104 10.7258 5.05098 10.4439C6.19093 10.162 7.3406 10.0211 8.5 10.0211C9.6594 10.0211 10.8091 10.162 11.949 10.4439C13.089 10.7258 14.219 11.1485 15.3391 11.712C15.8434 11.973 16.2463 12.3461 16.5478 12.8316C16.8493 13.317 17 13.8445 17 14.414V15.2329C17 15.7233 16.8326 16.1405 16.4977 16.4844C16.1628 16.8281 15.7563 17 15.2782 17H1.72182C1.24374 17 0.83725 16.8281 0.50235 16.4844C0.16745 16.1405 0 15.7233 0 15.2329Z' fill='white'/%3E%3C/svg%3E%0A";
    --icon-login: "data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.69613 6.94865C4.92093 6.15325 4.53333 5.19404 4.53333 4.07102C4.53333 2.94819 4.92093 1.98898 5.69613 1.19339C6.47133 0.397796 7.40596 0 8.5 0C9.59404 0 10.5287 0.397796 11.3039 1.19339C12.0791 1.98898 12.4667 2.94819 12.4667 4.07102C12.4667 5.19404 12.0791 6.15325 11.3039 6.94865C10.5287 7.74424 9.59404 8.14204 8.5 8.14204C7.40596 8.14204 6.47133 7.74424 5.69613 6.94865ZM0 15.2329V14.414C0 13.8445 0.150734 13.317 0.4522 12.8316C0.753667 12.3461 1.15657 11.973 1.6609 11.712C2.78101 11.1485 3.91104 10.7258 5.05098 10.4439C6.19093 10.162 7.3406 10.0211 8.5 10.0211C9.6594 10.0211 10.8091 10.162 11.949 10.4439C13.089 10.7258 14.219 11.1485 15.3391 11.712C15.8434 11.973 16.2463 12.3461 16.5478 12.8316C16.8493 13.317 17 13.8445 17 14.414V15.2329C17 15.7233 16.8326 16.1405 16.4977 16.4844C16.1628 16.8281 15.7563 17 15.2782 17H1.72182C1.24374 17 0.83725 16.8281 0.50235 16.4844C0.16745 16.1405 0 15.7233 0 15.2329Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A";
    --icon-arrow-w: "data:image/svg+xml,%3Csvg width='22' height='40' viewBox='0 0 22 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.9525 19.9914L0.645127 3.68405C0.21504 3.25396 0.00541146 2.74757 0.0162357 2.16486C0.0274204 1.58179 0.248055 1.07522 0.678141 0.645135C1.10859 0.215047 1.61516 1.26797e-06 2.19787 1.34269e-06C2.78058 1.4174e-06 3.28716 0.215047 3.7176 0.645136L20.3242 17.2188C20.7157 17.6102 21.0058 18.0488 21.1945 18.5345C21.3832 19.0201 21.4776 19.5058 21.4776 19.9914C21.4776 20.4771 21.3832 20.9627 21.1945 21.4484C21.0058 21.934 20.7157 22.3726 20.3242 22.764L3.7176 39.3712C3.28715 39.8013 2.77499 40.0108 2.18109 39.9996C1.5872 39.9884 1.07521 39.7678 0.645124 39.3377C0.215038 38.9076 -3.71939e-06 38.401 -3.68463e-06 37.8179C-3.6499e-06 37.2352 0.215038 36.7288 0.645125 36.2987L16.9525 19.9914Z' fill='white'/%3E%3C/svg%3E%0A";
    --icon-arrow: "data:image/svg+xml,%3Csvg width='22' height='40' viewBox='0 0 22 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.9525 19.9914L0.645127 3.68405C0.21504 3.25396 0.00541146 2.74757 0.0162357 2.16486C0.0274204 1.58179 0.248055 1.07522 0.678141 0.645135C1.10859 0.215047 1.61516 1.26797e-06 2.19787 1.34269e-06C2.78058 1.4174e-06 3.28716 0.215047 3.7176 0.645136L20.3242 17.2188C20.7157 17.6102 21.0058 18.0488 21.1945 18.5345C21.3832 19.0201 21.4776 19.5058 21.4776 19.9914C21.4776 20.4771 21.3832 20.9627 21.1945 21.4484C21.0058 21.934 20.7157 22.3726 20.3242 22.764L3.7176 39.3712C3.28715 39.8013 2.77499 40.0108 2.18109 39.9996C1.5872 39.9884 1.07521 39.7678 0.645124 39.3377C0.215038 38.9076 -3.71939e-06 38.401 -3.68463e-06 37.8179C-3.6499e-06 37.2352 0.215038 36.7288 0.645125 36.2987L16.9525 19.9914Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A";
    --icon-arrow-main: "data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.99742 1.26414L1.10521 5.81978C0.976189 5.93993 0.82427 5.99849 0.649457 5.99546C0.474537 5.99234 0.322565 5.9307 0.193539 5.81055C0.0645137 5.6903 -5.31393e-07 5.54879 -5.24278e-07 5.386C-5.17162e-07 5.22321 0.0645138 5.0817 0.193539 4.96145L5.16563 0.322195C5.28307 0.212831 5.41464 0.131791 5.56033 0.0790747C5.70603 0.0263582 5.85173 0 5.99742 0C6.14312 0 6.28881 0.0263582 6.43451 0.0790747C6.5802 0.131791 6.71177 0.212831 6.82921 0.322195L11.8114 4.96145C11.9404 5.0817 12.0032 5.22478 11.9999 5.39069C11.9965 5.5566 11.9303 5.69963 11.8013 5.81978C11.6723 5.93993 11.5203 6 11.3454 6C11.1706 6 11.0186 5.93993 10.8896 5.81978L5.99742 1.26414Z' fill='%23432F2E'/%3E%3C/svg%3E%0A";
    --icon-stop: "data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.82609 6C4.6127 6 4.42891 5.93181 4.27474 5.79542C4.12057 5.65904 4.04348 5.49646 4.04348 5.30769V0.692308C4.04348 0.503538 4.12057 0.340961 4.27474 0.204577C4.42891 0.0681921 4.6127 0 4.82609 0H5.21739C5.43078 0 5.61457 0.0681921 5.76874 0.204577C5.92291 0.340961 6 0.503538 6 0.692308V5.30769C6 5.49646 5.92291 5.65904 5.76874 5.79542C5.61457 5.93181 5.43078 6 5.21739 6H4.82609ZM0.782609 6C0.569217 6 0.385435 5.93181 0.231261 5.79542C0.0770871 5.65904 0 5.49646 0 5.30769V0.692308C0 0.503538 0.0770871 0.340961 0.231261 0.204577C0.385435 0.0681921 0.569217 0 0.782609 0H1.17391C1.3873 0 1.57109 0.0681921 1.72526 0.204577C1.87943 0.340961 1.95652 0.503538 1.95652 0.692308V5.30769C1.95652 5.49646 1.87943 5.65904 1.72526 5.79542C1.57109 5.93181 1.3873 6 1.17391 6H0.782609Z' fill='white'/%3E%3C/svg%3E%0A";
    --icon-play: "data:image/svg+xml,%3Csvg width='5' height='6' viewBox='0 0 5 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.69896 2.57171C4.776 2.62425 4.83373 2.68717 4.87215 2.76047C4.91067 2.83386 4.92993 2.91371 4.92993 3C4.92993 3.08629 4.91067 3.16614 4.87215 3.23953C4.83373 3.31283 4.776 3.37575 4.69896 3.42829L0.774499 5.92665C0.731399 5.95115 0.686803 5.96947 0.640711 5.98163C0.594712 5.99388 0.550163 6 0.507062 6C0.371778 6 0.253463 5.95255 0.152116 5.85766C0.0506766 5.76267 -4.26347e-05 5.64113 -4.2622e-05 5.49303L-4.21922e-05 0.506965C-4.21794e-05 0.358873 0.0506771 0.237332 0.152117 0.142343C0.253463 0.0474482 0.371779 1.24819e-07 0.507063 1.36814e-07C0.550163 1.40635e-07 0.594713 0.00612454 0.640711 0.0183721C0.686803 0.0305262 0.731399 0.0488506 0.774499 0.0733457L4.69896 2.57171Z' fill='white'/%3E%3C/svg%3E%0A";
    --icon-more: "data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.714 24.6827C11.5027 24.4714 11.3971 24.2096 11.3971 23.8971V13.6029H1.10294C0.790441 13.6029 0.528554 13.4972 0.31728 13.2857C0.10576 13.0741 0 12.8121 0 12.4996C0 12.1869 0.10576 11.925 0.31728 11.714C0.528554 11.5027 0.790441 11.3971 1.10294 11.3971H11.3971V1.10294C11.3971 0.790441 11.5028 0.528554 11.7143 0.31728C11.9259 0.10576 12.1879 0 12.5004 0C12.8131 0 13.075 0.10576 13.286 0.31728C13.4973 0.528554 13.6029 0.790441 13.6029 1.10294V11.3971H23.8971C24.2096 11.3971 24.4714 11.5028 24.6827 11.7143C24.8942 11.9259 25 12.1879 25 12.5004C25 12.8131 24.8942 13.075 24.6827 13.286C24.4714 13.4973 24.2096 13.6029 23.8971 13.6029H13.6029V23.8971C13.6029 24.2096 13.4972 24.4714 13.2857 24.6827C13.0741 24.8942 12.8121 25 12.4996 25C12.1869 25 11.925 24.8942 11.714 24.6827Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A";
}


@media screen and (max-width:1024px){
        :root{
            --wrapper-margin: 24px;
            --header-height: 70px;
            --font-size-visual: 35px;
            --font-size-tit: 29px;
            --font-size-subTit1: 24px;
            --font-size-subTit2: 22px;
        }
}/*@media*/

@media screen and (max-width:768px){
        :root{
            --font-size-default: 15px;
            --font-size-visual: 25px;
            --font-size-tit: 26px;
            --font-size-subTit1: 22px;
            --font-size-subTit2: 20px;
            --wrapper-margin: 16px;
            --header-height: 56px;
        }
}/*@media*/

::selection{  /* 마우스 드래그했을 떄 나올 스타일 */
    background-color: var(--color-brown-pink);
    color: var(--color-yellow);
}
.footer *::selection{
    background-color: var(--color-white);
    color: var(--color-main);
}