@font-face {
    font-family: 'TMoneyDungunbaram';
    src: url('../fonts/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'TMoneyDungunbaram';
    src: url('../fonts/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'School';
    src: url('../fonts/HakgyoansimAllimjangTTF-R.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'School';
    src: url('../fonts/HakgyoansimAllimjangTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}