/* 
    layout.css
    header, footer의 스타일이 저장됨
*/

.header{
    position: fixed;  /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);
}
.header .wrapper{
    display: flex; /* logo-nav-util 좌우배치 */
    justify-content: space-between; /* 여백에 맞게 반씩 들어감 */
    align-items: center; /* 위아래 가운데 정렬 */
}
.header .logo a{
    display: block;
    width: calc(var(--header-h) * 2.12);
    height: calc(var(--header-h) * 0.44);
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;  /* logo처럼 짤리면 안되는 애들은 contain으로 주면 됨 */
}
.header.fixed,
.header.menu_over{
    background-color: var(--color-white);
    color: var(--font-color-tit);
    border-bottom: 1px solid #ededed;
}
.header.fixed .logo a,
.header.menu_over .logo a{
    background-image: url(../images/common/logo.svg);
}
@media screen and (min-width: 1025px) { /* 1025이상 - pc 버전 */
            .header .gnb ul.depth1{
                display: flex; /* li 좌우배치 */
                text-align: center;
            }
            .header .gnb ul.depth1 > li{
                position: relative;  /* 2차메뉴 정렬의 기준 */
            }
            .header .gnb ul.depth1 > li > a{
                display: block;
                font-size: 20px;
                font-weight: var(--font-weight-bold);
                line-height: var(--header-h); /* 행간을 header의 높이만큼 줘야 위아래로 눌리고, a의 높이도 그만큼이 됨 */
                padding: 0 29px; /* 여백의 반 = 좌우로도 메뉴가 눌려야 하니까 */
            }
                    /* has라는건 2차메뉴가 있는 1차메뉴만을 의미함 */
            .header .gnb ul.depth1 > li:has(ul.depth2) > a > span{
                display: block;
                padding-right: 14px; /* 아이콘이 들어갈 자리 마련 */
                position: relative;  /* after 정렬의 기준 */
            }
            .header .gnb ul.depth1 > li:has(ul.depth2) > a > span::after{
                content: "";
                position: absolute; /* a를 기준으로 정렬 */
                right: 0;
                top: 45px;
                width: 7px;
                height: 12px;
                background-image: var(--icon-arrow-w);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                transform: rotate(90deg);
                transition: transform 0.3s;  /* 아이콘이 천천히 회전함 */
            }
            .header .gnb ul.depth1 > li > ul.depth2{
                display: none;
                position: absolute;  /* 1차메뉴 li를 기준으로 정렬 - 2차메뉴는 무조건 absolute */
                left: 50%;  /* 정렬의 기준이 되는 애의 절반 */
                transform: translateX(-50%); /* 나의 사이즈의 절반 - 좌우의 가운데로 위치시켜야 2차메뉴가 1차메뉴의 가운데로 위치함 */
                top: 82px; /* header로부터 떨어지는 상단여백 */
                border-radius: 10px;
                background-color: var(--color-main);
                padding: 18px 24px;  /* 하단메뉴와 상자로부터의 여백 */
            }
            .header .gnb ul.depth1 > li > ul.depth2 > li > a{
                display: block;
                padding: 5px 0;  /* 하위메뉴 사이 여백 */
                white-space: nowrap;  /* 줄바꿈 금지 */
                color: var(--color-white);
            }
            .header .gnb ul.depth1 > li > ul.depth2 > li > a > span{  /* 2차메뉴 마우스 오버 시 밑줄 효과 */
                position: relative; /* after 정렬의 기준 */
            }
            .header .gnb ul.depth1 > li > ul.depth2 > li > a > span::after{  /* 하위메뉴에 오버 시 밑줄 생성 */
                content: "";
                position: absolute; /* span을 기준으로 정렬 */
                left: 0;
                bottom: 0;
                width: 0;
                height: 1px;
                background-color: rgba(255, 255, 255, 0.5);
            }
            .header .gnb ul.depth1 > li > ul.depth2 > li > a:hover > span::after{
                width: 100%;
            }
            .header .util{
                display: flex; /* mypage-sitemap_btn 좌우정렬 */
            }
            .header .util .mypage{
                display: block;  /* mypage가 a라서 주는 값 */
                width: 40px;  /* 아이콘이 눌릴 영역 */
                height: 40px;
                background-image: var(--icon-mypage-w);
                background-position: center center;
                background-repeat: no-repeat;
            }
            .header .util .mypage:hover{
                background-image: var(--icon-mypage-Blue);
            }
            .header .util .sitemap_btn{
                position: relative;  /* 3개의 span 정렬의 기준 */
                z-index: 10; /* sitemap이 펼쳐졌을 땐 안보여서 준 값 */
                width: 40px;  /* 아이콘이 눌릴 영역 */
                height: 40px;
            }
            .header .util .sitemap_btn span{  /* 선으로 만든 메뉴 아이콘 */
                position: absolute;  /* sitemap_btn을 기준으로 정렬 */
                left: 9px;  /* 아래 transform 값이 들어갈거라 가운데 정렬은 px로 조절하기(가상의 상자로부터 떨어지는 왼쪽 여백 주면 됨) */
                width: 23px; /* 선의 길이 */
                height: 2px; /* 선의 두께 */
                background-color: var(--color-white);
                border-radius: 2px;
            }
            .header .util .sitemap_btn:hover span{
                background-color: var(--color-sub1);
            }
            .header .util .sitemap_btn span.line1{
                top: 12px; /* line의 top값은 일정한 간격으로 줘야 됨 - 그래야 간격이 유지됨 */
                transition-property: top , transform;
                transition-duration: 0.3s;
            }
            .header .util .sitemap_btn span.line2{
                top: 19px;
                opacity: 1;
                transition: opacity 0.3s;
            }
            .header .util .sitemap_btn span.line3{
                top: 26px;
                transition: top 0.3s, transform 0.3s;
            }

            .header.menu_open .util .sitemap_btn span.line1{
                top: 50%;
                transform: rotate(45deg);
            }
            .header.menu_open .util .sitemap_btn span.line2{
                opacity: 0;
            }
            .header.menu_open .util .sitemap_btn span.line3{
                top: 50%;
                transform: rotate(-45deg);
            }
            .header.menu_open .sitemap{
                transform: translateY(0);
            }
            .header .sitemap{
                position: fixed;
                right: 0;
                top: 0;
                width: 100vw;
                height: 100vh;
                background-color: var(--color-main);
                color: var(--color-white);
                transform: translateY(-110%); /* 위에서 내려올거임 */
                transition: transform 0.3s;
            }
            .header .sitemap .sitemap_wrap{  /* sitemap에서 wrapper 역할 */
                width: var(--wrapper-w);
                margin: var(--header-h) auto 0 auto;  /* 위에선 header의 높이만큼 내려가고, 좌우는 가운데 정렬. padding으로 주게 되면 그마저도 나의 영역이 되어버려서 margin을 주는 거임 */
                height: calc(100vh - var(--header-h));  /* 위아래로 스크롤될 때 header는 건들지 않고 나의 영역 안에서만 스크롤되기 위해 */
                overflow-y: auto; /* 높이값이 필수 */
            }
            .header .sitemap .sitemap_wrap ul.depth1 > li{
                padding: 40px 0 ;  /* 글자만 눌릴거라서 padding을 li한테 줌 */
                display: flex;  /* sitemap에선 position이 필요없음 - 바로 보이는거라 좌우정렬시키면 됨 */
                align-items: center;  /* 1차메뉴,2차메뉴 나란히 가운데 정렬하기 위해서 */
                border-bottom: 1px solid var(--color-w20);
            }
            .header .sitemap .sitemap_wrap ul.depth1 > li > button,
            .header .sitemap .sitemap_wrap ul.depth1 > li > a{
                display: block;
                font-size: 32px;
                font-weight: var(--font-weight-bold);
                width: 184px;  /* 1차메뉴에서부터 2차메뉴 전까지의 영역 */
                cursor: default;
                text-align: left;
            }
            .header .sitemap .sitemap_wrap ul.depth1 > li > ul.depth2{
                display: flex; /* 하위메뉴 좌우정렬 */
                gap: 0 45px;
            }
            .header .sitemap .sitemap_wrap ul.depth1 > li > ul.depth2 > li > a{
                display: block;
                font-size: 20px;
                position: relative; /* after 정렬의 기준 */
            }
            .header .sitemap .sitemap_wrap ul.depth1 > li > ul.depth2 > li > a::after{
                content: "";
                position: absolute; /* a를 기준으로 정렬 */
                left: 50%;
                transform: translateX(-50%);
                bottom: -1px;
                width: 0;
                height: 1px;
                background-color: var(--color-white);
                transition: 0.3s;
            }
            .header .sitemap .sitemap_wrap ul.depth1 > li > ul.depth2 > li > a:hover::after{
                width: 100%;
            }
            .header .sitemap .sitemap_bg{
                display: none;  /* pc에선 안보임 */
            }

            /* 메뉴에 오버했을때 */
            .header.menu_over .gnb ul.depth1 > li.over > a{
                color: var(--color-sub1);
            }
            .header.menu_over .gnb ul.depth1 > li.over:has(ul.depth2) > a > span::after{
                background-image: var(--icon-arrow-sub1);
                transform: rotate(-90deg);
            }
            .header.fixed .gnb ul.depth1 > li:has(ul.depth2) > a > span::after,
            .header.menu_over .gnb ul.depth1 > li:has(ul.depth2) > a > span::after{
                background-image: var(--icon-arrow-tit);
            }
            .header.fixed .util .mypage,
            .header.menu_over .util .mypage{
                background-image: var(--icon-mypage);
            }
            .header.fixed .util .mypage:hover,
            .header.menu_over .util .mypage:hover{
                background-image: var(--icon-mypage-Blue);
            }
            .header.fixed .util .sitemap_btn span,
            .header.menu_over .util .sitemap_btn span{
                background-color: var(--font-color-default);
            }
            .header.fixed .util .sitemap_btn:hover span,
            .header.menu_over .util .sitemap_btn:hover span{
                background-color: var(--color-sub1);
            }
            .header.menu_open .util .sitemap_btn span,
            .header.fixed.menu_open .util .sitemap_btn span{
                background-color: var(--color-white);
            }
            .header.menu_open .util .sitemap_btn:hover span,
            .header.fixed.menu_open .util .sitemap_btn:hover span{
                background-color: var(--color-white);
            }
}/*@media*/
@media screen and (max-width:1500px) and (min-width: 1025px){ /* 1500~1025 사이,, wrapper가 풀리는 지점 */
            .header .sitemap .sitemap_wrap{  /* sitemap에서 wrapper 역할 */
                width: auto;
                margin: var(--header-h) var(--wrapper-margin) 0 var(--wrapper-margin);  /* 위에선 header의 높이만큼 내려가고, 좌우는 가운데 정렬. padding으로 주게 되면 그마저도 나의 영역이 되어버려서 margin을 주는 거임 */
            }
}/*@media*/
@media screen and (min-width: 1025px) and (max-width: 1280px){ /* 1280(이하) ~1025(이상) 사이 */
            .header .gnb ul.depth1 > li > a{
                padding: 0 15px;  /* 너무 넓어서 해당 브라우저 사이즈에선 여백을 줄임 */
            }
}/*@media*/
@media screen and (max-width:1024px){ /* 1024 이하 - mobile 버전 */
            .header .wrapper{
                margin-right: 0;
            }
            .header .gnb{
                display: none;
            }
            .header .util .mypage{
                display: none;
            }
            .header .util .sitemap_btn{
                position: relative;  /* 3개의 span 정렬의 기준 */
                z-index: 10; /* sitemap에선 안보여서 준 값 */
                width: var(--header-h);  /* 아이콘이 눌릴 영역 */
                height: var(--header-h);
            }
            .header .util .sitemap_btn span{  /* 선으로 만든 메뉴 아이콘 */
                position: absolute;  /* sitemap_btn을 기준으로 정렬 */
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);  /* 위아래,좌우 가운데 정렬 */
                width: 23px;
                height: 2px;
                background-color: var(--color-white);
                border-radius: 2px;
                transition: 0.3s;  /* 선들이 모이는 효과 부드럽게 처리 */
            }
            .header.fixed .util .sitemap_btn span{
                background-color: var(--font-color-default);
            }            
            .header.menu_open .util .sitemap_btn span,
            .header.fixed.menu_open .util .sitemap_btn span{
                background-color: var(--color-white);
            }
            .header .util .sitemap_btn span.line1{
                top: calc(50% - 7px);  /* - 로 해야 위로 올라감 */
            }
            .header .util .sitemap_btn span.line2{
                opacity: 1;  /* 얜 top값 유지 - 가운데 */
            }
            .header .util .sitemap_btn span.line3{
                top: calc(50% + 7px);  /* + 로 해야 아래로 내려감 */
            }
            /* =========================================
            메뉴가 열렸을 때 (X 모양으로 변환) 
            ========================================= */

            /* 1. 첫 번째 줄: 가운데로 내려오면서 오른쪽으로 45도 회전 */
            .header.menu_open .util .sitemap_btn span.line1 {
                top: 50%; 
                transform: translate(-50%, -50%) rotate(45deg); 
            }
            /* 2. 두 번째 줄: 투명하게 처리하여 숨김 */
            .header.menu_open .util .sitemap_btn span.line2 {
                opacity: 0; 
            }
            /* 3. 세 번째 줄: 가운데로 올라가면서 왼쪽으로 45도 회전 */
            .header.menu_open .util .sitemap_btn span.line3 {
                top: 50%; 
                transform: translate(-50%, -50%) rotate(-45deg); 
            }
            .header .sitemap{
                position: fixed;
                right: 0;  /* 오른쪽에서 메뉴가 나올거라 오른쪽 정렬 */
                top: 0;
                width: 100vw;
                height: 100vh;
                transform: translateX(110%); /* 얘를 안치우면 화면에서 다른 애들이 안눌리고 걸리적거림 */
            }
            .header.menu_open .sitemap{
                transform: translateX(0);
            }
            .header .sitemap .sitemap_wrap{
                position: fixed;
                right: 0;
                top: 0;
                width: 80%;  /* 화면에 꽉 차지 않게 제한 */
                max-width: 500px;  /* 80%에서도 최대넓이가 500px을 넘기지 않도록 제한함 */
                height: 100vh;
                background-color: var(--color-main);
                transform: translateX(110%);
                transition: transform 0.3s;
            }
            .header.menu_open .sitemap .sitemap_wrap{
                transform: translateX(0);
            }
            .header .sitemap .sitemap_wrap ul.depth1{
                margin: var(--header-h) 0 0 0;  /* header의 높이만큼 떨어져서 위치하고 */
                padding: 27px var(--wrapper-margin) 0 var(--wrapper-margin);  /* 메뉴의 글자가 header 하단으로부터 떨어지는 여백 */
                height: calc(100vh - var(--header-h));
                overflow-y: auto;
                background-color: var(--color-white);
                color: var(--font-color-tit);
            }
            .header .sitemap .sitemap_wrap ul.depth1 > li{
                border-bottom: 1px solid #ededed;
            }
            .header .sitemap .sitemap_wrap ul.depth1 > li > button,
            .header .sitemap .sitemap_wrap ul.depth1 > li > a{
                display: block;
                font-size: 22px;
                font-weight: var(--font-weight-bold);
                color: var(--font-color-tit);
                padding: 13px var(--header-h) 13px 0; 
                width: 100%;  /* 100%를 줘야 button 태그가 영역에 꽉 차게 들어가짐(a는 안줘도 꽉 차게 들어감) */
                text-align: left;
                position: relative; /* after 정렬의 기준 */
            }
            .header .sitemap .sitemap_wrap ul.depth1 > li:has(ul.depth2) > button::after{
                content: "";
                position: absolute; /* button을 기준으로 정렬 */
                right: 7px;
                top: 20px;
                width: 7px;
                height: 12px;
                background-image: var(--icon-arrow-tit);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                transform: rotate(90deg);
            /* bg-size를 지정할 경우엔, width와 height값을 아이콘 사이즈에 맞게 줘야 함 -> 얜 아이콘만 잡혀서 너무 좁아서 별로
               그리고 transform: rotate를 쓸 경우엔 아이콘이 돌아가면서 넓이랑 높이값도 같이 돌아가서 rotate를 써야 할 경우 아이콘 svg 다시 가져오는게 나음 */
                transition: transform 0.3s;
            }
            .header .sitemap .sitemap_wrap ul.depth1 > li.open:has(ul.depth2) > button::after{
                transform: rotate(270deg);
            }
            .header .sitemap .sitemap_wrap ul.depth1 > li > ul.depth2{
                display: none;
                background-color: #f4f4f4;
                color: var(--font-color-default);
                padding: 10px 0 10px 20px;
            }
            .header .sitemap .sitemap_wrap ul.depth1 > li > ul.depth2 > li > a{
                display: block;
                padding: 4px 0;
            }
            .header .sitemap .sitemap_wrap ul.depth1 > li > ul.depth2 > li > a > span{
                position: relative; /* after 정렬의 기준 */
            }
            .header .sitemap .sitemap_wrap ul.depth1 > li > ul.depth2 > li > a > span::after{
                content: "";
                position: absolute; /* span을 기준으로 정렬 */
                left: 0;
                bottom: -1px;
                width: 0;
                height: 1px;
                background-color: var(--color-main);
            }
            .header .sitemap .sitemap_wrap ul.depth1 > li > ul.depth2 > li > a:hover > span::after{
                width: 100%;
            }
            .header .sitemap .sitemap_bg{
                position: fixed;
                left: 0;
                top: 0;
                z-index: -1;
                width: 100vw;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0);
                backdrop-filter: blur(0);
                transition-property: background-color, backdrop-filter;
                transform: translateX(110%);
                transition-delay: 0.3s;
            }
            .header.menu_open .sitemap .sitemap_bg{
                background-color: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(5px);
                transform: translateX(0);
            }
}/*@media*/


.container{
    position: relative;
    z-index: 10;
    background-color: var(--color-white);
    margin-bottom: 300px;
/* container 안의 내부 요소가 준 위아래 margin을 적용하기 위해서 border-투명으로 애들을 감싸줌*/
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}



.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--font-color-tit);
    color: var(--color-w80);
    padding: clamp(67px, 7.8vw, 78px) 0;
}
.footer .wrapper{
    position: relative; /* top 정렬의 기준 */
}
.footer .top{
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-sub1);
    background-image: var(--icon-arrow-w);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px;
    transform: rotate(-90deg);
}
.footer .top span{
    display: none;
}
.footer .f_nav ul{
    display: flex; /* li 좌우배치 */
    gap: 2px 41px;
    flex-wrap: wrap; /* 모바일을 위해 미리 줌 어차피 pc에선 적용 안됨 */
}
.footer .f_nav ul li{
    position: relative; /* after 정렬의 기준 */
}
.footer .f_nav ul li::after{
    content: "";
    position: absolute; /* li를 기준으로 정렬 */
    right: -20.5px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 14px;
    background-color: var(--color-w20);
}
.footer .f_nav ul li:last-child::after{
    display: none;
}
.footer .f_info{
    margin: 34px 0;
}
.footer .f_info span{
    display: inline-block;
    margin-right: 28px; /* br 때문에 display:flex가 안돼서 오른쪽 여백 주는거임  */
}
@media screen and (max-width:768px){
        .footer .top{
            right: calc(50% + 39px);
            top: -55px;
            width: 78px;
            height: 40px;
            border-radius: 25px;
            background-image: none;
            background-size: 0;
            transform: rotate(0);
        }
        .footer .top span{
            display: block;
            position: relative; /* before 정렬의 기준 */
        }
        .footer .top span::before{
            content: "";
            position: absolute; /* span 기준으로 정렬 */
            left: calc(50% - 3.5px);
        /* 만약에 left값을 안주려면 0으로 놓고, width를 100%로 주고, bg-size를 넓이값 주면 됨 */
            top: -7px;
            width: 7px;
            height: 13px;
            background-image: var(--icon-arrow-w);
            background-repeat: no-repeat;
            background-position: center center;
            transform: rotate(-90deg);
        }
}