/* 
    layout.css
    header, footer의 스타일이 저장됨
*/

.header{
    position: fixed;  /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: var(--header-h);
    z-index: 100;
    color: var(--color-white);
}
.header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo a{
    display: block;
    width: 212px;
    height: 44px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
@media screen and (min-width: 1025px) { /* 1025이상 - pc 버전 */
            .header .gnb ul.depth1{
                display: flex;
                text-align: center;
            }
            .header .gnb ul.depth1 > li{
                position: relative;  /* 2차메뉴 정렬의 기준 */
            }
            .header .gnb ul.depth1 > li > a{
                display: block;
                font-size: 20px;
                font-weight: var(--font-weight-bold);
                line-height: var(--header-h);
                padding: 0 29px;
            }
            .header .gnb ul.depth1 > li:has(ul.depth2) > a{
                /* 2차메뉴가 있는 1차메뉴만 */
                padding-right: 14px;
                position: relative;  /* after 정렬의 기준 */
            }
            .header .gnb ul.depth1 > li:has(ul.depth2) > a::after{
                content: "";
                position: absolute; /* a를 기준으로 정렬 */
                right: 0;
                top: 46px;
                width: 7px;
                height: 12px;
                background-image: var(--icon-arrow-w);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                transform: rotate(90deg);
            }
            .header .gnb ul.depth1 > li > ul.depth2{
                display: none;
                position: absolute;  /* 1차메뉴 li를 기준으로 정렬 */
                left: 50%;  /* 정렬의 기준이 되는 애의 절반 */
                transform: translateX(-50%); /* 나의 사이즈의 절반 - 좌우의 가운데로 위치시켜야 2차메뉴가 1차메뉴의 가운데로 위치함 */
                top: 82px;
                border-radius: 10px;
                background-color: var(--color-main);
                padding: 18px 24px;
            }
            .header .gnb ul.depth1 > li > ul.depth2 > li > a{
                display: block;
                padding: 5px 0;
                white-space: nowrap;  /* 줄바꿈 금지 */
            }
            .header .gnb ul.depth1 > li > ul.depth2 > li > a > span{
                position: relative; /* after 정렬의 기준 */
            }
            .header .gnb ul.depth1 > li > ul.depth2 > li > a > span::after{
                content: "";
                position: absolute; /* a를 기준으로 정렬 */
                left: 0;
                bottom: 0;
                width: 0;
                height: 1px;
                background-color: rgba(255, 255, 255, 0.5);
            }
            .header .gnb ul.depth1 > li > ul.depth2 > li > a:hover > span::after{
                width: 100%;
            }
            .header .sitemap{
                display: none;
            }
}/*@media*/