/* 
    메인페이지에서만 호출
    메인에 필요한 다른 css를 부름
*/
@import url(default.css);
@import url(fonts.css);
@import url(layout.css);
@import url(common.css);


.visual{
    overflow-x: hidden;  /* slick때문에 생기는 가로 스크롤바 허용 안함 */
    position: relative;  /* ctrl_wrap 정렬의 기준 */
}
.visual .popup_wrap .popup{
    margin: 0;
}
.visual .popup_wrap .popup .item{
    height: clamp(500px, 65vw, 650px);
    background: url(../images/main/visual1.jpg) no-repeat center center / cover ;
    color: var(--color-white);
    /* wrapper가 통째로 아래로 내려감 */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.visual .popup_wrap .popup .item.bg2{
    background-image: url(../images/main/visual2.jpg);
}
.visual .popup_wrap .popup .item.bg3{
    background-image: url(../images/main/visual3.jpg);
}
.visual .popup_wrap .popup .item p{
    margin: 0 0 clamp(95px, 14vw, 141px) 0;  /* 버튼 신경 쓰지 말고 여백 계산 */
    font-size: clamp(30px, 6vw, 60px);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
}
        /********************* 브라우저에 가서 가져온 css *************************/
        .visual .popup_wrap .popup .slick-dots{
            position: absolute;  /* popup을 기준으로 정렬 - absolute는 left,right가 있어야 함 */
            left: calc(50% - (var(--wrapper-w) / 2 ));
        /* 50%를 먼저 주고 브라우저 가서 위치 확인 후 wrapper의 넓이의 반을 빼줌
           이 값은 ctrl_wrap의 left 위치를 잡아주는데도 쓰임 */
            bottom: 48px;
            width: auto;
            display: flex;
            gap: 0 6px;
        }
        .visual .popup_wrap .popup .slick-dots li{
            width: auto;
            height: auto;
            margin: 0;
        }
        .visual .popup_wrap .popup .slick-dots li button{
            width: 15px;
            height: 7px;
            padding: 0;
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.6);
        }
        .visual .popup_wrap .popup .slick-dots li.slick-active button{
            width: 78px;
            background-color: var(--color-white);
        }
        .visual .popup_wrap .popup .slick-dots li button::before{
            display: none;
        }
.visual .ctrl_wrap{
    position: absolute;  /* visual을 기준으로 정렬 */
    left: calc(50% - (var(--wrapper-w) / 2) + 132px);
    /* slick-dots의 left 값에서 +132px을 해준거임
       132px --> slick-dots에서부터 버튼까지의 거리값 */
    bottom: 36px;
}
.visual .ctrl_wrap button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_wrap button.stop{
    background-image: var(--icon-stop);
}
.visual .ctrl_wrap button.play{
    background-image: var(--icon-play);
    display: none;
}
@media screen and (max-width:1500px){
            .visual .popup_wrap .popup .slick-dots{
                left: var(--wrapper-margin);
            }
            .visual .ctrl_wrap{
                left: calc(var(--wrapper-margin) + 132px);
                /* slick-dots의 left값에서 +132px --> slick-dots에서부터 버튼까지의 거리값 */
            }
}/*@media*/
@media screen and (max-width:768px){
            .visual .popup_wrap .popup .item p br{
                display: none;
            }
}/*@media*/



.find{
    background-color: var(--color-main);
    color: var(--color-white);
    padding: clamp(106px, 15vw, 156px) 0 clamp(72px, 12vw, 120px) 0;
    overflow-x: hidden;  /* 모바일 사이즈가 줄어들 때 가로 스크롤바 생기지 않게 주는 값 */
}
.find h2{
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    text-align: center;
}
.find .tab_list{
    margin: clamp(38px, 5.4vw, 54px) 0 clamp(18px, 3.6vw, 36px) 0;
}
.find .tab_list ul{
    display: flex; /* li 좌우배치 */
    gap: 0 12px;
    justify-content: center;  /* 화면의 정가운데 */
}
.find .tab_list ul li button{
    font-size: var(--font-size-subtit);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    color: var(--color-w80);  /* 선택되지 않은 애를 기준으로 줌 */
    padding: 0.417em 1.75em;  /* padding은 안줬다가 생기면 이상하니까 미리 준거임 */
    border-radius: 50px;
}
.find .tab_list ul li.animal.active button{
    background-color: var(--color-sub2);
    color: var(--color-white);
}
.find .tab_list ul li.people.active button{
    background-color: var(--color-sub1);
    color: var(--color-white);
}
.find .tab_conts .tab_item{
    display: none;
}
.find .tab_conts .tab_item.active{
    display: block;
}
.find .tab_conts .tab_item .tab_conts_list_wrap{
    width: calc(100% + var(--gap));
/* slick은 각각의 list 사이사이 여백을 js에서 못줌
   css에서 추가해야 하는데, 항목이 4개면 여백도 4개가 생김
   여백이 3개가 생겨야 좌우가 slide로 딱 끝나는데
   그래서 list를 전체적으로 감싸는 대빵한테 요소의 넓이를 100% + 여백 1개 값을 더 해줌  */
}
.find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item{
    margin: 0 var(--gap) 0 0;  /* list 사이의 여백을 오른쪽 margin으로 줌 */
    width: 240px;
/* width를 모바일 사이즈로 주는 이유는, js에서 769px까지 slide를 지정한 개수만큼 넓이를 자유롭게 해서 보여주다가
   768px(모바일)에서부턴 js에서 개수를 지정하지 않고 넓이를 자유롭게 설정해서 넓이를 지정해줘야 함 */
} 
.find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item .photo{
    overflow: hidden;
    height: 446px;
    border-radius: 20px;
}
.find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item:hover .photo img{
    transform: scale3d(1.125, 1.125, 1);
}
.find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item ul{  /* 글자!! */
    margin: 16px 0 0 10px;
}
.find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item ul li{
    display: flex;  /* strong-span 좌우 정렬 */
    line-height: 1.8;  /* padding으로 줘도 됨 */
}
.find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item ul li strong{
    color: var(--color-w80);
    width: 4em;  /* (글자 하나가 1em) 대충 넓이 잡아보니까 4em쯤 나와서 준거임 */
}
.find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item ul li span{
    /* 1줄 제한 + 잘린 글자 끝에 ... 추가 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 4em);  /* strong의 넓이값을 빼주면 됨 */
}


.find .tab_conts .tab_item .slick-prev {
    left: -18.5px;
/* 기존에 있던 css에서 left값을 -25px 줘서 밖에 나가있었음
   --> 0을 줘서 list 안으로 들여놓고
   --> 원의 넓이의 반만 list에 걸쳐있는거라서 넓이의 반띵 값을 빼서 반만 걸치게 함 */
    transform: rotate(180deg) !important;
}
.find .tab_conts .tab_item .slick-next {
    right: calc(var(--gap) - 18.5px);
/* 기존에 있던 css에서 right값을 -25px 줘서 밖에 나가있었음
   --> 0을 줘서 list 안으로 들여놓고, (var(--gap)이 24px이라서 일단 그거 줘서 0으로 만들고
   --> 원의 넓이의 반만 list에 걸쳐있는거라서 넓이의 반띵 값을 빼서 반만 걸치게 함 */
}
.find .tab_conts .tab_item .slick-prev,
.find .tab_conts .tab_item .slick-next {
    top: 40%;  /* 기존 css에서 50%를 줘서 정중앙보다 살짝 아래에 위치해 있어서 그보다 조금 덜 주는 값인 40%를 주게 됨 */
    width: 37px; /* 원의 넓이,높이 */
    height: 37px;
    border-radius: 50%;
    background-color: var(--color-sub2);
    background-image: var(--icon-arrow-w);
    background-repeat: no-repeat;
    background-position: center center;
    transform: translate(0);
    z-index: 10; /* 사진 아래 깔려서 준 값 */
}
.find .tab_conts .tab_item.people .slick-prev,
.find .tab_conts .tab_item.people .slick-next{
    background-color: var(--color-sub1);
}
.find .tab_conts .tab_item .slick-prev::before,
.find .tab_conts .tab_item .slick-next::before{
    display: none; /* 기존에 있던 css에서 준 값인데, 화살표 아이콘이랑 겹쳐서 사라지게 함 */
}
@media screen and (max-width:768px){
            .find .tab_list ul{
                gap: 0 6px;
            }
            .find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item .photo{
                height: 313px;
                border-radius: 10px;
            }
            .find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item ul{  /* 글자 */
                margin: 9px 0 0 0;
            }
            .find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item ul li strong{
                display: none;
            }
            .find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item ul li span{
                width: 100%;  /* strong 없이 혼자 꽉 채우면 됨 */
            }
            .find .tab_conts .tab_item .slick-prev, .slick-next {
                display: none !important;
            }
}/*@media*/



.message{
    height: 300vh;
}
.message .inner{
    height: calc(100vh - var(--header-h));
    /* inner안에 있는 p를 정가운데 위치시키기 위해 주는 값 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
/* message 기준으로 정렬 -> message가 사이즈가 훨씬 크고 그 안에 들어간 inner는 sticky로 가만히 둠 
   -> 그럼 message가 스크롤되는 동안 inner는 가만히 있는거임 */
    top: var(--header-h); /* 상단에 header 빼고 들어가기 위함 */
}
.message p{
    text-align: center;
    font-size: min(6vw, 60px);  /* 최대는 있지만, 최소는 없어야 할 때 주는 값 */
    font-weight: 700;
    color: #ccc;
    white-space: nowrap; /* 무조건 1줄 */
    display: flex;
    flex-direction: column;
    align-items: center;  /* strong-span 겹쳐서 하나로 보이게 됨 */
    position: relative; /* img 정렬의 기준 */
}
.message p strong{
    position: relative; /* span 정렬의 기준 */
}
.message p strong span{
    position: absolute;  /* strong을 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    color: var(--color-main);
    overflow: hidden;
}
.message p img{
    position: absolute; /* p를 기준으로 정렬 */
}
/* 위치값은 반응형을 위해 px 이 아닌 % 로 주기 */
.message img.sun{
    right: -30%;
    top: -50%;
    width: 28%;  /* p태그를 기준으로 정렬했기 때문에 p의 넓이에서 몇 % 가 됨 */
    animation: up_dowv 3s linear infinite;
}
@keyframes up_dowv {
    0% {transform: translateY(0);}
    50% {transform: translateY(-10%);}
    100% {transform: translateY(0);}
}
@keyframes rotate {
    0% {transform: rotate(5deg);}
    50% {transform: rotate(-5deg);}
    100% {transform: rotate(5deg);}
}
@keyframes left-right {
    0% {transform: translateX(0);}
    50% {transform: translateX(-10%);}
    100% {transform: translateX(0);}
}
.message img.cat{
    right: -40%;
    bottom: -26%;
    width: 30%;
    animation: rotate 3s linear infinite ;
}
.message img.fish{
    right: -12%;
    bottom: -33%;
    width: 10%;
    animation: up_dowv 3s linear infinite;
}
.message img.dog{
    left: -26%;
    bottom: -59%;
    width: 25%;
    animation: left-right 3s linear infinite;
}
.message img.flower{
    left: -15%;
    top: -35%;
    width: 10%;
    animation: rotate 3s linear infinite ;
}



.adopt{
    background-color: var(--color-main);
    color: var(--color-white);
    padding: clamp(106px, 16vw, 162px) 0 clamp(159px, 30vw, 300px) 0;
    text-align: center;
    position: relative; /* rolling_wrap 정렬의 기준 */ 
}
.adopt h2{
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    margin: 0 0 clamp(29px, 4.8vw, 48px) 0;
}
.adopt .list_item{
    width: clamp(240px, 34vw, 342px);
    /* margin: 0 calc(var(--gap) / 2);   */  /* 리스트를 센터중심으로 보일거라서 오른쪽으로 여백을 다 주면 리스트가 오른쪽으로 치우침 그래서 좌우에 반씩 주는 거임 */
    margin: 0 -5px;  /* 사이즈 줄인거 때문에 좌우여백이 너무 늘어나서 여백을 마이너스로 줄인거임 */
    transform: scale3d(0.9, 0.9, 1);
    opacity: 0.8;
    transition: transform 0.3s, opacity 0.3s;
}
.adopt .list_item.slick-center{
    transform: scale3d(1, 1, 1);
    opacity: 1;
}
.adopt .list_item a{
/* strong의 margin값을 마이너스로 줘서 상자를 이미지 위에 올려주려면 strong이 display:block이여야 함 
   근데 그러면 strong의 넓이가 넓어져서 inline-block을 줬는데, 그러면 또 margin 값이 안들어가서
   strong이 display:block 값을 가지고, a 한테 아래 3가지 값을 줘서 해결함 */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.adopt .list_item a .photo{
    overflow: hidden;
    border-radius: 50%;
 /* 이미지를 정사각형으로 저장하고, 넓이값만 주면 높이가 비율에 맞게 들어감 
    높이 입력하면 border-radius 때문에 원이 빠그라짐*/
}
.adopt .list_item a .photo img{
    width: 100%;
}
.adopt .list_item a strong{
    position: relative; /* z-index를 주기 위해 준 값 */
    z-index: 1; /* img에 깔려서 준 값 */
    display: block;
    background-color: var(--color-sub2);
    padding: 0 19px;
    border-radius: 50px;
    margin: -15px 0 11px 0 ; /* margin은 마이너스 값이 가능함(조금일 경우에만) */
}
.adopt .list_item a strong.tmp{
    background-color: var(--color-sub1);
}
.adopt .list_item a span{
    display: block;  /* 그래야 한줄씩 들어감?? */
}
.adopt .rolling_wrap{
    position: absolute;  /* adopt를 기준으로 정렬 */
    left: 0;
    bottom: clamp(18px, 2.2vw, 22px);
    font-size: clamp(50px, 10vw, 100px);
    font-weight: var(--font-weight-bold);
    color: rgba(255, 255, 255, 0.2);
    white-space: nowrap;  /* 무조건 1줄로 보여야하기 때문에 */
    height: 1.5em; /* 행간만큼 */
    width: 100%;
    overflow-x: hidden;  /* 브라우저에 생기는 스크롤 때문에 줘야 하는 값인데, 얘를 주려면 넓이값이 있어야 함 */
}
.adopt .rolling_wrap .rolling{
    /* 글자의 길이대로 넓이를 인식할 요소가 필요해서 absolute를 줌 -- 일반글자는 내용이 길면 줄바꿈이 됨
       white-space: nowrap;으로 줄바꿈 금지를 줌 --> 근데 가로 스크롤바가 생김 --> 그래서 overflow-x: hidden;로 가로스크롤바 막으면
       글자의 넓이가 브라우저의 넓이만큼만 인식함 ---> absolute를 주고 넓이를 안주면 글자가 존재하는만큼 넓이로 인식 */
    position: absolute; /* rolling_wrap을 기준으로 정렬 */
    left: 0;
    bottom: 0;
    /* transform: translateX(-50%); --나를 기준으로 %를 계산함
    html에서 글자를 넣을때, 여백없이 써줘야 -50%가 적용됨. 나의 길이를 기준으로 %를 계산함 --> 글자가 움직여서 처음과 동일한 위치가 되는 값 */
    animation: adopt_roll 20s linear infinite;
}
@keyframes adopt_roll {
    0% {transform: translateX(0);}
    100% {transform: translateX(-50%);}
}
@media screen and (max-width: 768px){  /* 768이하 */
            .adopt .list_item{
                margin: 0 calc(var(--gap) / 2); /* 리스트를 센터중심으로 보일거라서 오른쪽으로 여백을 주면 리스트가 오른쪽으로 치우침 그래서 좌우에 반씩 주는 거임 */
                transform: scale3d(0);
                opacity: 1;
                transition: 0;
            }
            .adopt .list_item a .photo{
                border-radius: 10px;
            }
            .adopt .list_item a strong{
                margin: -12px 0 14px 0;
            }
}/*@media*/



.review{
    margin: clamp(110px, 16vw, 167px) 0 clamp(95px, 12vw, 120px) 0;
}
.review h2{
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    color: var(--font-color-tit);
    margin: 0 0 clamp(20px, 5vw, 50px) 0;
    padding-bottom: 7px;  /* border랑 글자의 여백 */
    border-bottom: 1px solid #ededed;
}
.review .list_item{
    
}

@media screen and (max-width: 768px){  /* 768이하 */
            .review h2{
                padding-bottom: 0;  /* border랑 글자의 여백 */
                border-bottom: none;
            }
}/*@media*/