/* 
    메인페이지에서만 호출
    메인에 필요한 다른 css를 부름
*/
@import url(default.css);
@import url(fonts.css);
@import url(layout.css);
@import url(common.css);

.visual{
    overflow-x: hidden; /* 가로 스크롤바 허용 안함 */
}
.visual .popup_wrap .popup .item{
    height: 700px;
    background: url(../images/main/visual1.jpg) no-repeat center center / cover;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.visual .popup_wrap .popup .item.bg2{
    background-image: url(../images/main/visual2.jpg);
}
.visual .popup_wrap .popup .item.bg3{
    background-image: url(../images/main/visual3.jpg);
}