@font-face {
    font-family: 'A2z';
    src: url('../fonts/에이투지체-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'A2z';
    src: url('../fonts/에이투지체-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'A2z';
    src: url('../fonts/에이투지체-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}