@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.product{
    background-color: #1E1E1E;
    color: #fff;
    text-align: center;
    padding: 150px 0 85px 0;
}
.product .tit p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 80px 0;
}
.product .list ul{
    display: flex;
    justify-content: space-between;
}
.product .list ul li h3{
    padding: 84px 0 0 0;
}
.product .list ul li p{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 24px 0;
}
.product .list ul li a{
    display: inline-block;
    border: 2px solid #fff;
    padding: 5px 29px 4px 30px;
}
.product .list ul li{
    background: url(../images/list_01.jpg) no-repeat center center / cover;
    width: 404px;
    height: 300px;
}
.product .list ul li.list_02{
    background-image: url(../images/list_02.jpg);
}
.product .list ul li.list_03{
    background-image: url(../images/list_03.jpg);
}

.life{
    background: url(../images/bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 664px;
}
.life .tit{
    padding: 126px 0 0 862px;
}
.life .tit h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    padding: 0 0 15px 0;
}
.life .tit .photo{
    display: none;
}
@media screen and (max-width:768px){
                .product{
                    padding: 100px 0 58px 0;
                }
                .product .tit{
                    text-align: left;
                }
                .product .tit p{
                    font-size: 32px;
                    margin: 0 0 18px 0;
                }
                .product .list ul{
                    display: flex;
                    flex-direction: column;
                    gap: 10px 0;
                }
                .product .list ul li h3{
                    padding: 38px 0 0 0;
                }
                .product .list ul li p{
                    font-size: 24px;
                    margin: 0 0 7px 0;
                }
                .product .list ul li a{
                    background-color: #fff;
                    color: #3d3d3d;
                    width: 78px;
                    height: 25px;
                    padding: 0 20px 1px 20px;
                }
                .product .list ul li{
                    width: auto;
                    height: 168px;
                }
                
                .life{
                    background: none;
                    color: #1d1d1d;
                    height: none;
                }
                .life .tit{
                    padding: 0;
                }
                .life .tit h2{
                    font-size: 32px;
                    padding: 92px 0 23px 0;
                }
                .life .tit p{
                    padding: 0 0 39px 0;
                }
                .life .tit .photo{
                    display: block;
                    width: auto;
                    height: 156px;
                    margin: 0 0 84px 0;
                }
                body{
                    margin: 0;
                }
}/*@media*/

body{
    margin: 0 0 100px 0;
}