@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url(common.css);

.header{
    height: 100px;
    display: flex;  /* logo-gnb 좌우 */
    justify-content: space-between;
    margin: 0 40px 0 50px;
}
.header .logo{
    margin: 29px 0 0 0;  /* 디자인할 때 로고의 모자때문에 위아래 여백이 달라서 위에만 마진 들어가면 됨 */
}
.header .gnb ul{
    display: flex;  /* li 좌우배치 */
}
.header .gnb ul li a{
    display: block;
    line-height: 100px;  /* header의 높이와 같아야 메뉴에 마우스 오버했을 때 아웃되는걸 방지 */
    padding: 0 34px;  /* 메뉴를 눌렀을 때 메뉴가 좌우로 더 눌리는 공간을 주기 위함 */
    font-size: 20px;
    color: #191E26;
}
/* a:hover ==> 마우스를 올렸을 때 나타나는 스타일 hwp.css 9p 참고*/
.header .gnb ul li a:hover{  
    color: #93042F;
}

.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 800px;
    margin: 0 40px;  /* 디자인할 때 화면에 꽉 차게 안하고 좌우여백을 줬으니 margin으로 여백 주기 */ 
    border-radius: 20px;
}
.visual .wrapper{
    padding: 0 0 0 40px;   /* (반응형 때문!)화면 사이즈가 줄었을 때 글자가 bg에 딱 맞게 들어가는 것을 방지하고자 왼쪽 여백을 주는 것임 */
}
.visual h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    padding: 440px 0 22px 0;
}

.biz{
    margin: 129px 0 159px 0;
}
.biz .art{
    margin: 104px 0 0 0;
}
/* music, art 둘 다에 스타일이 적용 됨 */
.biz .group{
    display: flex; /* tit-photo 좌우로 주기 위함 */
    justify-content: space-between;
    align-items: center;  /* 디자인할 때 사진을 기준으로 
    가운데 배치했으면 ==> align-items: center 해주면 됨
    위로부터 20px 떨어졌으면 ==> margin 20px주면 됨 */
}
.biz .group .tit{
    width: 510px;  /* 디자인할 때 p를 기준으로 넓이를 제한했으니 똑같이 줘야 함,,, 넓이 안주면 자기 맘대로 들어가기 때문*/
}
.biz .group .tit h3{
    font-weight: 700;
    color: #93042F;
}
.biz .group .tit .sub_tit{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #191E26;
    margin: 24px 0 25px 0;
}
.biz .group .tit .sub_tit strong{
    color: #93042F;
}
.biz .group .tit .btn_wrap{
    display: flex;  /* a를 좌우배치 */
    margin: 33px 0 0 0;
    gap: 6px 6px; /* flex로 정렬된 a 사이의 여백으로, 위아래여백 / 좌우여백 임 */
    flex-wrap: wrap;  /* ★★★★ flex로 좌우배치되는 a를 두줄로 배치되는 것을 허락하는 것★★★★ */
}
.biz .group .tit .btn_wrap a{
    display: block;
    color: #93042F;
    border: 1px solid #93042F; 
    padding: 13px 45px;
    border-radius: 50px;
    line-height: 1.3;
}  /*
 (a 는 공통으로 해당값을 가지는데, active는 따로 설정)
 <a></a>
 <a></a>
 <a class="active"></a>

 a.active라는 선택자는 a들 중에서 active클래스가 있는 a를 의미함

 a       .active 이렇게 띄어쓰기를 하면
 <a><strong class="active"></strong></a>
 이런식으로 a안에 active 클래스가 별도로 있는 것도 의미함
 */
.biz .group .tit .btn_wrap a.active{
    background-color: #93042F;   /* border는 건들지 않고 bg 색을 줄 것 */
    color: #fff;
}
.biz .group .tit .btn_wrap a:hover{
    background-color: #F4E6EA;
    font-weight: 700;
}
.biz .group .tit .btn_wrap a.active:hover{
    color: #93042F;
}
.biz .group .photo{
    width: 618px;
    height: 536px;
    overflow: hidden; /* ★★★★사진 사이즈 관련 처리 방식★★★★ */
    /* overflow-hidden으로 넘치는 콘텐츠를 자를 경우엔, width와 height가 있어야 함 -> css.hwp 7p 참고 */
    border-radius: 10px;
}
.biz .group .photo img{  /* overflow:hidden;으로 넘치는 컨텐츠를 자를 경우 영역은 넓이와 높이가 있어야 한다. / css.hwp 7p 참고 */
    width: 100%;
    height: 100%;
    object-fit: cover;  /* 사진의 영역을 지정한 높이와 넓이에 꽉 차게(사진이 짤릴 수 있음) */
}

.community{
    background: url(../images/community_bg.jpg) no-repeat center top ;  /* community의 영역이 넓어서 top을 줘야 bg가 디자인한것처럼 위로 옴 */
    /* 넓이는 원래 안주고(화면에 꽉 차니까), 높이는 주게 되면 유튜브 영역이 잘리게 되기 때문에(community안에 notice+youtube가 포함되어 있어서) bg에게 위처럼 center top으로 속성값만 주면 됨 */
    color: #fff;
}
.community .notice{
    padding: 162px 0 156px 0;
    display: flex;
    justify-content: space-between;
    position: relative; /* more의 position 정렬의 기준이 되기 위해 주는 속성 */
}
.community .notice .tit h3{
    font-weight: 700;
    color: #ecde87;
}
.community .notice .tit p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 15px 0 0 0;
}
.community .notice .list{
    width: 721px; 
    /* ※※※넓이를 안주면 justify-content: space-between = 이거 때문에 h4 글자가 모두 오른쪽 끝에 가 있게 됨. 하여 넓이를 줌으로써 디자인한 것과 같은 자리를 지키게 함※※※ */
}
.community .notice .list ul li{
    border-bottom: 1px solid rgba(255,255,255,0.2);  /* 글자 아래에 디자인한것과 같은 밑줄 생성 */
}
/* li:first-child li중 첫 번재 항목을 뜻함 */
.community .notice .list ul li:first-child{
    border-top: 1px solid rgba(255,255,255,0.2);
}
.community .notice .list ul li a{
    display: flex; /*  span - h4 가 좌우로 들어가야 하기 때문에 */
    /* display 속성 하나에는 flex 나 block 둘 중 하나만 들어가야 함 */
    justify-content: space-between;  /* h4 - span 좌우배치 */
    padding: 26px 0 23px 0;  /* 선 때문에 여백이 다름 */    
    align-items: center;  /* h4 와 span은 서로 글자의 크기가 다르기 때문에, 위아래 가운데 정렬을 해줌으로써, span도 위아래 가운데 정렬이 됨 */
}
.community .notice .list ul li a:hover{
    color: #ecde87;
}
.community .notice .list ul li a h4{
    font-size: 20px;
    white-space: nowrap;  /* 글자 무조건 1줄로 */
    text-overflow: ellipsis; /* 잘리는 글자 끝에 ... 추가해주는 속성 */
    overflow: hidden;  /* 넘치는 글자 잘라주는 속성(이미지에서 주는 것과 동일함) */
    width: calc(100% - 121px); /* 넓이가 있어야 적용되는 속성으로, 넓이 100%에서 121px 을 빼고 나머지에만 글자가 들어가게 하는 속성으로
    날짜에서부터 h4가 들어가기 전까지 사각형을 그려 공간을 체크함 =>121px */
}
.community .notice .list ul li a span{
    color: rgba(255, 255, 255, 0.8);
}
.community .notice .list ul li a:hover span{  /* a한테 오버했을 때 a 안에 있는 span 태그의 색상이 바뀌는 것이기 때문에 a:hover span이라고 해줘야 됨 */
    color: #ecde87;
}
.community .notice .more{
    position: absolute; /* notice를 기준으로 정렬할 거임 */
    left: 0;
    top: 337px;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 11px 23px;
}
.community .notice .more:hover{
    background-color: #fff;
    color: #93042F;
    border: 1px solid #fff; /* 코딩할 때 border를 줬다면, 마우스 오버(a:hover)했을 때도 동일해야 함 => 안주게 되면, 테두리가 날아가면서 사이즈가 작아져서 이상해보임 */
}
.community .youtube{
    position: relative;  /* more 정렬의 기준 */
}
.community .youtube .tit h3{
    font-weight: 700;
    color: #ecde87;
}
.community .youtube .tit p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 15px 0 0 0;
}
.community .youtube .list{
    margin: 52px 0 0 0;
}
.community .youtube .list ul{
    display: flex;
    justify-content: space-between;
}
.community .youtube .list ul li{  /* ul li한테는 넓이를 주는 것임!! */
    width: 404px;
}
.community .youtube .list ul li a{
    display: block;
    color: #191E26;
    /* 글자색상은 h4보단 a한테 주는게 좋음 => a한테 오버했을 때 글자색이 변하는 경우가 많기 때문에 */
    /* 글자색상을 줘야 하는 이유는 위의 코딩에서, community에게 bg주면서 글자색상을 흰색으로 지정했기 때문에 바꿔줘야 함  */
}
.community .youtube .list ul li a .photo{
    height: 227px;
    /* ul li a에게 높이를 줘야 하는데, 높이를 줘야 하는 대상이 지금은 사진이기 때문에 .photo한테 높이를 주면 됨 */
    border-radius: 10px;
    border: 2px solid #93042F;
    overflow: hidden; /* 내가 지정한 영역의 크기에서 벗어나는 부분은 숨기는 것임 */
    /* photo엔 overflow: hidden; => 꼭 주기*/
}
.community .youtube .list ul li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* photo에 overflow: hidden; ==> 이거 때문에 img에 'width,height,cover' 총 3개의 속성을 세트로 줘야 함 */
    transition: 0.5s; /* ==> 마우스를 오버했을 때 변경되는 값을 천천히 실행하라는 의미임 */
    /* transition => 효과가 나타나기 전의 상태에게 주는 속성임 */
}
.community .youtube .list ul li a:hover .photo img{
    transform: scale3d(1.125, 1.125, 1);  /* 마우스 오버했을 때 사진 사이즈 확대 가로,세로,가운데 중심=1 을 의미함 */
    /* transform => 효과를 나타나게 하는 행동값 */
}
.community .youtube .list ul li a h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    margin: 27px 0 0 0;
    text-align: center;
}
.community .youtube .more{
    position: absolute; /* youtube를 기준으로 */
    right: 0;
    bottom: 335px;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 11px 23px;
}
.community .youtube .more:hover{
    background-color: #fff;
    color: #93042F;
    border: 1px solid #fff;
}

.footer{
    border-top: 1px solid rgba(69, 75, 82, 0.6);
    color: #454B52;
    margin: 104px 0 200px 0;
    padding: 57px 0;
}
.footer .f_nav ul{
    display: flex;
    gap: 0 41px;  /* li사이의 여백 */
}
.footer .f_nav ul li{
    position: relative;  /* before 정렬의 기준 */
}
.footer .f_nav ul li::before{  /* before는 좌·위 / after는 우·아래 */
    content: "";  /* before & after를 쓸 경우엔 해당되는 태그에 ' ::before & after '를 여백없이 바로 쓰고, content:""; ==> 그냥 써줘야 함 */
    position: absolute; /* li를 기준으로 정렬 */
    left: -21px;
    top: 7px;
    width: 1px; /* 선의 두께 */
    height: 13px; /* 선의 길이 */
    background-color: rgba(69, 75, 82, 0.2); /* 선의 색상 */
}
.footer .f_nav ul li:first-child::before{
    display: none;  /* 첫 번째 li의 before 숨김 */
}
.footer .f_nav ul li a{
    display: block;
    position: relative;  /* after 정렬의 기준 */
}
.footer .f_nav ul li a::after{
    content: "";
    position: absolute;  /* a를 기준으로 정렬 */
    left: 0;
    bottom: -1px;
    width: 0; /* ※※※글자의 넓이는 hover했을 때 변경되는 영역이기 때문에 hover 상태에서 입력함※※※ */
    height: 1px;
    background-color: #454B52;
    transition: 0.3s;
}
.footer .f_nav ul li a:hover::after{
    width: 100%;  /* ※※※글자의 길이가 서로 다르기 때문에, 그걸 맞게 하기 위해서 사이즈를 지정하기 않고 100%로 주는 것임※※※ */
}
.footer .f_info{
    margin: 26px 0;
    display: flex;
    gap: 0 20px;
}