/*
    common.css (layout.css 라고도 함)
    홈페이지 전체에 적용되는 공통스타일
    프로젝트마다 변경됨 - 이 css에 있는 속성을 수정하면 프로젝트 전체가 바뀜
*/
body{
    font-family: "NanumSquareNeo", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #3d3d3d;
    line-height: 1.5;/* 배수(글자크기의 몇배) */
    word-break: keep-all;/* 단어 단위로 줄바꿈 */
}
.wrapper{
    width: 1260px;
    margin: 0 auto; /* 화면에 가운데 정렬 */
}
#wrap{
    position: relative;/* header 정렬의 기준 */
}
@media screen and (max-width:1360.8px){ /* 1260+50+50 = 1360 -- 네이버의 좌우여백을 준거임 */
    .wrapper{
        width: auto;
        margin: 0 4%; /* 1260+50+50 = 1360 ==> 여기서 선언한 좌우 여백이 여기로 들어감*/
    }
}/*@media*/

@media screen and (max-width:768px){/* 브라우저 넓이가 768이하일때 (768부터~) */
                body{
                    font-size: 16px;
                }
                .wrapper{
                    margin: 0 4%;  /* 사이트 비교해서 제일 많이 나온 좌우여백 값을 준거임 */
                }
}/*@media*/

/* html 표준때문에 입력해야하는 태그이지만 홈페이지에 영원히 나오지 않는
   태그에 주는 클래스 */
.sr-only, .skip, .blind {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

:root{
    --header-height: 90px;
}

@media screen and (max-width:1024px){
    :root{
        --header-height: 70px;
    }
}/*@media*/

@media screen and (max-width:768px){
    :root{
        --header-height: 56px;
    }
}/*@media*/